{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}


<!-- Section -->
<section class="section">
	<div class="row">
		<div class="col-md-12">
			<div class="bg-secondary-soft p-3 p-md-5 rounded">
				<!-- Title -->
				<div class="row d-none d-md-block">
					<div class="col-12 align-middle py-3">
						<div class="row border-bottom">
							<div class="col-6 text-start">
								<h5>Product</h5>
							</div>
							<div class="col-6">
								<div class="row">
									<div class="col-3 align-middle text-center py-2">
										<h5>Price</h5>
									</div>
									<div class="col-3 align-middle text-center py-2">
										<h5>Quantity</h5>
									</div>
									<div class="col-3 align-middle text-center py-2">
										<h5>Subtotal</h5>
									</div>
									<div class="col-2 align-middle text-center py-2">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<!-- Property -->
				<div class="select_btn_ara">
					<label>
						<button type="button" onclick="checkbox_manager();" class="btn btn-secondary">전체 선택</button>
						<button type="button" onclick="remove_checked_item();" class="btn btn-dark">선택 삭제</button>
					</label>		
				</div>

				{% for cart_item in cart_items %}
				<!-- Property -->
				<div class="row">
					<div class="col-12 align-middle py-4">
						<div class="row">
							<div class="col-xxl-1">
								<input type="checkbox" name="cart_item_id" value="{{cart_item.pk}}">
							</div>
							<div class="col-xxl-5">
								<div class="card bg-transparent">
									<div class="row p-2">
										<!-- Image -->
										<div class="col-xl-4 text-center">
											<img class="rounded" src="{% static 'images/property/grid-list/08.jpg' %}" alt="">
										</div>
										<!-- Info -->
										<div class="col-xl-8 pt-2 pt-xl-0 text-center">
											<h6 class="mb-1">{{cart_item.product.name}}</h6>
											<p class="mb-1 text-body">
												{% if cart_item.variant_value is not None %}
												{{cart_item.variant_value.value}} + ₱{{cart_item.variant_value.price}}
												{% endif %}
											</p>
											<span class="text-success">₱{{cart_item.product.price|add:cart_item.variant_value.price|intcomma}}</span>
										</div>
									</div>
								</div>
							</div>
							<!-- Content -->
							<div class="col-xxl-6 pt-2 pt-xxl-0 text-center">
								<div class="row">
									<!-- Price -->
									<div class="col-md-3 align-middle text-center">
										₱{{cart_item.product.price|add:cart_item.variant_value.price|intcomma}}
									</div>
									<!-- Quantity -->
									<div class="col-md-3 align-middle pt-2 pt-md-0 text-center">
										<input type="number" class="form-control text-center" min="0" onfocusout="update_cart_submit(this)" data-cart-item-id="{{cart_item.id}}" value="{{cart_item.quantity}}">
									</div>
									<!-- Subtotal-->
									<div class="col-md-3 align-middle pt-2 pt-md-0 text-center">
										₱{{cart_item.product.price|add:cart_item.variant_value.price|mul:cart_item.quantity|intcomma}}
									</div>
									<!-- Trash -->
									<div class="col-md-2 align-middle pt-2 pt-md-0">
										<button class="btn btn-sm btn-danger-soft mb-1" type="button" onclick="remove_cart_submit('{{cart_item.id}}');"><i class="far fa-fw fa-trash-alt"></i></button>
									</div>
								</div>
							</div>
						</div> <!-- Row END -->
					</div>
				</div>
				{% endfor %}
				<div class="Checkout">
					<table id="cart" class="table table-hover table-condensed">
						<tfoot>
						<tr>
							<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="3" class="hidden-xs"></td>
							<td class="hidden-xs" style="text-align:right !important;"><strong id="total_price">Total ₱{{total_price|intcomma}}</strong></td>
							<td style="text-align: right;"><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
						</tfoot>
					</table>
				</div>	
			</div>
		</div>
	</div>
</section>


<script>
	
is_run = false;

function remove_cart_submit(cart_item_id) {
	is_run = true;

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:remove' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			cart_item_id:cart_item_id
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				openModal("알림", data.result_text,'','reload');
			}else{
				openModal("알림", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        }
    });
}

function update_cart_submit(e) {
	is_run = true;

	let cart_item_id = e.dataset.cartItemId;
	let qty = e.value;

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:update' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			cart_item_id: cart_item_id,
			qty: qty
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				openModal("알림", data.result_text,'','reload');
			}else{
				openModal("알림", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        }
    });
}

function checkbox_manager() {
	const allboxes = document.querySelectorAll("input[name=cart_item_id][type=checkbox]");
	// if some of the checkbox is checked
	const isSomeCheck = [...allboxes].some(item => item.checked);
	
	// if all are checked
	const isAllChecked = [...allboxes].every(item => item.checked);
	// if some are checked then on click of button check all
	if (!isSomeCheck) {
		allboxes.forEach(item => item.checked = true);
	} else if (isAllChecked && isSomeCheck) {
		allboxes.forEach(item => item.checked = false);
	} else{
		allboxes.forEach(item => item.checked = true);
	}
}

function remove_checked_item() {
	const item_list = document.querySelectorAll("input[name=cart_item_id][type=checkbox]:checked");

	item_list.forEach(ele => remove_cart_submit(ele.value));
}
</script>
{% endblock %}