{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}


<!-- Section -->
   <!-- CART DETAILS
        ================================================== -->
        <section>
            <div class="container">

                <div class="row">

                    <!-- product table -->
                    <div class="col-12 shop-cart-table">
                        <table class="table shop-cart text-center">
                            <colgroup>
                                <col width="100">
                                <col>
                                <col width="1">
                                <col>
                                <col width="100">
                                <col width="1">
                            </colgroup>

                            <thead>
                                <tr >
                                    <th class="first"></th>
                                    <th class="text-start text-uppercase font-weight-500">Product</th>
                                    <th class="text-start text-uppercase font-weight-500">Price</th>
                                    <th class="text-center text-uppercase font-weight-500">Qty</th>
                                    <th class="text-start text-uppercase font-weight-500">Sub Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail text-start">
                                        <a href="#!"><img src="img/shop/product-01.jpg" alt="..." class="w-100px"></a>
                                    </td>
                                    <td class="text-start">
                                        <a href="#!">Red Leather bag</a>
                                        <span class="text-uppercase d-block">SKU: 290397</span>
                                    </td>
                                    <td class="text-start">
                                        $599
                                    </td>
                                    <td class="product-quantity">
                                        <input class="text-center" readonly type="text" name="qty" value="0" />
										<div class="arrow">
											<ul>
												<li class="up"><a href="#">up</a></li>
												<li class="down"><a href="#">down</a></li>
											</ul>
										</div>
                                    </td>
                                    <td class="product-subtotal text-start">$599</td>
                                    <td class="product-remove text-center">
                                        <a href="#!"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail text-start">
                                        <a href="#!"><img src="img/shop/product-06.jpg" alt="..." class="w-100px"></a>
                                    </td>
                                    <td class="text-start">
                                        <a href="#!">Wireless-Black headphone</a>
                                        <span class="text-uppercase d-block">SKU: 290397</span>
                                    </td>
                                    <td class="text-start">
                                        $699
                                    </td>
                                    <td class="product-quantity">
                                        <input class="text-center" readonly type="text"name="qty" value="0" />
										<div class="arrow">
											<ul>
												<li class="up"><a href="#">up</a></li>
												<li class="down"><a href="#">down</a></li>
											</ul>
										</div>
                                    </td>
                                    <td class="product-subtotal text-start">$699</td>
                                    <td class="product-remove text-center">
                                        <a href="#!"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail text-start border-bottom-0">
                                        <a href="#!"><img src="img/shop/product-02.jpg" alt="..." class="w-100px"></a>
                                    </td>
                                    <td class="text-start border-bottom-0">
                                        <a href="#!">Brown shoes</a>
                                        <span class="text-uppercase d-block">SKU: 290397</span>
                                    </td>
                                    <td class="text-start border-bottom-0">
                                        $300
                                    </td>
                                    <td class="product-quantity border-bottom-0">
										<input class="text-center"readonly  type="text"name="qty" value="0" />
										<div class="arrow">
											<ul>
												<li class="up"><a href="#">up</a></li>
												<li class="down"><a href="#">down</a></li>
											</ul>
										</div>
                                    </td>
                                    <td class="product-subtotal text-start border-bottom-0">$300</td>
                                    <td class="product-remove text-center border-bottom-0">
                                        <a href="#!"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end product table -->

                    <!-- button set -->
                    <div class="col-12 border-bottom border-top py-1-9 py-lg-2-3 mb-3 mb-lg-0">
                        <button class="butn small mb-2 mb-sm-0"><span>Empty Cart</span></button>
                        <button class="butn small float-end ms-2 mb-2 mb-sm-0"><span>Continue Shopping</span></button>
                        <button class="butn small float-end ms-2"><span>Update Shopping Cart</span></button>
                    </div>
                    <!-- end button set -->

                    <!-- total block set -->
                    <div class="col-12 cart-total py-1-9 pt-lg-2-3 pb-lg-0">
                        <div class="row">

                            <div class="col-lg-5 col-md-5 mb-1-9 mb-md-0">
                                <div id="accordion" class="accordion-style2">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Coupon Code
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <form action="#">

                                                    <input type="text" class="form-control mb-2" placeholder="Enter Your Coupon code">
                                                    <button class="butn small"><span>Apply Code</span></button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Calculate Shipping
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <form action="#">

                                                    <input type="text" class="form-control mb-2" placeholder="Country">
                                                    <input type="text" class="form-control mb-2" placeholder="State / County">
                                                    <input type="text" class="form-control mb-2" placeholder="Postcode">
                                                    <button class="butn small"><span>Update Totals</span></button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 offset-lg-1 col-md-7 offset-md-0">
                                <table class="table cart-sub-total">
                                    <tbody>
                                        <tr>
                                            <th class="text-end pe-0 text-uppercase">Cart Subtotal</th>
                                            <td class="text-uppercase text-end pe-0">$1598</td>
                                        </tr>
                                        <tr>
                                            <th class="text-end pe-0 text-uppercase">Shipping and Handling</th>
                                            <td class="text-uppercase text-end pe-0">Free</td>
                                        </tr>
                                        <tr>
                                            <td class="pe-0" colspan="2">
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <th class="text-uppercase text-end pe-0">Order Total</th>
                                            <td class="text-uppercase text-end pe-0">$1598</td>
                                        </tr>
                                        <tr>
                                            <td class="pe-0" colspan="2">
                                                <hr class="mb-0">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="butn primary medium float-end" href="#!"><span>Proceed to Checkout</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end total block set -->

                </div>

            </div>
        </section>


<script>
	
is_run = false;

function remove_cart_submit(cart_item_id) {
	is_run = true;

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:remove' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			'cart_item_id[]':cart_item_id
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				openModal("알림", data.result_text,'','reload');
			}else{
				openModal("알림", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        }
    });
}

function update_cart_submit(e) {
	is_run = true;

	let cart_item_id = e.dataset.cartItemId;
	let qty = e.value;

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:update' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			cart_item_id: cart_item_id,
			qty: qty
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				openModal("알림", data.result_text,'','reload');
			}else{
				openModal("알림", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        }
    });
}

function checkbox_manager() {
	const allboxes = document.querySelectorAll("input[name=cart_item_id][type=checkbox]");
	// if some of the checkbox is checked
	const isSomeCheck = [...allboxes].some(item => item.checked);
	
	// if all are checked
	const isAllChecked = [...allboxes].every(item => item.checked);
	// if some are checked then on click of button check all
	if (!isSomeCheck) {
		allboxes.forEach(item => item.checked = true);
	} else if (isAllChecked && isSomeCheck) {
		allboxes.forEach(item => item.checked = false);
	} else{
		allboxes.forEach(item => item.checked = true);
	}
}

function remove_checked_item() {
	const item_list = document.querySelectorAll("input[name=cart_item_id][type=checkbox]:checked");

	let arr = [];

	item_list.forEach(ele => arr.push(ele.value));

	remove_cart_submit(arr);
}
</script>
{% endblock %}