{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load product_filter %}


<!-- Section -->
   <!-- CART DETAILS
        ================================================== -->
        <section>
            <div class="container" id="cart-container">

                <div class="row">

                    <!-- product table -->
                    <div class="col-12 shop-cart-table">
                        <table class="table shop-cart text-center">
                            <colgroup>
                                <col width="100">
                                <col>
                                <col width="1">
                                <col>
                                <col width="100">
                                <col width="1">
                            </colgroup>

                            <thead>
                                <tr >
                                    <th class="first" style="width:10%;"></th>
                                    <th class="text-start text-uppercase font-weight-500" style="width:40%;">Product</th>
                                    <th class="text-start text-uppercase font-weight-500" style="width:20%;">Price</th>
                                    <th class="text-center text-uppercase font-weight-500" style="width:10%;">Qty</th>
                                    <th class="text-start text-uppercase font-weight-500" style="width:20%;">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
								{% if not cart_items %}
								<tr>
									<td class="border-bottom-0" colspan="7">상품이 없습니다.</td>
								</tr>
								{% endif%}
								{% for cart_item in cart_items %}
                                <tr>
									<td class="product-thumbnail text-start {% if forloop.last %}border-bottom-0{% endif %}">
                                        <a href="#!" class="position-relative">
											<input type="checkbox" class="position-absolute top-0 start-0" name="cart_item_id" value="{{cart_item.pk}}">
											<img src="{% static 'img/shop/product-01.jpg' %}" alt="..." class="w-100px">
										</a>
										
                                    </td>
                                    
                                    <td class="text-start {% if forloop.last %}border-bottom-0{% endif %}">
                                        <a href="#!">{{cart_item.product.name}}</a>
										{% if cart_item.variant_value is not None %}
                                        <span class="text-uppercase d-block">
											{{cart_item.variant_value.variant}}: {{cart_item.variant_value.value}}
										</span>
										
										<span class="text-uppercase d-block">+₱{{cart_item.variant_value.price}}</span>
										{% endif %}
                                    </td>
                                    <td class="text-start {% if forloop.last %}border-bottom-0{% endif %}">
                                        {% if variant_value is not None %}
										₱{{cart_item.product.price|add:cart_item.variant_value.price|intcomma}}
										{% else %}
										₱{{cart_item.product.price|intcomma}}
										{% endif %}
                                    </td>
                                    <td class="product-quantity {% if forloop.last %}border-bottom-0{% endif %}">
										<div class="d-flex justify-content-center">
											<select id="qty" class="form-control form-select" onchange="update_cart_submit(this);" data-cart-item-id="{{cart_item.id}}">
												{% for i in 10|times %}
												<option value="{{forloop.counter}}" {% if forloop.counter is cart_item.quantity %}selected{% endif %} >{{forloop.counter}}</option>
												{% endfor %}
											</select>
										</div>
                                    </td>
                                    <td class="product-subtotal text-start {% if forloop.last %}border-bottom-0{% endif %}">
										{% if variant_value is not None %}
										₱{{cart_item.product.price|add:cart_item.variant_value.price|mul:cart_item.quantity|intcomma}}
										{% else %}
										₱{{cart_item.product.price|mul:cart_item.quantity|intcomma}}
										{% endif %}
									</td>
                                    <td class="product-remove text-center {% if forloop.last %}border-bottom-0{% endif %}">
                                        <a href="#" onclick="remove_cart_submit('{{cart_item.id}}');"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
								{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end product table -->
					
					<div class="col-12 text-end border-bottom border-top py-1-9 py-lg-2-3 mb-3 mb-lg-0">
						<button class="butn primary small ms-2" onclick="checkbox_manager();"><span>전체선택</span></button>
                        <button class="butn small ms-2 mb-2 mb-sm-0" onclick="remove_checked_item();"><span>선택삭제</span></button>
                    </div>

					<div class="col-12 cart-total py-1-9 pt-lg-2-3 pb-lg-0">
                        <div class="row">

                            <div class="col-lg-5 col-md-5 mb-1-9 mb-md-0">
                                <div id="accordion" class="accordion-style2">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Calculate Shipping
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <form action="#">

                                                    <input type="text" class="form-control mb-2" placeholder="Country">
                                                    <input type="text" class="form-control mb-2" placeholder="State / County">
                                                    <input type="text" class="form-control mb-2" placeholder="Postcode">
                                                    <button class="butn small"><span>Update Totals</span></button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 offset-lg-1 col-md-7 offset-md-0">
                                <table class="table cart-sub-total">
                                    <tbody>
                                        <tr>
                                            <th class="text-end pe-0 text-uppercase">Cart Subtotal</th>
                                            <td class="text-uppercase text-end pe-0">₱{{total_price|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-end pe-0 text-uppercase">Shipping and Handling</th>
                                            <td class="text-uppercase text-end pe-0">Free</td>
                                        </tr>
                                        <tr>
                                            <td class="pe-0" colspan="2">
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <th class="text-uppercase text-end pe-0">Order Total</th>
                                            <td class="text-uppercase text-end pe-0">₱{{total_price|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pe-0" colspan="2">
                                                <hr class="mb-0">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="butn primary medium float-end" href="#!"><span>Proceed to Checkout</span></a>
                            </div>
                        </div>
                    </div>

                    <!-- end total block set -->

                </div>

            </div>
        </section>


<script>
	
is_run = false;

function remove_cart_submit(cart_item_id) {
	is_run = true;

	$('#my-spinner').show();

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:remove' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			'cart_item_id[]':cart_item_id
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				$("#cart-container").load(location.href + " #cart-container");
			}else{
				openModal("알림", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        },
		complete: function () {
			$('#my-spinner').hide();
		}
    });
}

function update_cart_submit(e) {
	is_run = true;

	let cart_item_id = e.dataset.cartItemId;
	let qty = e.value;

	$('#my-spinner').show();

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:update' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			cart_item_id: cart_item_id,
			qty: qty
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				$("#cart-container").load(location.href + " #cart-container");
			}else{
				openModal("알림", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        },
		complete: function () {
			$('#my-spinner').hide();
		}
    });
}

function checkbox_manager() {
	const allboxes = document.querySelectorAll("input[name=cart_item_id][type=checkbox]");
	// if some of the checkbox is checked
	const isSomeCheck = [...allboxes].some(item => item.checked);
	
	// if all are checked
	const isAllChecked = [...allboxes].every(item => item.checked);
	// if some are checked then on click of button check all
	if (!isSomeCheck) {
		allboxes.forEach(item => item.checked = true);
	} else if (isAllChecked && isSomeCheck) {
		allboxes.forEach(item => item.checked = false);
	} else{
		allboxes.forEach(item => item.checked = true);
	}
}

function remove_checked_item() {
	const item_list = document.querySelectorAll("input[name=cart_item_id][type=checkbox]:checked");

	let arr = [];

	item_list.forEach(ele => arr.push(ele.value));

	remove_cart_submit(arr);
}
</script>
{% endblock %}