{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-7 col-xl-6">
				<div class="bg-white p-4 border border-width-5">
					<div class="text-center section-heading">
						<h2>Login</h2>

					</div>
					<form name="loginForm">
						{% csrf_token %}
						<div class="row">

							<div class="col-sm-12">

								<div class="form-group">
									<label>Username</label>
									<input type="text" class="form-control" name="username" placeholder="Your Username here">
								</div>

							</div>

							<div class="col-sm-12">

								<div class="form-group">
									<label>Password </label>
									<input type="password" class="form-control" name="password" placeholder="Your password here">
								</div>

							</div>

						</div>

						<div class="row">
							<div class="col-sm-6 mb-2">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="login-remember">
									<label class="custom-control-label" for="login-remember">Keep me signed in</label>
								</div>
							</div>
							<div class="col-sm-6 text-start text-sm-end">
								<a href="forgot-password.html" class="m-link-muted">Forgot password?</a>
							</div>

						</div>

						<button type="button" class="butn primary w-100 mt-4" onclick="login_submit();"><span>Login</span></button>
						<div class="text-center text-small mt-4">
							<span>Don't have an account yet? <a href="registration.html">Register</a></span>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>
</section>


<script>
	var is_run = false;

	$(document).ready(function() {
    $("form[name=loginForm]").keypress(function (e) {
			if (e.keyCode === 13) {
				login_submit();
			}
		});
  	});
	

	function login_submit() {
    var loginForm = document.loginForm;
    var username = loginForm.username.value;
    var password = loginForm.password.value;

		var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
        
    if (isEmpty(username)) {
      	openModal('알림','이메일을 입력해주세요.');
		return false;

    }
	if (isEmpty(password)) {
      	openModal('알림','비밀번호를 입력해주세요.');
		return false;
    }

	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
    }

	is_run = true;
    var queryString = $("form[name=loginForm]").serialize();
	
	$('#my-spinner').show();

    $.ajax({
        type : 'POST',
        url : "{{request.path}}",
        data : queryString,
        dataType : 'json',
        success: function(data){
          if(data.result==200){
            location.replace("{% url 'main:index' %}");
          }else{
            openModal("알림", data.result_text);
          }
					is_run  = false;
          return;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        },
		complete: function () {
			$('#my-spinner').hide();
		}
    });
  }

</script>
{% endblock %}