{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="my_page_main row">
				{% include "account/mypage/sidemenu.html" with active_tab="취소/변경" %}
				<div class="col-lg-9">
					{% include "account/mypage/topmenu.html" %}
					<div class="row">
						<div class="col-12">
							<!-- Page title -->
							<div class="mypage_main_title">
								<h3>1:1 문의게시판 </h3>
							</div>
							<!-- Ask Content START -->
							<div class="row main_contents">
								<div class="col-md-12">
									<div class="bg-secondary-soft p-3 p-md-5 rounded">
										<table class="ask_table table">
											<thead>
											<tr>
												<th scope="col" class="col-1">번호</th>
												<th scope="col" class="col-7">제목</th>
												<th scope="col" class="col-2">작성자</th>
												<th scope="col" class="col-2">날짜</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<th scope="row">1</th>
											<td><a href="/account/mypage/qna/detail">제목입니다.</a></td>
												<td>Otto</td>
												<td>2022-10-20</td>
											</tr>
											</tbody>
										</table>
									</div>
									<!-- Details -->
									<div class="ask_btn">
										<a href="/account/mypage/qna/write" class="btn btn-secondary">문의 작성</a>
									</div>
								</div>
							</div>
							<!-- Ask Content END  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}