<style>
.order-details > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order-details > ul > li:first-child {
	font-weight: bold;
	margin: 5px 0;
}

</style>

<div class="card border border-light">
	<div class="card-header bg-transparent border-light">
		<h6 class="card-title my-0 fw-bold">주문상세정보</h6>
	</div>
	<div class="row card-body order-details">
		<ul class="col-6">
			<li>상품명:</li>
			<li>{{order_item_obj.product_name}}</li>
		</ul>
		<ul class="col-6">
			<li>주문상태:</li>
			<li>{{order_item_obj.order_item_status}}</li>
		</ul>
		<ul class="col-6">
			<li>결제일:</li>
			<li>{{order_item_obj.order.payment.paid_at}}</li>
		</ul>
		<ul class="col-6">
			<li>주문자명:</li>
			<li>{{order_item_obj.order.user.mb_name}}</li>
		</ul>
		<ul class="col-6">
			<li>아이디:</li>
			<li>{{order_item_obj.order.user.username}}</li>
		</ul>
		<ul class="col-6">
			<li>수량:</li>
			<li>{{order_item_obj.ordered_quantity}}</li>
		</ul>
		<ul class="col-6">
			<li>판매금액:</li>
			<li>₱{{order_item_obj.sub_total_price}}</li>
		</ul>

		{% if cart_item.variant_value is not None %}
		<ul class="col-6">
			<li>{{cart_item.variant_value.variant}}:</li>
			<li>{{cart_item.variant_value.value}} +₱{{cart_item.variant_value.price}}</li>
		</ul>	
		{% endif %}
		
				
	</div>
</div>
<div class="card border border-light">
	<div class="card-header bg-transparent border-light">
		<h6 class="card-title my-0 fw-bold">결제상세정보:</h6>
	</div>
	<div class="row card-body order-details">
		<ul class="col-6">
			<li>결제수단:</li>
			<li>a</li>
		</ul>
		<ul class="col-6">
			<li>결제상태:</li>
			<li>a</li>
		</ul>
		<ul class="col-6">
			<li>상품 결제 금액:</li>
			<li>a</li>
		</ul>		
		<ul class="col-6">
			<li>적릭금 할인:</li>
			<li>a</li>
		</ul>
	</div>
</div>
<div class="card border border-light">
	<div class="card-header bg-transparent border-light">
		<h6 class="card-title my-0 fw-bold">서비스정보:</h6>
	</div>
	<div class="row card-body order-details">
		<ul class="col-6">
			<li>서비스 시작일:</li>
			<li></li>
		</ul>
		<ul class="col-6">
			<li>서비스 종료일:</li>
			<li></li>
		</ul>	
	</div>
</div>
<div class="card border border-light">
	<div class="card-header bg-transparent border-light">
		<h6 class="card-title my-0 fw-bold">배송지정보:</h6>
	</div>
	<div class="row card-body order-details">
		<ul class="col-6">
			<li>주문자명:</li>
			<li></li>
		</ul>
		<ul class="col-6">
			<li>연락처:</li>
			<li></li>
		</ul>	
		<ul class="col-12">
			<li>주문자 주소:</li>
			<li></li>
		</ul>	
	</div>
</div>