{% extends 'admin/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load util_filter %}
{% load mathfilters %}

<link href="{% static 'admin/css/nice-select.css' %}" rel="stylesheet">

<style>

.date-search, .date-search-area {
	width: 50%;
}
.date-search-area {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.date-search-area.show {
	height: 100px;
}
@media only screen and (max-width: 767px){
	.search-form {
		flex-direction: column;
	}
}
@media only screen and (max-width: 575px){
	.date-search, .date-search-area {
		width: 100%;
	}
	.nice-select {
		width: 100%;
		margin-bottom: 10px;
	}
	.nice-select > ul {
		width: 100%;
	}
	button[type=submit] {
		width: 100% !important;
		margin: 10px 0px !important;
	}
}
</style>
<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header justify-content-between d-flex align-items-center">
						<h4 class="card-title">Order Management</h4>
					</div>
					<div class="card-body">
						<form action="{{request.path}}" method="GET" name="dateSearchForm">
							<div class="date-search nice-select mb-2 float-none">Period</div>
							<div class="date-search-area mt-3">
								<div class="btn-group" id="date-btn">
									<button type="button" class="btn btn-outline-primary" onclick="todayBtn()">Today</button>
									<button type="button" class="btn btn-outline-primary" onclick="lastWeekBtn()">1 Week</button>
									<button type="button" class="btn btn-outline-primary" onclick="lastOneMonthBtn()">1 Month</button>
									<button type="button" class="btn btn-outline-primary" onclick="lastThreeMonthBtn()">3 Months</button>
									<button type="button" class="btn btn-outline-primary" onclick="lastSixMonthBtn()">6 Months</button>
								</div>

								<div class="d-flex mt-2">
									<input class="form-control" name="start_date" type="date" id="start-date-input">
									&nbsp;&nbsp;~&nbsp;&nbsp;
									<input class="form-control" name="end_date" type="date" id="end-date-input">
									<button type="submit" data-bs-target="#" data-bs-toggle="collapse" class="ms-2 border-0 bg-white">
										<i class="bx bx-search-alt-2 fs-4"></i>
									</button>
								</div>
							</div>
							<div class="search-form d-sm-flex justify-content-between">
								<div class="category-search d-sm-inline-flex mb-3">
									<select class="nice-select me-1" name="category" style="width: 200px;">
										<option value="0">Num</option>
										<option value="1">Product</option>
										<option value="2">Name</option>
									</select>
									<input type="text" name="keyword" class="form-control">
									<button type="submit" style="width:100px;" class="btn btn-primary mx-1">Search</button>

									<select name="sort_by" class="nice-select" id="sort-by" style="border-color: #ddd; cursor: pointer;" >
										<option selected disabled>Fliter</option>
										<option value="id">By region</option>
										<option value="apart">By apartment</option>
										<option value="state">By status</option>
										<option value="order-newest">Newest</option>
										<option value="order-oldest">Oldest</option>
									</select>
								</div>
								<div class="excel-btn text-end mb-2">
									<!-- <a href="{% url 'revenue:admin_revenue_export' %}?start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}"> -->
										<span class="btn btn-outline-dark"><img class= "me-2" style="width: 40px;" src="{% static 'admin/images/down_i.png' %}">Excel Download</span>
									<!-- </a> -->
								</div>
							</div>
						</form>			
						<div class="responsiveTable text-center">
							<table class="table table-bordered align-middle table-check">
								<thead>
									<tr>
										<th scope="col" style="width: 50px;">
											<div class="form-check font-size-16">
												<input type="checkbox" class="form-check-input" id="checkAll">
												<label class="form-check-label" for="checkAll"></label>
											</div>
										</th>
										<th scope="col">Num</th>
										<th scope="col">Status</th>
										<th scope="col">Product</th>
										<th scope="col">Option</th>
										<th scope="col">Qty</th>
										<th scope="col">Name</th>
										<th scope="col">Contact</th>
										<th scope="col">Remaining quantity</th>
										<th scope="col">Payment date</th>
									</tr><!-- end tr -->
								</thead><!-- end thead -->
								<tbody>
									{% if not order_item_objs %}
									<tr>
										<td class="border-bottom-0 text-center p-5" colspan="10">There is no order.</td>
									</tr>
									{% endif%}
									
									{% for order_item_obj in order_item_objs %}
									<tr>
										<td scope="row">
											<div class="form-check font-size-16">
												<input type="checkbox" class="form-check-input" id="contacusercheck1">
												<label class="form-check-label" for="contacusercheck1"></label>
											</div>
										</td>

										<td data-label="Num">
											<a href="#!" class="text-link fw-medium" onclick="get_order_item_info('{{order_item_obj.order_item_uid}}', `{% url 'order:admin_order_detail' order_item_obj.pk %}`);">{{order_item_obj.order_item_uid}}</a>
										</td>

										<td data-label="Status">
											<span class="badge badge-soft-primary">{{order_item_obj.order_item_status}}</span>
										</td>

										<td data-label="Product">
											<a href="#!" class="text-link fw-medium">{{order_item_obj.product_name}}</a>
										</td>

										<td data-label="Option">
											{{order_item_obj.variant_value}}
										</td>

										<td data-label="Qty">
											{{order_item_obj.ordered_quantity}}
										</td>

										<td data-label="Name">
											{{order_item_obj.order.user.mb_name}}
										</td>

										<td data-label="Contact">
											{{order_item_obj.order.user.mb_phone}}
										</td>

										<td data-label="Remaining quantity">
											{{order_item_obj.ordered_quantity|sub:order_item_obj.shipped_quantity}}
										</td>

										<td data-label="Payment date">
											{{order_item_obj.order.payment.paid_at}}
										</td>
									</tr><!-- end tr -->
									{% endfor %}
								</tbody><!-- end tbody -->
							</table><!-- end table -->
						</div><!-- end table responsive -->

						<div class="row g-0 text-center text-sm-start">
							<!-- end col -->
							<div class="col-12">
								<ul class="pagination pagination-rounded justify-content-center mb-sm-0">
									{% if order_item_objs.has_previous %}
									<li class="page-item">
										<a href="?p={{order_item_objs.previous_page_number }}" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-left"></i></span>
									</li>
									{% endif %}
									
									{% for page_number in order_item_objs.paginator.page_range %}
										{% if page_number >= order_item_objs.number|add:-2 and page_number <= order_item_objs.number|add:2 %}
											{% if page_number == order_item_objs.number %}
											<li class="page-item active">
												<span class="page-link">{{ page_number }}</span>
											</li>
											{% else %}
											<li class="page-item">
												<a href="?p={{page_number }}" class="page-link">{{ page_number }}</a>
											</li>
											{% endif %}
										{% endif %}
									{% endfor %}
									
									{% if order_item_objs.has_next  %}
									<li class="page-item">
										<a href="?p={{order_item_objs.next_page_number }}" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-right"></i></span>
									</li>
									{% endif %}
								</ul>
							</div><!-- end col -->
						</div><!-- end row -->
						
					</div><!-- end card body -->
				</div><!-- end card -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div>
</div>

<div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title fw-bold" id="orderDetailModalLabel">View Product Order Information [Order Number]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="orderDetailModalBody">
				
			</div>
			<div class="modal-footer">
				<span class="btn btn-secondary" data-bs-dismiss="modal">Close</span>
			</div>
		</div>
	</div>
</div>


<script src="{% static 'admin/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'admin/js/pages/jquery.nice-select.js' %}"></script>
<script src="{% static 'admin/js/pages/jquery.nice-select.min.js' %}"></script>
<script>
let is_run = false;

async function get_order_item_info(order_item_uid, url) {
	if(is_run == true) {
		openModal('Alert','Please try again later.');
		return false;
	}
	let label = document.getElementById('orderDetailModalLabel');
	let body = document.getElementById('orderDetailModalBody');
	label.innerHTML = `View Product Order Information []`;
	body.innerHTML ='<div class="text-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>';
	var modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('orderDetailModal'));
	modal.show();

	is_run = true;

    const response = await fetch(url, {
		method: "GET",
	})
	.then(response => response.text())
	.then(data => {
		label.innerHTML = `View Product Order Information [${order_item_uid}]`;
		body.innerHTML = data;
	});
	is_run  = false;
}

let dateSearch = document.querySelector(".date-search");
let dateSearchArea = document.querySelector(".date-search-area");

dateSearch.addEventListener("click", ()=>{
	dateSearchArea.classList.toggle("show");
})

//==============================
// 지역별, 아파트별 등 정렬
//==============================

$(document).ready(function() {
	$('select').niceSelect();

	const urlParams = new URLSearchParams(window.location.search);
	let sort = urlParams.get('sort');
	if (isEmpty(sort)) {
		sort = 'id';
	}
	console.log(sort);

	let element = document.getElementById("sort-by");
    element.value = sort;
});

const sort = document.querySelector('select[name=sort_by]');

sort.addEventListener('change', (event) => {
	var link = `{{request.path}}?sort=${event.target.value}`;
	location.href=link;
});

</script>
{% endblock %}
