{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'vendor/node_modules/css/mermaid.min.css' %}">

<!--/section-->
<section>
	<div class="container position-relative pt-12 pt-lg-15">
		<div class="row">
			<div class="col-lg-12 col-md-10">
				<h1 class="display-2 mb-3">
					FAQ
				</h1>
				<p class="mb-7 pe-lg-9 lead">Do you have questions about our products or need a quote? Use
					the Frequently Asked Questions. We believe you'll be able to get help.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div id="table-gridjs" class="table"></div>
				</div>
				<!-- end card body -->
			</div>
			<!-- end card -->
		</div>
		<!-- end col -->
	</div>


<script src="{% static 'vendor/node_modules/js/gridjs.umd.js' %}"></script>

<script>
	new gridjs.Grid({
		columns:["Name","Email","Position","Company","Country"],
		pagination:{limit:10},
		sort:!0,
		search:!0,
		data:[
			["Jonathan","jonathan@example.com","Senior Implementation Architect","Hauck Inc","Holy See"],
			["Harold","harold@example.com","Forward Creative Coordinator","Metz Inc","Iran"],
			["Shannon","shannon@example.com","Legacy Functionality Associate","Zemlak Group","South Georgia"],
			["Robert","robert@example.com","Product Accounts Technician","Hoeger","San Marino"],
			["Noel","noel@example.com","Customer Data Director","Howell - Rippin","Germany"],
			["Traci","traci@example.com","Corporate Identity Director","Koelpin - Goldner","Vanuatu"],
			["Kerry","kerry@example.com","Lead Applications Associate","Feeney, Langworth and Tremblay","Niger"],
			["Patsy","patsy@example.com","Dynamic Assurance Director","Streich Group","Niue"],
			["Cathy","cathy@example.com","Customer Data Director","Ebert, Schamberger and Johnston","Mexico"],
			["Tyrone","tyrone@example.com","Senior Response Liaison","Raynor, Rolfson and Daugherty","Qatar"]
		]
	}).render(document.getElementById("table-gridjs"))
</script>
{% endblock %}