{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<!-- Section -->
<section>
	<div class="container-fluid position-relative z-index-1 mt-3">
		<div class="position-relative rounded-4 overflow-hidden bg-dark">
			<!-- Slider main container -->
			<div class="swiper-main rounded-4 overflow-hidden opacity-50 position-absolute start-0 top-0 w-100 h-100 mb-0">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper rounded-5">
					<!-- Slides -->
					<div class="swiper-slide bg-cover bg-center bg-no-repeat"
						style="background-image: url(../static/img/backgrounds/bg1.jpg);"></div>
					<div class="swiper-slide bg-cover bg-center bg-no-repeat"
						style="background-image: url(../static/img/backgrounds/bg2.jpg);"></div>
					<div class="swiper-slide bg-cover bg-center bg-no-repeat"
						style="background-image: url(../static/img/backgrounds/bg3.jpg);"></div>
				</div>
			</div>
			<div class="position-relative text-white w-md-75 px-4 w-lg-60 mx-auto text-center z-index-1 py-12 py-lg-15">
				<!--Hero title-->
				<h1 class="display-1 mb-3 mb-md-4 position-relative">Welcome to<br>New Smart Life</h1>

				<!--Hero text-->
				<p class="lead w-lg-60 mx-auto mb-5">Enjoy a comfortable residential life with Utoville Homecare Service.</p>

				<!--Hero buttons-->
				<div class="d-flex flex-column">
					<div>
						<a href="{% url 'product:list' %}" class="btn btn-primary btn-lg">
							Shop Now
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--/.row-->
	</div>
</section>

<section class="row mydata my-5" style="margin-left: 0; margin-right: 0">
	<div id="chart" class="col-md-6"></div>
</section>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'vendor/node_modules/js/moment.js' %}"></script>
<script src="{% static 'vendor/node_modules/js/swiper-bundle.min.js' %}"></script> 

<script>
/*Main Swiper*/
const swiper = new Swiper('.swiper-main', {
	spaceBetween: 0,
	effect: "fade",
	autoplay: true,
	loop: true,
});	

/*Main MyData Chart*/ 
	var options = {
	series: [{
		data: [
			{
				x: 'Analysis',
				y: [
					new Date('2019-02-27').getTime(),
					new Date('2019-03-04').getTime()
				],
				fillColor: '#008FFB'
			},
			{
				x: 'Design',
				y: [
					new Date('2019-03-04').getTime(),
					new Date('2019-03-08').getTime()
				],
				fillColor: '#00E396'
			},
			{
				x: 'Coding',
				y: [
					new Date('2019-03-07').getTime(),
					new Date('2019-03-10').getTime()
				],
				fillColor: '#775DD0'
			},
			{
				x: 'Testing',
				y: [
					new Date('2019-03-08').getTime(),
					new Date('2019-03-12').getTime()
				],
				fillColor: '#FEB019'
			},
			{
				x: 'Deployment',
				y: [
					new Date('2019-03-12').getTime(),
					new Date('2019-03-17').getTime()
				],
				fillColor: '#FF4560'
			}
		]
	}],
	chart: {
		height: 350,
		type: 'rangeBar'
	},
	plotOptions: {
		bar: {
			horizontal: true,
			distributed: true,
			dataLabels: {
				hideOverflowingLabels: false
			}
		}
	},
	tooltip: {
		enabled: false,
	},
	dataLabels: {
		enabled: true,
		formatter: function(val, opts) {
			var label = opts.w.globals.labels[opts.dataPointIndex]
			var a = moment(val[0])
			var b = moment(val[1])
			var diff = b.diff(a, 'days')
			return label + ': ' + diff + (diff > 1 ? ' days' : ' day')
		},
		style: {
			colors: ['#f3f4f5', '#fff']
		}
	},
	xaxis: {
		type: 'datetime'
	},
	yaxis: {
		show: false
	},
	grid: {
		row: {
			colors: ['#f3f4f5', '#fff'],
			opacity: 1
		}
	}
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();
       
</script>

{% endblock %}