{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load product_filter %}

<link href="{% static 'user/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

<!-- Page header start
<section class="position-relative overflow-hidden">    
   <div class="container-fluid">
      <div class="py-8 py-lg-11 bg-dark text-white position-relative">
        	<img src="assets/img/shop/banners/06.jpg" class="bg-image bg-top-center opacity-75" alt="">
			<div class="col-lg-10 mx-auto text-center">
				<h1 class="mb-0 display-3">Cart</h1>
			</div>
      </div>
   </div>
</section> -->

<section class="position-relative bg-white" id="cart-section">
	<div class="container pt-5">
		<span class="fs-3 font-weight-bold">Cart</span>
	</div>
	
	<div class="container pb-7 pb-lg-12 pt-7 position-relative">
		<div class="row">
			<div class="col-xl-8" id="item-list-body">
				<div class="mb-3">
					<div class="d-flex align-items-center justify-content-between">
						<div class="d-flex">
							<input type="checkbox" name="select_all" checked class="ms-2 mb-2 mb-sm-0" onclick="checkbox_manager();"><span style="margin-left: 8px; font-size: 12px;">Select All</span></button>
						</div>
						<button class="btn small ms-2 mb-2 mb-sm-0" onclick="remove_checked_item();" style="padding: 4px 6px;">
							<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3H9M7 6h10v13H7V6m2 2v9h2V8H9m4 0v9h2V8h-2Z"></path></svg>
						</button>
					</div>
				</div>
			{% for cart_item in cart_items %}
			<div class="card border shadow-none mb-5">
				<div class="card-body">
					<div class="d-flex align-items-center border-bottom pb-3">
						<div class="item-list me-3">
							<input type="checkbox" checked onchange="cal_checked_item_price();" data-product-id="{{cart_item.product.id}}" data-variant-value-id="{{cart_item.variant_value.id}}" data-qty="{{cart_item.quantity}}"
								id="cart{{cart_item.pk}}" data-schedule-date="{{cart_item.schedule_date}}" value="{{cart_item.pk}}" name="cart_item_id">
							<label for="cart{{cart_item.pk}}"><img src="{% static 'user/img/shop/backpack2.jpg' %}" class="width-7x rounded-3 ms-2"></label>
						</div>

						<div class="flex-grow-1 align-self-center">
							<h5 class="text-truncate font-size-18"><a href="ecommerce-product-detail" class="text-dark">{{cart_item.product.product_name}}</a></h5>
							{% if cart_item.variant_value is not None %}
							<span class="text-uppercase d-block">
								{{cart_item.variant_value.variant}}: {{cart_item.variant_value.value}}
							</span>
							<span class="text-uppercase d-block">+₱{{cart_item.variant_value.price}}</span>
							{% endif %}
						</div>   

						<div class="flex-shrink-0 ms-2">
							<a href="#!" class="text-muted px-1" id="btn-remove" data-item-id="{{cart_item.pk}}" onclick="removeItem(this)">
								<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3H9M7 6h10v13H7V6m2 2v9h2V8H9m4 0v9h2V8h-2Z"></path></svg>
							</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4">
							<div class="mt-3">
								<p class="text-muted mb-2">Price</p>
								<h5 class="mb-0 mt-2" id="item-price"><span class="text-muted me-2"></span>₱{{cart_item.sub_price|intcomma}}</h5>
							</div>
						</div>

						<div class="col-md-5">
							<div class="mt-3">
								<p class="text-muted mb-2">Quantity</p>
								<input id="item-quantity" type="number" min="1" onKeyDown="return false" onchange="cal_item_price(this)" value="{{cart_item.quantity}}" data-cart-item-id="{{cart_item.id}}" class="form-control border-0 shadow-none rounded-0 bg-transparent">
							</div>
						</div>

						<div class="col-md-3">
							<div class="mt-3">
								<p class="text-muted mb-2">Total</p>
								<h5 id="item-total-price">₱{{cart_item.sub_total_price |intcomma}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>   
			{% endfor %}
			<!-- end card -->
			</div>
			
			<div class="order_summary col-xl-4">
				<div class="mt-5 mt-lg-0 position-sticky" style="top: 60px;">
					<div class="card-header bg-transparent border-bottom py-3 px-4">
						<h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
					</div>
					
					<div class="card-body p-4 pt-2">
						<div class="table-responsive">
							<table class="table mb-0">
							<tbody>
								<tr>
									<td>Sub Total :</td>
									<td class="text-end" id="sub-total-price" ></td>
								</tr>
								<tr>
									<td>Discount : </td>
									<td class="text-end" id="item-discount">- ₱10</td>
								</tr>
								<tr>
									<td>Shipping Charge :</td>
									<td class="text-end" id="shipping-charge">+ ₱2</td>
								</tr>
								<tr class="bg-light">
									<th>Total :</th>
									<td class="text-end">
										<span class="fw-bold" id="total-price">
										₱0
										</span>
									</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>
					
					<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center mt-3">
						<div class="mb-3 mb-sm-0">
							<a href="{% url 'product:user_product_list' %}" class="link-hover-underline text-body"><i
								class="bx bx-left-arrow-alt fs-6 align-middle me-1"></i>Continue shopping
							</a>
						</div>
						<div>
						<a href="{% url 'product:user_product_list' %}" class="link-hover-underline text-body">Checkout<i
							class="bx bx-right-arrow-alt fs-6 align-middle me-1"></i>
						</a>
							<input type="hidden" name="obj_data" value=''>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
      
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script>
window.addEventListener('DOMContentLoaded', function(){
	// initial_price();
	cal_checked_item_price();
});

is_run = false;

function remove_cart_submit(cart_item_id, item_arr) {
   is_run = true;
   var modal = new bootstrap.Modal(document.getElementById("loading"), {});

   modal.show();

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:user_cart_remove_item' %}",
      headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
         'cart_item_id[]':cart_item_id
      },
        dataType : 'json',
        success: function(data){
         if(data.result==200){
            item_arr.forEach(element => element.remove());
            check_item_zero();
			cal_checked_item_price();
         }else{
            openModal("", data.result_text);
         }
         is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
             msg +=  + "TEXT : " + request.responseText + "<br>" + error;
             console.log(msg);
        },
      complete: function () {
         modal.hide();
      }
    });
}

function checkbox_manager() {
	const selectAll = document.querySelector("input[name=select_all][type=checkbox");
	const allboxes = document.querySelectorAll("input[name=cart_item_id][type=checkbox]");
	// if some of the checkbox is checked
	const isSomeCheck = [...allboxes].some(item => item.checked);

	// if all are checked
	const isAllChecked = [...allboxes].every(item => item.checked);
	// if some are checked then on click of button check all]
	
	if(selectAll.checked){
		if (!isSomeCheck) {
			allboxes.forEach(item => item.checked = true);
		} else if (isAllChecked && isSomeCheck) {
			allboxes.forEach(item => item.checked = false);
		} else{
			allboxes.forEach(item => item.checked = true);
		}
	}else{
		allboxes.forEach(item => item.checked = false);
	}

	
	cal_checked_item_price();
}


//==============================
// 체크된것 총금액 + json 으로 변환
//==============================
function cal_checked_item_price() {
	let cart_items = document.querySelectorAll("input[name=cart_item_id]:checked");
	let itemDiscount = document.querySelector("#item-discount").innerHTML.replace(/[^0-9.]+/g, '');
	let shippingCharge = document.querySelector("#shipping-charge").innerHTML.replace(/[^0-9.]+/g, '');
	let total_price, sub_total_price = 0;
	let arr = [];

	let allboxes = document.querySelectorAll("input[name=cart_item_id][type=checkbox]");
	let isAllChecked = [...allboxes].every(item => item.checked);
	
	allboxes.forEach(item => {
		if(item.checked == false){
			document.querySelector("input[name=select_all][type=checkbox").checked = false;
		}else if(isAllChecked){
			document.querySelector("input[name=select_all][type=checkbox").checked = true;
		}
	})
	
	cart_items.forEach((item) => {
		const singleItem = item.parentElement.parentElement.parentElement;
		let sub_total = singleItem.querySelector('#item-total-price').innerHTML.replace(/[^0-9.]+/g, '');

		sub_total_price = (parseFloat(sub_total_price) + parseFloat(sub_total)).toFixed(2);

		let objData = new Object();
 		objData.product_id = item.dataset.productId;
 		objData.variant_value_id = item.dataset.variantValueId;
 		objData.qty = item.dataset.qty;
		objData.schedule_date = item.dataset.scheduleDate;
		
 		arr.push(objData);
	});	

	total_price = (parseFloat(sub_total_price) - parseFloat(itemDiscount) + parseFloat(shippingCharge)).toFixed(2);
	if(total_price < 0) {
		document.querySelector("#total-price").innerHTML = '₱ 0';
	}

	document.querySelector("input[name=obj_data]").value=JSON.stringify(arr);
	document.querySelector("#sub-total-price").innerHTML = '₱'+numberWithCommas(sub_total_price);
	document.querySelector("#total-price").innerHTML = '₱'+numberWithCommas(total_price);
}


function remove_checked_item() {
   const item_list = document.querySelectorAll("input[name=cart_item_id][type=checkbox]:checked");
   
   if(item_list.length < 1) {
      alert("Please select item");
      return false;
   }

   let arr = [];
   let item_arr = [];

   item_list.forEach(ele => {
      arr.push(ele.value)
      item_arr.push(ele.parentElement.parentElement.parentElement.parentElement);
   });

   remove_cart_submit(arr, item_arr)
}

//==============================
// 아이템 삭제
//==============================

function check_item_zero() {
   let itemList = document.querySelectorAll(".item-list");
   let itemListBody = document.getElementById("item-list-body");
   let orderSummary = document.querySelector(".order_summary");
   let html = '';

	if(itemList.length < 1) {
		html = `<h6 class="text-center mb-0 p-5 bg-light">There is no item.</h6>`;
   
		itemListBody.insertAdjacentHTML("beforeend", html);

		itemListBody.firstElementChild.style.display = "none"; // select All dispnay none
		orderSummary.style.display = "none";
   }
}
   
check_item_zero();

function removeItem(e) {
   let itemBody = e.parentElement.parentElement.parentElement.parentElement;
   let arr = [];
   let item_arr = [];
   arr.push(e.dataset.itemId);
   item_arr.push(itemBody);

   remove_cart_submit(arr, item_arr);
}

//==============================
// 초기 금액 출력
//==============================

function initial_price() {  
	let itemsTotalPrice = document.querySelectorAll("#item-total-price");   
	let totalPrice = 0;

	itemsTotalPrice.forEach(element => {
		let itemPrice = element.innerHTML.replace(/[^0-9.]+/g, '');

		totalPrice = (parseFloat(totalPrice) + parseFloat(itemPrice)).toFixed(2);
	});

	document.querySelector("#sub-total-price").innerHTML = '₱'+numberWithCommas(totalPrice);
	document.querySelector("#total-price").innerHTML = '₱'+numberWithCommas(totalPrice);


}

//==============================
// 개별 아이템 가격 계산
//==============================

function cal_item_price(e) {
	let itemDom = e.parentElement.parentElement.parentElement;
	let itemId = e.dataset.cartItemId;
	let itemPrice = itemDom.querySelector("#item-price").innerText.replace(/[^0-9.]+/g, '');
	let itemQuantity = itemDom.querySelector("#item-quantity").value;
	let itemTotalPrice = itemDom.querySelector("#item-total-price");
	let itemsTotalPrice = document.querySelectorAll("#item-total-price");
	let totalPrice = 0;


	itemTotalPrice.innerText = numberWithCommas("₱" + parseFloat(itemPrice * itemQuantity).toFixed(2));

	itemsTotalPrice.forEach(element => {
		let subTotalPrice = element.innerHTML.replace(/[^0-9.]+/g, '');

		totalPrice = (parseFloat(totalPrice) + parseFloat(subTotalPrice)).toFixed(2);
	});

	document.querySelector("#total-price").innerHTML = totalPrice;
	update_cart_submit(itemId, itemQuantity);
}

function update_cart_submit(cart_item_id, qty) {
	is_run = true;
	var modal = new bootstrap.Modal(document.getElementById("loading"), {});

	modal.show();

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:user_cart_update' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			cart_item_id: cart_item_id,
			qty: qty,
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				openModal("", data.result_text)
				window.location.reload();
			}else{
				openModal("Notification", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "Contents : " + request.responseText + "<br>" + error;
			    console.log(msg);
        },
		complete: function () {
			modal.hide();
		}
    });
}

async function order_create_submit() {
   if(is_run == true) {
      openModal('Notification','Please try again this later.');
      return false;
   }

   is_run = true;

   let order_item_list = document.querySelector("input[name=obj_data]").value;

    const response = await fetch("{% url 'order:user_order_create' %}", {
      method: "POST",
      headers: {
         "X-CSRFToken": getCookie("csrftoken"),
      },
      body: JSON.stringify({
         'order_item_list': order_item_list
      }),
   })
   .then(response => response.json())
   .then(data => {
      console.log(data);
      is_run  = false;
      if (data.result == '200') {
         window.history.pushState("", "", `{% url 'order:user_order_view' %}?id=${data.order_id}`);
         window.location.reload();
      } else {
         openModal("Notification", "Error");
      }
   });
}

</script>
{% endblock %}