{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<link href="{% static 'vendor/node_modules/css/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="my_page_main row">
				{% include "account/mypage/sidemenu.html" with active_tab="대쉬보드"%}
				<div class="col-lg-9 subs_contents">
					{% include "account/mypage/topmenu.html" with active_tab="대쉬보드"%}
				<!-- Page title -->
					<div class="mt-5 mypage_main_title">
						<h3>대쉬보드</h3>
					</div>	
						

					<div class="my-5 subs-view show">
						<!-- banner-view start -->

						<div class="bg-secondary-soft p-3 p-md-5 rounded" style="padding: 0 !important;">
							<div class="row">
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="fas fa-fw fa-home"></i></span>
									<div class="text-center position-relative">
										<a href="#">
											<h2 data-countup='{"startVal": 0,"prefix":"D-"}' data-to="21" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
											<span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-success p-1"><span class="visually-hidden">unread messages</span></span>
											<div class="text-muted">다음 서비스까지</div>
										</a>

									</div>
								</div>
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="far fa-fw fa-comment-dots"></i></span>
									<div class="text-center">
										<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="3" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
										<div class="text-muted">구독한 서비스 수</div>
									</div>
								</div>											
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="fab fa-fw fa-gratipay"></i></span>
									<div class="text-center">
										<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="55" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
										<div class="text-muted">완료된 서비스 수</div>
									</div>
								</div>
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="fas fa-fw fa-eye"></i></span>
									<div class="text-center">
										<h2 data-countup='{"startVal": 0,"prefix":""}' data-to="30" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
										<div class="text-muted">남은 생수 개수</div>
									</div>
								</div>
							</div> <!-- banner-view END -->	
						</div>
					</div>

					<div class="pt-5 col-12">
						<div id="calendar"></div>
					</div>
				</div>
			</div>	
			<!-- Main content END -->
		</div>
	</div>
</section>
<script src="{% static 'vendor/node_modules/js/fullcalendar.min.js' %}"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {

    var l = null,
        d = null,
        l = null,
        d = null,
        e = new Date,
        s = e.getDate(),
        r = e.getMonth(),
        e = e.getFullYear();
    
		e = [{
        title: "All Day Event",
        start: new Date(e, r, 1),
        className: "bg-primary"
    }, {
        title: "Long Event",
        start: new Date(e, r, s - 5),
        end: new Date(e, r, s - 2),
        className: "bg-warning"
    }, {
        id: 999,
        title: "Repeating Event",
        start: new Date(e, r, s - 3, 16, 0),
        allDay: !1,
        className: "bg-info"
    }, {
        id: 999,
        title: "Repeating Event",
        start: new Date(e, r, s + 4, 16, 0),
        allDay: !1,
        className: "bg-primary"
    }, {
        title: "Meeting",
        start: new Date(e, r, s, 10, 30),
        allDay: !1,
        className: "bg-success"
    }, {
        title: "Lunch",
        start: new Date(e, r, s, 12, 0),
        end: new Date(e, r, s, 14, 0),
        allDay: !1,
        className: "bg-danger"
    }, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	}, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	}, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	}, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	}, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	}, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	}, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	}, {
        title: "Birthday Party",
        start: new Date(e, r, s + 1, 19, 0),
        end: new Date(e, r, s + 1, 22, 30),
        allDay: !1,
        className: "bg-success"
	
    }, {
        title: "Click for Google",
        start: new Date(e, r, 28),
        end: new Date(e, r, 29),
        url: "http://google.com/",
        className: "bg-dark"
    }], r = document.getElementById("calendar");

    function c() {
        return 768 <= window.innerWidth && window.innerWidth < 1200 ? "timeGridWeek" : window.innerWidth <= 768 ? "listMonth" : "dayGridMonth"
    }
    var m = new FullCalendar.Calendar(r, {
        timeZone: "local",
		contentHeight: 'auto',
        initialView: c(),
        themeSystem: "bootstrap5",
        headerToolbar: {
            left: "prev,next today",
            center: "title",
            right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth"
        },

        windowResize: function(e) {
            var t = c();
            m.changeView(t)
        },
        events: e
    });
    m.render();
});

</script>

{% endblock %}