{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<link href="{% static 'vendor/node_modules/css/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />

<style>
.subs-list {
	max-height: 220px;
    overflow: hidden;
    overflow-y: auto;
}
</style>
<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="row my_page_main ">
				{% include "account/mypage/sidemenu.html" with active_tab="대쉬보드"%}
				<div class="col-lg-9 subs_contents">
					{% include "account/mypage/topmenu.html" with active_tab="대쉬보드"%}		
					<div class="my-5 subs-view show">
						<h4 class="my-4 page-title-box">My Dashboard</h4>
						<div class="bg-secondary-soft p-3 p-md-5 rounded" style="padding: 0 !important;">
							<div class="row">
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<div class="text-center position-relative">
										<span id="next-service" style="cursor: pointer;">
											<h2 data-countup='{"startVal": 0,"prefix":"D-"}' data-to="{{next_service_day_count}}" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
											<div class="text-muted">다음 서비스까지</div>
										</span>
									</div>
								</div>
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<div class="text-center position-relative">
										<span id="subs-num" style="cursor: pointer;">
											<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="3" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
											<div class="text-muted">구독한 서비스 수</div>
										</span>
									</div>
								</div>											
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<div class="text-center position-relative">
										<span id="complete-service-num" style="cursor: pointer;">
											<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="{{delivered_service_count}}" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
											<div class="text-muted">완료된 서비스 수</div>
										</span>
									</div>
								</div>
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<div class="text-center position-relative">
										<h2 data-countup='{"startVal": 0,"prefix":""}' data-to="{{water_delivered_service_count}}" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
										<div class="text-muted">남은 생수 개수</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class="pt-5 col-12">
						<div id="calendar"></div>
					</div>	
					<div class="row">
						<div class="col-lg-8 pt-5" id="subs-list">
							<div class="card">
								<div class="card-body">
									<div class="d-flex align-items-start">
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="card-title text-truncate mb-3">구독 목록</h5>
										</div>
										<div class="flex-shrink-0">
											<div class="dropdown">
												<a class="dropdown-toggle text-reset" href="#"
													data-bs-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">
													<span class="fw-semibold">Report By: </span> <span class="text-muted">최신 순<i class="mdi mdi-chevron-down ms-1"></i></span>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="#">최신 순</a>
													<a class="dropdown-item" href="#">오래된 순</a>
													<a class="dropdown-item" href="#">가나다 순</a>
												</div>
											</div>
										</div>
									</div>
									<div class="table-responsive subs-list">
										<table class="table mt-3 text-center">
											<thead>
												<tr>
													<th scope="col">시작 일자</th>
													<th scope="col">종료 일자</th>
													<th scope="col">서비스명</th>
													<th scope="col">진행 회차 / 남은 회차</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">2022-11-10</th>
													<td>2023-11-10</td>
													<td>에어컨 청소</td>
													<td>
														<span class="text-success fw-bold">1회차</span>/
														<span class="text-secondary">12회차</span>
													</td>
												</tr>

												<!-- 복사 -->
												<tr>
													<th scope="row">2022-11-10</th>
													<td>2023-11-10</td>
													<td>에어컨 청소</td>
													<td>
														<span class="text-success fw-bold">1회차</span>/
														<span class="text-secondary">12회차</span>
													</td>
												</tr>
												<tr>
													<th scope="row">2022-11-10</th>
													<td>2023-11-10</td>
													<td>에어컨 청소</td>
													<td>
														<span class="text-success fw-bold">1회차</span>/
														<span class="text-secondary">12회차</span>
													</td>
												</tr>
												<tr>
													<th scope="row">2022-11-10</th>
													<td>2023-11-10</td>
													<td>에어컨 청소</td>
													<td>
														<span class="text-success fw-bold">1회차</span>/
														<span class="text-secondary">12회차</span>
													</td>
												</tr>
												<tr>
													<th scope="row">2022-11-10</th>
													<td>2023-11-10</td>
													<td>에어컨 청소</td>
													<td>
														<span class="text-success fw-bold">1회차</span>/
														<span class="text-secondary">12회차</span>
													</td>
												</tr>
												<tr>
													<th scope="row">2022-11-10</th>
													<td>2023-11-10</td>
													<td>에어컨 청소</td>
													<td>
														<span class="text-success fw-bold">1회차</span>/
														<span class="text-secondary">12회차</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 pt-5">
							<div class="card">
								<div class="card-body">
									<div class="d-flex align-items-start">
										<div class="flex-grow-1">
											<h5 class="card-title mb-4">완료된 서비스</h5>
										</div>
									</div>
									<div id="chart-donut" class="apex-charts" dir="ltr"></div>
								</div>
								<!-- end card body -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{% static 'vendor/node_modules/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendor/node_modules/js/apexcharts.min.js' %}"></script>

<script>
var order_data = {{ orders|safe }}
document.addEventListener("DOMContentLoaded", function() {
    var l = null,
        d = null,
        l = null,
        d = null,
        e = new Date,
        s = e.getDate(),
        r = e.getMonth(),
        e = e.getFullYear();
    
		e = order_data, r = document.getElementById("calendar");

    function c() {
        return 768 <= window.innerWidth && window.innerWidth < 1200 ? "timeGridWeek" : window.innerWidth <= 768 ? "listMonth" : "dayGridMonth"
    }
    var m = new FullCalendar.Calendar(r, {
        timeZone: "local",
		contentHeight: 'auto',
        initialView: c(),
        themeSystem: "bootstrap5",
        headerToolbar: {
            left: "prev,next today",
            center: "title",
            right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth"
        },

        windowResize: function(e) {
            var t = c();
            m.changeView(t)
        },
        events: e
    });
    m.render();

	options={
		chart:{
			height:245,type:"donut"
		},
		plotOptions:{
			pie:{donut:{size:"70%"}}
		},
		dataLabels:{
			enabled:!1
		},
		series:[44,25,19],
		labels:["에어컨 청소","세탁기 청소","소독"],
		colors:["#038edc","#777","#5fd0f3"],
		legend:{
			show:!0,
			position:"bottom",
			horizontalAlign:"center",
			verticalAlign:"middle",
			floating:!1,
			fontSize:"14px",
			offsetX:0}
	};
	(chart=new ApexCharts(document.querySelector("#chart-donut"),options)).render();

	let nextService = document.getElementById("next-service");
	let subsNum = document.getElementById("subs-num");
	let completeNum = document.getElementById("complete-service-num");
	let subsList = document.getElementById("subs-list");

	nextService.addEventListener("click" , function(){
		window.scrollTo({top: 400, behavior: "smooth"});
	});
	subsNum.addEventListener("click" , function(){
		window.scrollTo({top: subsList.offsetTop, behavior: "smooth"});
	});
	completeNum.addEventListener("click" , function(){
		window.scrollTo({top: subsList.offsetTop, behavior: "smooth"});
	});
});

</script>

{% endblock %}