{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<link href="{% static 'vendor/node_modules/css/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="row my_page_main ">
				{% include "account/mypage/sidemenu.html" with active_tab="대쉬보드"%}
				<div class="col-lg-9 subs_contents">
					{% include "account/mypage/topmenu.html" with active_tab="대쉬보드"%}
				<!-- Page title -->
					<h4 class="my-4">대쉬보드</h4>		

					<div class="my-5 subs-view show">
						<!-- banner-view start -->

						<div class="bg-secondary-soft p-3 p-md-5 rounded" style="padding: 0 !important;">
							<div class="row">
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="fas fa-fw fa-home"></i></span>
									<div class="text-center position-relative">
										<span id="next-service" style="cursor: pointer;">
											<h2 data-countup='{"startVal": 0,"prefix":"D-"}' data-to="{{next_service_day_count}}" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
											<div class="text-muted">다음 서비스까지</div>
										</span>
									</div>
								</div>
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="far fa-fw fa-comment-dots"></i></span>
									<div class="text-center position-relative">
										<span id="subs-num" style="cursor: pointer;">
											<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="3" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
											<div class="text-muted">구독한 서비스 수</div>
										</span>
									</div>
								</div>											
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="fab fa-fw fa-gratipay"></i></span>
									<div class="text-center position-relative">
										<span id="complete-service-num" style="cursor: pointer;">
											<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="{{delivered_service_count}}" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
											<div class="text-muted">완료된 서비스 수</div>
										</span>
									</div>
								</div>
								<!-- Item -->
								<div class="col-6 col-md-3 mb-md-0 sub-banner">
									<span class="display-5 text-white opacity-5"><i class="fas fa-fw fa-eye"></i></span>
									<div class="text-center position-relative">
										<h2 data-countup='{"startVal": 0,"prefix":""}' data-to="{{water_delivered_service_count}}" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
										<div class="text-muted">남은 생수 개수</div>
									</div>
								</div>
							</div> <!-- banner-view END -->	
						</div>
					</div>
					<div class="pt-5 col-12">
						<div id="calendar"></div>

					</div>	
					<div class="row">
						<div class="col-lg-6 col-md-6 pt-5">
							<div class="card card-h-100">
								<div class="card-header border-bottom-0">
									<div class="d-flex align-items-start">
										<div class="flex-grow-1">
											<h5 class="card-title">Subscribed Services</h5>
										</div>

										<div class="flex-shrink-0">
											<div class="dropdown">
												<a class="font-size-16 text-muted dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="mdi mdi-dots-horizontal"></i>
												</a>
											
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div data-simplebar style="max-height: 230px;">
									<ul class="list-unstyled mb-0">
										<li class="px-4 py-3">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 me-3">
													<div class="avatar-sm">
														<div class="avatar-title bg-light text-primary rounded-circle">
															#1
														</div>
													</div>
												</div>
												<div class="flex-grow-1 overflow-hidden">
													<p class="text-muted mb-1 text-truncate">www.abc.com</p>
													<h5 class="font-size-16 mb-0 text-truncate">3.82 k</h5>
												</div>
												<div class="flex-shrink-0 align-self-start">
													<div class="badge badge-soft-success ms-2">1.2 % <i class="uil uil-arrow-up-right text-success ms-1"></i></div>
												</div>
											</div>
										</li>
										<li class="px-4 py-3">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 me-3">
													<div class="avatar-sm">
														<div class="avatar-title bg-light text-primary rounded-circle">
															#2
														</div>
													</div>
												</div>
												<div class="flex-grow-1 overflow-hidden">
													<p class="text-muted mb-1 text-truncate">www.xyz.com</p>
													<h5 class="font-size-16 mb-0 text-truncate">3.04 k</h5>
												</div>
												<div class="flex-shrink-0 align-self-start">
													<div class="badge badge-soft-success ms-2">1.1 % <i class="uil uil-arrow-up-right text-success ms-1"></i></div>
												</div>
											</div>
										</li>
										<li class="px-4 py-3">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 me-3">
													<div class="avatar-sm">
														<div class="avatar-title bg-light text-primary rounded-circle">
															#3
														</div>
													</div>
												</div>
												<div class="flex-grow-1 overflow-hidden">
													<p class="text-muted mb-1 text-truncate">www.abc123.com</p>
													<h5 class="font-size-16 mb-0 text-truncate">2.64 k</h5>
												</div>
												<div class="flex-shrink-0 align-self-start">
													<div class="badge badge-soft-success ms-2">0.8 % <i class="uil uil-arrow-up-right text-success ms-1"></i></div>
												</div>
											</div>
										</li>
										<li class="px-4 py-3">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 me-3">
													<div class="avatar-sm">
														<div class="avatar-title bg-light text-primary rounded-circle">
															#4
														</div>
													</div>
												</div>
												<div class="flex-grow-1 overflow-hidden">
													<p class="text-muted mb-1 text-truncate">www.xyz.com</p>
													<h5 class="font-size-16 mb-0 text-truncate">2.06 k</h5>
												</div>
												<div class="flex-shrink-0 align-self-start">
													<div class="badge badge-soft-success ms-2">0.5 % <i class="uil uil-arrow-up-right text-success ms-1"></i></div>
												</div>
											</div>
										</li>                                                
									</ul>
								</div>
							</div>
							<!-- end card -->
						</div>
						<div class="col-lg-6 col-md-6 pt-5">
							<div class="card card-h-100">
								<div class="card-body">
									<div class="d-flex align-items-start">
										<div class="flex-grow-1">
											<h5 class="card-title mb-4">Visitors Source</h5>
										</div>
										<div class="flex-shrink-0">
											<div class="dropdown">
												<a class="font-size-16 text-muted dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="mdi mdi-dots-horizontal"></i>
												</a>		
											</div>
										</div>
									</div>
									<div id="chart-donut" class="apex-charts" dir="ltr"></div>
								</div>
								<!-- end card body -->
							</div>
						</div>		
					</div>		
					</div>				
				</div>
			</div>	
			<!-- Main content END -->
		</div>
	</div>
</section>
<script src="{% static 'vendor/node_modules/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendor/node_modules/js/apexcharts.min.js' %}"></script>

<script>
var order_data = {{ orders|safe }}
document.addEventListener("DOMContentLoaded", function() {

    var l = null,
        d = null,
        l = null,
        d = null,
        e = new Date,
        s = e.getDate(),
        r = e.getMonth(),
        e = e.getFullYear();
    
		e = order_data, r = document.getElementById("calendar");

    function c() {
        return 768 <= window.innerWidth && window.innerWidth < 1200 ? "timeGridWeek" : window.innerWidth <= 768 ? "listMonth" : "dayGridMonth"
    }
    var m = new FullCalendar.Calendar(r, {
        timeZone: "local",
		contentHeight: 'auto',
        initialView: c(),
        themeSystem: "bootstrap5",
        headerToolbar: {
            left: "prev,next today",
            center: "title",
            right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth"
        },

        windowResize: function(e) {
            var t = c();
            m.changeView(t)
        },
        events: e
    });
    m.render();

	options={
		chart:{
			height:245,type:"donut"
		},
		plotOptions:{
			pie:{donut:{size:"70%"}}
		},
		dataLabels:{
			enabled:!1
		},
		series:[44,25,19],
		labels:["Social","Direct","Others"],
		colors:["#038edc","#f5f6f8","#5fd0f3"],
		legend:{
			show:!0,
			position:"bottom",
			horizontalAlign:"center",
			verticalAlign:"middle",
			floating:!1,
			fontSize:"14px",
			offsetX:0}
	};
	(chart=new ApexCharts(document.querySelector("#chart-donut"),options)).render();

	let nextService = document.getElementById("next-service");
	let subsNum = document.getElementById("subs-num");
	let completeNum = document.getElementById("complete-service-num");
	// window.addEventListener("scroll", function(){
	// 	console.log(pageYOffset)
	// });

	nextService.addEventListener("click" , function(){
		window.scrollTo({top: 400, behavior: "smooth"});
	});
	subsNum.addEventListener("click" , function(){
		window.scrollTo({top: 1000, behavior: "smooth"});
	});
	completeNum.addEventListener("click" , function(){
		window.scrollTo({top: 1000, behavior: "smooth"});
	});
});

</script>

{% endblock %}