{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<!-- Section -->
<section class="pt-0 pb-0">
	<div class="container px-0">
		<div class="row">
			{% include "account/mypage/sidemenu.html" with active_tab="주문조회" %}
		
			<!-- Navbar START -->
				<nav id="navbar-example2" class="navbar navbar-dark bg-light rounded resp_sidebar">
					<ul class="nav p-2" style="justify-content: space-evenly;">
						<!-- Dropdown item -->
						<li>
							<a class="order-nav-link" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								주문조회
							</a>
						</li>
							<!-- Dropdown item -->
						<li>
							<a class="order-nav-link" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								정기구독 관리
							</a>
						</li>
							<!-- Dropdown item -->
						<li>
							<a class="order-nav-link" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							취소/교환/환불
							</a>
						</li>
							<!-- Dropdown item -->
						<li>
							<a class="order-nav-link" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								1:1 문의
							</a>
						</li>
							<!-- Dropdown item -->
						<li>
							<a class="order-nav-link" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								정보 수정
							</a>
						</li>
					</ul>
				</nav>				
	
			<!-- Navbar END -->

			<div class="order_search_area col-lg-9">
				<div class="row">
					<div class="col-12">
						<!-- Page title -->
						<div class="my-5 newordertitle">
							<h3>주문 조회</h3>
							<hr>
						</div>
						<!-- Table -->
						<div class="row">
							<div class="col-md-12">
								<div class="bg-secondary-soft p-3 p-md-5 rounded" style="padding: 0 !important;">
									<div class="table-responsive" style="text-align: center;">
										<table class="table">
											<!-- Data -->
											<tbody>
												<tr>
													<td class="order-tb-left">기간별</td>
													<td colspan="3" class="  order-tb-right">
														<button type="button" class="btn btn-outline-secondary order-tb-button">6개월</button>
														<button type="button" class="btn btn-outline-secondary order-tb-button">1년</button>
													</td>
												</tr>
												<tr>
													<td class="order-tb-left">날짜</td>
													<td colspan="3" class="  order-tb-right">
														<div class="container px-1 px-sm-5 mx-auto" style="padding-left: 0 !important;">
															<form autocomplete="off">
																<div class="flex-sm-row flex-column d-flex">
																	<div class="col-sm-9 col-12 px-0 mb-2">
																		<div class="input-group input-daterange">
																			<input type="text" class="form-control" placeholder="시작 날짜 선택" readonly>
																			&nbsp;&nbsp;~&nbsp;&nbsp;
																			<input type="text" class="form-control" placeholder="종료 날짜 선택" readonly>
																		</div>
																	</div>
																	<div class="col-sm-3 col-12 px-0 order-tb-search">
																		<button type="submit" class="btn btn-black">Search</button>
																	</div>
																</div>
															</form>
														</div>	
													</td>
												</tr>
												<tr>
													<td class="order-tb-left">주문 구분</td>
													<td class="order-tb-right">
														<input type="checkbox" value=""> 일반주문
														<input type="checkbox" value=""> 휴대폰 주문
													</td>
													<td class="order-tb-left">주문 상태</td>
													<td class="order-tb-right">
														<select class="form-select" aria-label="Default select example">
															<option selected>전체</option>
															<option value="1">입금대기</option>
															<option value="2">결제완료</option>
															<option value="3">서비스 대기</option>
															<option value="3">서비스 완료</option>
														</select>
													</td>
												</tr>											
												<tr>
													<td class="order-tb-left">서비스명</td>
													<td colspan="3" class="  order-tb-right">
														<form class="row g-3">
															<div class="col-auto">
															<input type="text" size=60 maxlength=15 class="form-control"  id="inputservicename" placeholder="주문하신 서비스명을 검색하세요">
															</div>
															<div class="col-auto">
															<button type="submit" class="btn btn-secondary mb-3">검색</button>
															</div>
														</form>
													</td>
												</tr>											
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
				<!-- Oder list START -->
				<div class="row">
					<!-- Table -->
					<div class="row">
						<div class="col-md-12">
							<div class="bg-secondary-soft p-3 p-md-5 rounded" style="padding: 0 !important;">
								<div class="table-responsive" style="text-align: center;">
									<table class="table">
										<!-- Title -->
										<thead>
											<tr>
												<th scope="col">주문일/주문번호</th>
												<th scope="col">서비스 정보</th>
												<th scope="col">수량</th>
												<th scope="col">주문금액</th>
												<th scope="col">진행상태</th>
											</tr>
										</thead>
										<!-- Data -->
										<tbody>
											<tr>
												<td>2022/10/10</td>
												<td>에어컨 청소</td>
												<td>1</td>
												<td>₱3000</td>
												<td>미진행</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Order list END -->
			</div>	
			<!-- Main content END -->
		</div>
	</div>
</section>

{% endblock %}