{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<!--Profile info header-->
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="row">
				{% include "account/mypage/sidemenu.html" with active_tab="주문 조회"%}	
				<div class="col-lg-9">
					<div class="d-flex flex-column">
						<nav class="nav mb-5 nav-pills">
							<a href="page-profile.html" class="nav-link active"> <i
									class="bx bx-user-circle me-2"></i>주문 조회</a>
							<a href="page-profile-settings.html" class="nav-link"><i
									class="bx bx-cog me-2"></i>정기구독 관리</a>
							<a href="#" class="nav-link disabled"><i
									class="bx bx-layer me-2"></i>취소/변경</a>
							<a href="#" class="nav-link disabled"><i
									class="bx bx-credit-card me-2"></i>1:1 문의</a>
							<a href="#" class="nav-link disabled"><i
									class="bx bx-group me-2"></i>정보 수정</a>
						</nav>

						<div class="h-100">
							<h5 class="mb-4">Profile Details</h5>

							<div class="row align-items-center">
								<div class="col-md-6 mb-3">
									<label class="form-label">Name</label>
									<div class="form-control">Emily Doe
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Email address</label>
									<div class="form-control">info@emilydoe.com</a>
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Phone</label>
									<div class="form-control">+34 1234 567 890
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Company</label>
									<div class="form-control">Assan inc.
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Country</label>
									<div class="form-control">Spain
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Gender</label>
									<div class="form-control">Male
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Date of birth</label>
									<div class="form-control">19 August 1993</div>
								</div>
								<div class="col-md-6 mb-3">
									<label class="form-label">Plan</label>
									<div class="form-control"><span
											class="badge px-2 bg-primary rounded-pill">Starter</span>
									</div>
								</div>
								<div class="col-12 mb-3">
									<label class="form-label">Communication</label>
									<div>
										<span
											class="badge px-2 bg-light border text-dark rounded-pill">Phone</span>
										<span
											class="badge px-2 bg-light border text-dark rounded-pill">Email</span>
									</div>
								</div>
								<div class="col-12">
									<label class="form-label">Address</label>
									<div class="form-control">
										1355 Market St, Suite 900
										San Francisco
										CA 94103
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="modal fade" data-bs-backdrop="static" id="reviewWriteModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="review_content">
				<form name="reviewWriteForm">
					{% csrf_token %}
					<input type="hidden" name="order_id" value="">
					<div class="modal-body p-4 text-center">			
						<h5 class="review_title">만족하셨나요?</h5>
						<div class="rating">
							<input type="radio" name="rating" value="5" id="review-start-5"><label for="review-start-5">☆</label>
							<input type="radio" name="rating" value="4" id="review-start-4"><label for="review-start-4">☆</label>
							<input type="radio" name="rating" value="3" id="review-start-3"><label for="review-start-3">☆</label>
							<input type="radio" name="rating" value="2" id="review-start-2"><label for="review-start-2">☆</label>
							<input type="radio" name="rating" value="1" id="review-start-1"><label for="review-start-1">☆</label>
						</div>
					</div>
					<div class="upload_photo p-4 text-center">
						<h5 class="review_title">사진을 첨부해주세요.</h5>
						<div class="form-control" id="preview">
							<input type="file" accept="image/gif, image/jpeg, image/png" class="form-control" id="inputGroupFile04" multiple aria-describedby="inputGroupFileAddon04" aria-label="Upload">
						</div>

					</div>
					<div class="review_area p-4 text-center">
						<h5 class="review_title">리뷰를 작성해주세요.</h5>
						<textarea class="form-control" style="resize:none"></textarea>		
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-primary ms-1" onclick="review_write_submit()">완료</button>
						<button type="button" class="btn btn-primary btn-md" id="reviewModalCloseBtn" data-bs-dismiss="modal">취소</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script>
	
function review_write_submit() {
      var reviewWriteForm = document.reviewWriteForm;
      var review = reviewWriteForm.review.value;
      var rating = reviewWriteForm.rating.value;
      let this_modal = "#ReviewWriteModal";
            
      if (isEmpty(rating)) {
         openPopup('알림','평점을 선택해주세요.',this_modal);
         return false;
      }

      if (isEmpty(review)) {
         openPopup('알림','리뷰를 입력해주세요.',this_modal);
         return false;
      }

      var queryString = $("form[name=reviewWriteForm]").serialize();

    $.ajax({
        type : 'POST',
        url : "",
        data : queryString,
        dataType : 'json',
        success: function(data){
          if(data.result==200){
            openPopup("알림", data.result_text,'',"reload");
          }else{
            openPopup("알림", data.result_text);
          }
          return;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
             msg +=  + "내용 : " + request.responseText + "<br>" + error;
        }
    });
}

document.getElementById('inputGroupFile04').onchange = function() {
	let this_modal = "#gigOrderReviewModal";
	var fileTypes = ['jpg', 'jpeg', 'png', 'gif'];  //acceptable file types

	function readURL(input) {
		if (input.files && input.files[0]) {
			var extension = input.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
					isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types
			if (isSuccess) {         
				var reader = new FileReader();
				///reader.onload = function(e) {
				///   $('.gig-image-preview').removeClass("d-none");
				///   $('.gig-image-preview img').attr("src", e.target.result);
				///}
				reader.readAsDataURL(input.files[0]);
				
			} else {
				document.querySelector("[id=reviewModalCloseBtn]").click();
				openModal('알림','이미지 파일이 아닙니다.',this_modal);
				input.value='';
			}
		}
	}
	readURL(this);
}

document.getElementById('inputGroupFile04').onchange = function() {
	let this_modal = "#gigOrderReviewModal";
	var fileTypes = ['jpg', 'jpeg', 'png', 'gif'];  //acceptable file types

	function readURL(input) {
		if (input.files && input.files[0]) {
			var extension = input.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
					isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types
			if (isSuccess) {         
				var reader = new FileReader();
				///reader.onload = function(e) {
				///   $('.gig-image-preview').removeClass("d-none");
				///   $('.gig-image-preview img').attr("src", e.target.result);
				///}
				reader.readAsDataURL(input.files[0]);
				
			} else {
				document.querySelector("[id=reviewModalCloseBtn]").click();
				openModal('알림','이미지 파일이 아닙니다.',this_modal);
				input.value='';
			}
		}
	}
	readURL(this);
}

let fileEle = document.getElementById("inputGroupFile04");
let preview = document.getElementById("preview");

fileEle.addEventListener("change", () => {
	const files = Array.from(fileEle.files)

	files.forEach(file => {
		var html = `
			<p id="${file.lastModified}" class="uploded_img text-start">
				${file.name}
				<button data-index='${file.lastModified}' class="file-remove">X</button>
			</p>`;
		preview.insertAdjacentHTML("beforeend", html);
	});
});

document.addEventListener('click', (e) => {
	if(e.target.className !== 'file-remove') return;
	const removeTargetId = e.target.dataset.index;
	const removeTarget = document.getElementById(removeTargetId);
	const files = document.querySelector('#inputGroupFile04').files;
	const dataTranster = new DataTransfer();

	Array.from(files)
		.filter(file => file.lastModified != removeTargetId)
		.forEach(file => {
		dataTranster.items.add(file);
		});

	document.querySelector('#inputGroupFile04').files = dataTranster.files;

	removeTarget.remove();	
});		

</script>
{% endblock %}