<div class="mypage_sidebar col-lg-3 bg-light">
	<div class="p-3">
		<h2 class="mb-5">My Page</h2>
		<ul class="newsidebar p-0">
			<li class="nav-item">
				<a href="#" class="nav-link link-dark my-4 {% if active_tab == '주문 조회' %}active{% endif %}" aria-current="page">
					<i class="fa fa-house"></i>
					주문 조회
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-solid fa-calendar-days"></i>
					정기구독 관리
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-solid fa-arrow-right-arrow-left"></i>
					취소/변경
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-brands fa-wirsindhandwerk"></i>
					1:1 문의
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-solid fa-user"></i>
					정보 수정
				</a>
			</li>
		</ul>
	</div>
</div>

<!-- Responsive Sidebar START -->
<nav id="navbar-example2" class="navbar navbar-dark bg-light rounded resp_sidebar">
	<ul class="nav p-2" style="justify-content: space-evenly;">
		<!-- Dropdown item -->
		<li>
			<a class="order-nav-link" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				주문조회
			</a>
		</li>
			<!-- Dropdown item -->
		<li>
			<a class="order-nav-link" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				정기구독 관리
			</a>
		</li>
			<!-- Dropdown item -->
		<li>
			<a class="order-nav-link" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			취소/교환/환불
			</a>
		</li>
			<!-- Dropdown item -->
		<li>
			<a class="order-nav-link" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				1:1 문의
			</a>
		</li>
			<!-- Dropdown item -->
		<li>
			<a class="order-nav-link" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				정보 수정
			</a>
		</li>
	</ul>
</nav>