<div class="col-lg-3 bg-light">
	<div class="p-3">
		<h2 class="mb-5">My Page</h2>
		<ul class="newsidebar p-0">
			<li class="nav-item">
				<a href="#" class="nav-link link-dark my-4 {% if active_tab == '주문 조회' %}active{% endif %}" aria-current="page">
					<i class="fa fa-house"></i>
					주문 조회
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-solid fa-calendar-days"></i>
					정기구독 관리
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-solid fa-arrow-right-arrow-left"></i>
					취소/변경
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-brands fa-wirsindhandwerk"></i>
					1:1 문의
				</a>
			</li>
			<li>
				<a href="#" class="nav-link link-dark my-4">
					<i class="fa-solid fa-user"></i>
					정보 수정
				</a>
			</li>
		</ul>
	</div>
</div>