{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="my_page_main row">
				{% include "account/mypage/sidemenu.html" with active_tab="정기구독 관리"%}
				<div class="col-lg-9 subs_contents">
					<div class="d-flex flex-column">
						<nav class="nav mb-5 nav-pills">
							<a href="/account/mypage/orders/" class="nav-link active"> <i
									class="bx bx-user-circle me-2"></i>주문 조회</a>
							<a href="/account/mypage/subs/" class="nav-link"><i
									class="bx bx-cog me-2"></i>정기구독 관리</a>
							<a href="#" class="/account/mypage/cancel/"><i
									class="bx bx-layer me-2"></i>취소/변경</a>
							<a href="#" class="nav-link disabled"><i
									class="bx bx-credit-card me-2"></i>1:1 문의</a>
							<a href="#" class="nav-link disabled"><i
									class="bx bx-group me-2"></i>정보 수정</a>
						</nav>
					</div>
					<div class="col-12">
						<!-- Page title -->
						<div class="my-5 mypage_main_title">
							<h3>정기구독 관리</h3>
						</div>	
						<div class="row main_contents">
							<ul class="nav subs-pills nav-pills-white" id="pills-tab" role="tablist">
								<li class="nav-item me-3" role="presentation">
									<button class="nav-link btn-sm shadow active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy" type="button" role="tab" aria-controls="pills-buy" aria-selected="true">신청상황 1</button>
								</li>
								<li class="nav-item me-3" role="presentation">
									<button class="nav-link btn-sm shadow" id="pills-rent-tab" data-bs-toggle="pill" data-bs-target="#pills-rent" type="button" role="tab" aria-controls="pills-rent" aria-selected="false">해지내역 0</button>
								</li>
							</ul>
							<!-- Table -->
							<div class="mt-5 subs-view show">
								<div class="col-md-12">
									<div class="bg-secondary-soft p-3 p-md-5 rounded" style="padding: 0 !important;">
										<div class="row">
											<!-- Item -->
											<div class="col-sm-6 col-xxl-3 mb-xxl-0 sub-banner">
												<div class="bg-white-flex justify-content-between align-items-center p-3 rounded">
													<span class="display-5 text-white opacity-5"><i class="fas fa-fw fa-home"></i></span>
													<div class="text-center">
														<h2 data-countup='{"startVal": 0,"prefix":"D-"}' data-to="21" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
														<div class="text-muted">다음 서비스까지</div>
													</div>
												</div>
											</div>
											<!-- Item -->
											<div class="col-sm-6 col-xxl-3 mb-xxl-0 sub-banner">
												<div class="bg-white d-flex justify-content-between align-items-center p-3 rounded">
													<span class="display-5 text-white opacity-5"><i class="far fa-fw fa-comment-dots"></i></span>
													<div class="text-center">
														<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="3" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
														<div class="text-muted">구독한 서비스 수</div>
													</div>
												</div>
											</div>											
											<!-- Item -->
											<div class="col-sm-6 col-xxl-3 mb-xxl-0 sub-banner">
												<div class="bg-white d-flex justify-content-between align-items-center p-3 rounded">
													<span class="display-5 text-white opacity-5"><i class="fab fa-fw fa-gratipay"></i></span>
													<div class="text-center">
														<h2 data-countup='{"startVal": 0,"prefix":"+"}' data-to="55" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
														<div class="text-muted">완료된 서비스 수</div>
													</div>
												</div>
											</div>
											<!-- Item -->
											<div class="col-sm-6 col-xxl-3 mb-xxl-0 sub-banner">
												<div class="bg-white d-flex justify-content-between align-items-center p-3 rounded">
													<span class="display-5 text-white opacity-5"><i class="fas fa-fw fa-eye"></i></span>
													<div class="text-center">
														<h2 data-countup='{"startVal": 0,"prefix":""}' data-to="30" data-aos=""data-aos-id="countup:in" class="display-4 fw-normal text-primary">0</h2>
														<div class="text-muted">남은 생수 개수</div>
													</div>
												</div>
											</div>
										</div> <!-- Row END -->
										<div class="table-responsive subs-table" style="text-align: center;">
											<table class="table">
												<!-- Title -->
												<thead>
													<tr>
														<th scope="col">서비스 시작일</th>
														<th scope="col">서비스 종료일</th>
														<th scope="col">서비스 정보</th>
														<th scope="col">수량</th>
														<th scope="col">주문금액</th>
														<th scope="col">진행상태</th>
													</tr>
												</thead>
												<!-- Data -->
												<tbody>
													<tr>
														<td>2022/10/10</td>
														<td>2022/4/10</td>
														<td>에어컨 청소(6개월)</td>
														<td>1</td>
														<td>₱12,000</td>
														<td>미진행</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="subs-cancel">
								구독 취소 내역이 없습니다.
							</div>
						</div>
					</div>
				</div>	
				<!-- Main content END -->
			</div>
		</div>>
	</div>
</section>

<script>
window.addEventListener("load", () => {
	let btn = document.getElementById("pills-tab");
	let btnLi = btn.children;
	let view = document.getElementsByClassName("subs-view")[0];
	let cancel = document.getElementsByClassName("subs-cancel")[0];

	btnLi[0].addEventListener("click", () => {
		cancel.classList.remove("show");
		view.classList.add("show");
	});
	btnLi[1].addEventListener("click", () => {
		cancel.classList.add("show");
		view.classList.remove("show");
	});
});
</script>

{% endblock %}