<div class="mypage_top_menu d-flex flex-column">
	<nav class="top_menu nav nav-pills">
		<a href="{% url 'account:my_order' %}" class="nav-link {% if active_tab == '주문 조회' %}active{% endif %}"> <i
				class="bx bx-user-circle me-2"></i>주문 조회</a>
		<a href="{% url 'account:subscription' %}" class="nav-link {% if active_tab == '정기구독 관리' %}active{% endif %}"><i
				class="bx bx-cog me-2"></i>정기구독 관리</a>
		<a href="{% url 'account:cancel' %}" class="nav-link {% if active_tab == '서비스 취소신청' %}active{% endif %}"><i
				class="bx bx-layer me-2"></i>서비스 취소신청</a>
		<a href="{% url 'account:list' %}" class="nav-link {% if active_tab == '1:1 문의' %}active{% endif %}"><i
				class="bx bx-credit-card me-2"></i>1:1 문의</a>
	</nav>
</div>