<div class="d-flex flex-column">
	<nav class="nav mb-5 nav-pills">
		<a href="/account/mypage/orders/" class="nav-link active"> <i
				class="bx bx-user-circle me-2"></i>주문 조회</a>
		<a href="/account/mypage/subs/" class="nav-link"><i
				class="bx bx-cog me-2"></i>정기구독 관리</a>
		<a href="/account/mypage/cancel/" class="nav-link"><i
				class="bx bx-layer me-2"></i>서비스 취소신청</a>
		<a href="#" class="nav-link disabled"><i
				class="bx bx-credit-card me-2"></i>1:1 문의</a>
		<a href="#" class="nav-link disabled"><i
				class="bx bx-group me-2"></i>정보 수정</a>
	</nav>
</div>