{% extends 'seller/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load util_filter %}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header justify-content-between d-flex align-items-center">
						<h4 class="card-title">QnA History</h4>
					</div>
					<div class="card-body">						
						<div class="responsiveTable">
							<table class="table mt-3 mb-0 text-center">
								<thead>
									<tr>
										<th scope="col" style="width: 50px;">No.</th>
										<th scope="col">Title</th>
										<th scope="col" style="width: 100px;">Status</th>
										<th scope="col" style="width:15%;">Date</th>
									</tr><!-- end tr -->
								</thead><!-- end thead -->
								<tbody>
									{% for qna in qna_list %}
									<tr>
										<td data-label="No." scope="row">
											{{forloop.revcounter}}
										</td>
										<td data-label="Title">
											<a href="{% url 'qna:seller_qna_detail' qna.pk %}" class="text-link fw-medium">{{qna.question}}</a>
										</td>
										<td data-label="Status">
											<span class="badge badge-soft-primary">
												{% if qna.answered_at is not None %}
													Completed
												{% else %}
													Pending
												{% endif %}
											</span>
										</td>
										<td data-label="Date">
											{{qna.questioned_at}}
										</td>
									</tr><!-- end tr -->
									{% endfor %}
								</tbody><!-- end tbody -->
							</table><!-- end table -->
						</div><!-- end table responsive -->

						<div class="row g-0 text-center text-sm-start">
							<!-- end col -->
							<div class="col-12 mt-3">
								<ul class="pagination pagination-rounded justify-content-center mb-sm-0">
									{% if qna_list.has_previous %}
									<li class="page-item">
										<a href="?p={{qna_list.previous_page_number }}" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-left"></i></span>
									</li>
									{% endif %}
									
									{% for page_number in qna_list.paginator.page_range %}
										{% if page_number >= qna_list.number|add:-2 and page_number <= qna_list.number|add:2 %}
											{% if page_number == qna_list.number %}
											<li class="page-item active">
												<span class="page-link">{{ page_number }}</span>
											</li>
											{% else %}
											<li class="page-item">
												<a href="?p={{page_number }}" class="page-link">{{ page_number }}</a>
											</li>
											{% endif %}
										{% endif %}
									{% endfor %}
									
									{% if qna_list.has_next  %}
									<li class="page-item">
										<a href="?p={{qna_list.next_page_number }}" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-right"></i></span>
									</li>
									{% endif %}
								</ul>
							</div><!-- end col -->
						</div><!-- end row -->
						
					</div><!-- end card body -->
				</div><!-- end card -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div>
</div>
{% endblock %}
