<<<<<<< Updated upstream
ul ,li { list-style: none; }
.row { --bs-gutter-x: 0 !important;}

#my-spinner { width: 100%; height: 100%; top: 0; left: 0; display: none; opacity: .6; background: silver; position: absolute; z-index: 2; }
#my-spinner div { width: 100%; height: 100%; display: table; }
#my-spinner span { display: table-cell; text-align: center; vertical-align: middle; }
#my-spinner img { background: white; padding: 1em; border-radius: .7em; }


/*----------Product_List---------- */

.list_cart_btn { width: 100% !important; }

/*----------Product_Detail---------- */

/* Select option area */
.product-detail #optionFirst, #optionSecond { font-size: 16px; }
.product-detail .buy_area { text-align: right; }
.product-detail .buy_area .pd_qty { padding-left: 0; }
.product-detail .buy_area #qty { text-align: center; }
.product-detail .buy_area .btn_row {display: inline-block; }
.product-detail .buy_area .btn_row .btn_area { margin-top: 10px; padding-left: 0; }
.product-detail .buy_area .btn_row .btn_area .cart_btn, 
.product-detail .buy_area .btn_row .btn_area .buy_btn { width: 160px;}
.product-detail .buy_area .btn_row .btn_area .buy_btn { margin-left: 10px; }
.optionAdd { display: flex; justify-content: space-between; align-items:  center; }
.optionAdd input[type=number] { width: 20% } 
span.price { text-align: center; font-size: 23px; font-weight: bold; } 

.horizontaltab .bd-example { display: inline-block; }
.selectedList .optionTotal .product_title { display:flex; justify-content: space-between; align-items: baseline; }

@media only screen and (max-width: 543px) { 
	.buy_area { display: block; }
	.pd_qty { width: 100%; }
	.btn_row { display: block; }
	.btn_area > .bd-example { width: 100%; }
	.cart_btn, .buy_btn { width: 100%; margin-left: 0; } 
}

/*service description area*/
.service_info strong, .service_info span { font-size: 13px;}

/*review upload area*/
p.uploded_img { margin: 10px 0 0 0; font-size: 16px; }
.file-remove { border: none; background: transparent; vertical-align: middle; margin-left: 5px; font-size: 18px;}

@media only screen and (max-width: 360px) {
	.review_title { font-size: 18px; }
	#inputGroupFile04 { font-size: 15px; }
}

/* rating */
.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center
} 
.rating>input {
	display: none
}
.rating>label {
	position: relative;
	width: 1em;
	font-size: 30px;
	font-weight: 300;
	color: #FFD600;
	cursor: pointer
}
.rating>label::before {
	content: "\2605";
	position: absolute;
	opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
	opacity: 1 !important
}
.rating>input:checked~label:before {
	opacity: 1
}
.rating:hover>input:checked~label:before {
	opacity: 0.4
}
.modal-footer { border-top: none; }

/*Q&A*/
.ques_title {
	white-space: nowrap;
}
.ques_list {
	font-size: 14px;
	white-space: nowrap;
}
.ques_btn_area {
	display: flex;
	justify-content: flex-end;
}
.ques_btn_area li {
	margin-left: 10px;
}
.ques_btn_area li a {
	padding: 8px;
}

@media only screen and (max-width: 473px) {
	.ques_list { white-space: break-spaces; }
}
@media only screen and (max-width: 360px) {
	.ques_btn_area li a { font-size: 12px; padding: 0 5px; }
=======
.optionAdd {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.optionAdd span {
	font-size: 20px;
}
.product_title {
	display: flex;
	justify-content: space-between;
}
.product_title .option_title,
.product_title a.close {
	font-size: 20px;
}
.totalPrice p.total_price_part {
	font-size: 22px;
	font-weight: bold;
>>>>>>> Stashed changes
}