/*Product detail*/
.optionAdd {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.optionAdd span {
	font-size: 20px;
}
.product_title {
	display: flex;
	justify-content: space-between;
}
.product_title .option_title,
.product_title a.close {
	font-size: 20px;
}
.totalPrice p.total_price_part {
	font-size: 22px;
	font-weight: bold;
}


.newordertitle h3 {
	padding: 32px;
	font-size: 22px;
}
.subs-pills {
	margin-left: 12px;
}
.nav-pills .nav-link, 
.subs-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 5px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e3e3e3 !important;
}
.subs-pills .nav-link.active,
.subs-pills .show > .nav-link {
	color: #000;
	background-color: #e3e3e3 !important;
}
.subs-table {
	margin-top: 50px;
	text-align: center;
}
.sub-banner {
	margin-bottom: 30px;
}
.subs-view {
	display: none;
}
.subs-view.show {
	display: block;
}
.subs-cancel {
	margin-top: 50px !important;
	padding: 50px;
	text-align: center;
	background-color: #e3e3e3;
	display: none;
}
.subs-cancel.show {
	display: block;
}

@media only screen and (max-width: 1200px) {
	.subs_contents {
		width: 100% !important;
	}
}
@media only screen and (max-width: 575px) {
	.sub-banner {
		margin-bottom: 10px;
	}
}

/*-------------------------Mypage--------------------------*/
/* my page - order_search_area */
.table td {
	vertical-align: middle;
}
.order-tb-left {
	white-space: nowrap;
	background-color: #f3f3f3 !important;
	text-align: center;
    font-size: 15px;
}
.order-tb-right {
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
}
.order-tb-search {
	margin-left: 40px;
}
.order-tb-button {
	width: 80px;
}
button[type="submit"], button[type="button"], select.form-select  {
	font-size: 14px;
}

@media only screen and (max-width: 991px) {
	.mypage_sidebar {
		display: none;
	}
	.order-tb-left {
		font-size: 14px;
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.order-tb-search {
		margin-left: 50px;
	}
	button[type="submit"], button[type="button"], select.form-select {
		font-size: 13px;
	}
	.row {
		font-size: 13px;
	}
}
@media only screen and (max-width: 575px) {
	.order-tb-search {
		margin-left: 0;
	}
	.row {
		font-size: 12px;
	}
}
@media only screen and (max-width: 400px) {
	button[type="submit"], button[type="button"], select.form-select, input::placeholder {
		font-size: 1px;
	}
	.row {
		font-size: 10px;
	}
}

input {
    padding: 10px 15px !important;
    border: 1px solid lightgrey !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff !important;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
}
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0;
}
::placeholder {
    color: #BDBDBD;
    opacity: 1;
	font-size: 14px;
}
:-ms-input-placeholder {
    color: #BDBDBD;
}
::-ms-input-placeholder {
    color: #BDBDBD;
}
button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}
.datepicker {
  background-color: #fff;
  border: none;
  border-radius: 0 !important;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
}
.datepicker table tr td.today, span.focused {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFF3E0, #FFE0B2);
}
.datepicker table tr td.today.range {
  background-image: linear-gradient(#eeeeee, #eeeeee) !important;
  border-radius: 0 !important;
}

/*Weekday title*/
thead tr:nth-child(3) th {
  font-weight: bold !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dow, .old-day, .day, .new-day {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
}
.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
  border-radius: 50% !important;
  background-color: #eee;
}
.range-start, .range-end {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFA726, #FFA726) !important;
}
.prev, .next, .datepicker-switch {
  border-radius: 0 !important;
  padding: 10px 10px 10px 10px !important;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}
.prev:hover, .next:hover, .datepicker-switch:hover {
  background-color: inherit !important;
  opacity: 1;
}
.btn-black {
  background-color: #37474F !important;
  color: #fff !important;
  width: 100%;
}
.btn-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.order_view {
	text-align: center;
	font-size: 15px;
}
/*review_modal*/
.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center
} 
.rating>input {
	display: none
}
.rating>label {
	position: relative;
	width: 1em;
	font-size: 30px;
	font-weight: 300;
	color: #FFD600;
	cursor: pointer
}
.rating>label::before {
	content: "\2605";
	position: absolute;
	opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
	opacity: 1 !important
}
.rating>input:checked~label:before {
	opacity: 1
}
.rating:hover>input:checked~label:before {
	opacity: 0.4
}
/*file_upload*/
.file-remove {
	border: none;
	background-color: #fff;
}

/*cancel*/
#cancelDetail {
	font-size: 16px;
	color: #28a7e1;
	font-weight: bold;
}
.cancelCatalog {
	padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	border-bottom: 1px solid #dee2e6;
	font-size: 13px;
}
.cancelCatalog .cancelphoto img{
	width: 100px;
	height: 100px;
}
.cancelreason {
	padding: 25px 15px 0;
}
.cancelreason > h6 {
	margin-bottom: 20px;
	font-size: 13px;
	font-weight: bold;;
} 
.cancelreason ul {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding-left: 0 !important;
}
.cancelreason ul:last-child {
	border-bottom: none;
}
.cancelreason ul li {
	display: inline-block;
	font-size: 13px;
}
.reasoninner {
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}
.downarrow {
	margin-top: 20px;
	text-align: center;
}
.form-label {
	font-weight: bold;
	margin-bottom: 20px;
}
.previous_order {
	border: 1px solid #dec48f;
}
.changed_order {
	margin-top: 50px;
	border: 1px solid #dec48f;	
}
.cancel_status {
	font-size: 14px;
}
.cancel_detail {
	padding: 0;
}