{% extends 'admin/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load util_filter %}
{% load mathfilters %}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header justify-content-between d-flex align-items-center">
						<h4 class="card-title">정산 예정 <span class="text-muted fw-normal ms-2">(34)</span></h4>
					</div>
					<div class="card-body p-3">
						<div class="text-end">
							<div class="d-flex flex-wrap align-items-start justify-content-md-end mt-2 mt-md-0 gap-2 mb-3">
								<div>
									<a href="#" class="btn btn-light"><i class="mdi mdi-check-bold me-1"></i>정산 완료</a>
								</div>                                                    
							</div>
						</div>

						<div class="responsiveTable text-center">
							<table class="table align-middle table-nowrap table-check">
								<thead>
									<tr>
										<th scope="col" style="width: 50px;">
											<div class="form-check font-size-16">
												<input type="checkbox" class="form-check-input" id="checkAll">
												<label class="form-check-label" for="checkAll"></label>
											</div>
										</th>
										<th>Name</th>
										<th>Company</th>
										<th>Phone</th>
										<th>Email</th>
										<th>Account</th>
										<th>Issue</th>
									</tr><!-- end tr -->
								</thead><!-- end thead -->
								<tbody>
									{% for profit_expect_obj in profit_expect_objs %}
									<tr>
										<td scope="row">
											<div class="form-check font-size-16">
												<input type="checkbox" class="form-check-input" id="contacusercheck1">
												<label class="form-check-label" for="contacusercheck1"></label>
											</div>
										</td>
										<td data-label="Name">{{profit_expect_obj.seller__username}}</td>
										<td data-label="Company">₱{{profit_expect_obj.charge_amount|intcomma}}</td>
										<td data-label="Phone">₱{{profit_expect_obj.payment_fee|intcomma}}</td>
										<td data-label="Email">₱{{profit_expect_obj.profit_amount|intcomma}}</td>
										<td data-label="Account">Account number here</td>
										<td data-label="Action">
											<div class="dropdown">
												<button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="uil uil-ellipsis-h"></i>
												</button>
												<ul class="dropdown-menu dropdown-menu-end">
													<li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reasonMemoModal">이체 대기</button></li>
													<li><a class="dropdown-item" href="#">이체 취소</a></li>
												</ul>
											</div>
										</td>
									</tr><!-- end tr -->
									{% endfor %}
									
								</tbody><!-- end tbody -->
							</table><!-- end table -->
						</div><!-- end table responsive -->

						<div class="row g-0 text-center text-sm-start">
							<!-- end col -->
							<div class="col-12">
								<ul class="pagination pagination-rounded justify-content-center mb-sm-0">
									{% if profit_expect_objs.has_previous %}
									<li class="page-item">
										<a href="?p={{profit_expect_objs.previous_page_number }}" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-left"></i></span>
									</li>
									{% endif %}
									
									{% for page_number in profit_expect_objs.paginator.page_range %}
										{% if page_number >= profit_expect_objs.number|add:-2 and page_number <= profit_expect_objs.number|add:2 %}
											{% if page_number == profit_expect_objs.number %}
											<li class="page-item active">
												<span class="page-link">{{ page_number }}</span>
											</li>
											{% else %}
											<li class="page-item">
												<a href="?p={{page_number }}" class="page-link">{{ page_number }}</a>
											</li>
											{% endif %}
										{% endif %}
									{% endfor %}
									
									{% if profit_expect_objs.has_next  %}
									<li class="page-item">
										<a href="?p={{profit_expect_objs.next_page_number }}" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-right"></i></span>
									</li>
									{% endif %}
								</ul>
							</div><!-- end col -->
						</div><!-- end row -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="reasonMemoModal" tabindex="-1" aria-labelledby="reasonMemoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="reasonMemoModalLabel">Issue</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <form>
			<div class="mb-3">
			  <label for="recipient-name" class="col-form-label">사유 :</label>
			  <input type="text" class="form-control" id="recipient-name" placeholder="이체 대기" readonly>
			</div>
			<div class="mb-3">
			  <label for="message-text" class="col-form-label">Memo:</label>
			  <textarea class="form-control" id="message-text">memo here</textarea>
			</div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save</button>
		</div>
	  </div>
	</div>
  </div>

<script>
let a = "이체 대기";
function sortTable(n) {
	let rows, x, y, shouldSwith, switchCount = 0;
	let	table = document.querySelector(".table");
	let	switching = true;
	let	dir = "asc";

	while(switching) {
		switching = false;
		rows = table.getElementsByTagName("tr")

		for(var i=1; i<(rows.length -1); i++){  // thead -> tr 부분을 제외해야하기 때문에 i=1
			shouldSwith = false;
			x = rows[i].getElementsByTagName("td")[n];
			y = rows[i+1].getElementsByTagName("td")[n];

			if(dir == "asc") {
				if(x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
					shouldSwith = true;
					break;
				}
			}else if (dir == "desc") {
				if(x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
					shouldSwith = true;
					break;
				}
			}
		}

		if(shouldSwith) {
			rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
			switching = true;
			switchCount ++;
		}else {
			if(switchCount == 0 && dir == "asc") {
				dir = "desc";
				switching = true;
			}
		}
	}
}

// <span class="badge bg-warning p-2" style="cursor: pointer;">이체 대기</span>
// <span class="badge bg-danger p-2" style="cursor: pointer;">이체 취소</span>
</script>
{% endblock %}
