{% extends 'admin/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load util_filter %}
{% load mathfilters %}
<style>
.responsiveTable {
	overflow: auto;
}

@media only screen and (max-width: 767px) {
	td[data-label=Charge], td[data-label=Memo] {
		border-bottom: 0;
	}
}
</style>
<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header justify-content-between d-flex align-items-center">
						<h4 class="card-title">Profit Scheduled <span class="text-muted fw-normal ms-2">({{profit_expect_objs|length}})</span></h4>
					</div>
					<div class="card-body p-3">
						<div class="text-end">
							<div class="d-flex flex-wrap align-items-start justify-content-md-end mt-2 mt-md-0 gap-2 mb-3">
								<div>
									<a href="#" class="btn btn-light"><i class="mdi mdi-check-bold me-1"></i>Profit Completed</a>
								</div>                                                    
							</div>
						</div>

						<div class="responsiveTable text-center">
							<table class="table table-nowrap  align-middle">
								<thead>
									<tr>
										<th scope="col" style="width: 50px;">
											<div class="form-check font-size-16">
												<input type="checkbox" class="form-check-input" id="checkAll">
												<label class="form-check-label" for="checkAll"></label>
											</div>
										</th>
										<th>Name</th>
										<th>Total charge</th>
										<th>Charge fee</th>
										<th>Total profit</th>
										<th>Account</th>
										<th>Memo</th>
										<th>Status</th>
										<th>Action</th>
										<th>Details</th>
									</tr><!-- end tr -->
								</thead><!-- end thead -->
								<tbody>
									{% for profit_expect_obj in profit_expect_objs %}
									<tr>
										<td scope="row">
											<div class="form-check font-size-16">
												<input type="checkbox" class="form-check-input" id="contacusercheck1">
												<label class="form-check-label" for="contacusercheck1"></label>
											</div>
										</td>
										<td data-label="Name">{{profit_expect_obj.seller.username}}</td>
										<td data-label="Charge">₱{{profit_expect_obj.total_charge_amount|intcomma}}</td>
										<td data-label="Payment">₱{{profit_expect_obj.total_charge_fee|intcomma}}</td>
										<td data-label="profit">₱{{profit_expect_obj.total_profit_amount|intcomma}}</td>
										<td data-label="Account">Account number here</td>
										<td data-label="Memo" class="profit-memo d-flex justify-content-center flex-column" style="white-space:nowrap; word-break:keep-all;">
											{{profit_expect_obj.memo}}
											<button class="btn btn-light btn-sm mt-2" type="button" onclick="openMemoModal(`{{profit_expect_obj.pk}}`)">Edit</button>
										</td>
										<td data-label="Status">{{profit_expect_obj.get_status_display}}</td>
										<td data-label="Action">
											<div class="dropdown">
												<button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="icon nav-icon text-sm" data-feather="list" style="width: 20px;"></i>
												</button>
												<ul class="dropdown-menu dropdown-menu-end">
													<li class="dropdown-item" onclick="change_status_submit(this, `{{profit_expect_obj.pk}}`, 'H')" style="cursor: pointer;">Hold</li>
													<li class="dropdown-item" onclick="change_status_submit(this, `{{profit_expect_obj.pk}}`, 'D')" style="cursor: pointer;">Done</li>
												</ul>
											</div>
										</td>
										<td data-label="Details">
											<button class="btn btn-primary btn-sm" type="button" data-url="{% url 'profit:admin_profit_expect_detail' profit_expect_obj.pk %}" data-username="{{profit_expect_obj.seller.username}}"  onclick="get_profile_detail_info(this);">View</button>
										</td>
									</tr><!-- end tr -->
									{% endfor %}
									
								</tbody><!-- end tbody -->
							</table><!-- end table -->
						</div><!-- end table responsive -->

						<div class="row g-0 text-center text-sm-start">
							<!-- end col -->
							<div class="col-12">
								<ul class="pagination pagination-rounded justify-content-center mb-sm-0">
									{% if profit_expect_objs.has_previous %}
									<li class="page-item">
										<a href="?p={{profit_expect_objs.previous_page_number }}" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-left"></i></span>
									</li>
									{% endif %}
									
									{% for page_number in profit_expect_objs.paginator.page_range %}
										{% if page_number >= profit_expect_objs.number|add:-2 and page_number <= profit_expect_objs.number|add:2 %}
											{% if page_number == profit_expect_objs.number %}
											<li class="page-item active">
												<span class="page-link">{{ page_number }}</span>
											</li>
											{% else %}
											<li class="page-item">
												<a href="?p={{page_number }}" class="page-link">{{ page_number }}</a>
											</li>
											{% endif %}
										{% endif %}
									{% endfor %}
									
									{% if profit_expect_objs.has_next  %}
									<li class="page-item">
										<a href="?p={{profit_expect_objs.next_page_number }}" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<span class="page-link"><i class="mdi mdi-chevron-right"></i></span>
									</li>
									{% endif %}
								</ul>
							</div><!-- end col -->
						</div><!-- end row -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Charge Details Modal -->
<div class="modal fade" id="chargeDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title fw-bold" id="chargeDetailsModalLabel">Charge Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="chargeDetailsModalBody">
	
			</div>
			<div class="modal-footer">
				<span class="btn btn-secondary" data-bs-dismiss="modal">Close</span>
			</div>
		</div>
	</div>
</div> 

<!-- Memo Modal -->
<div class="modal fade" id="reasonMemoModal" tabindex="-1" aria-labelledby="reasonMemoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="reasonMemoModalLabel">Issue</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form name="change_memo_form">
					<input type="hidden" name="profit_id" value="">
					<div class="mb-3">
						<label for="message-text" class="col-form-label">Memo:</label>
						<textarea class="form-control" id="message-text" placeholder="memo here" name="memo"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary memo-save" onclick="change_memo_submit()">Save</button>
			</div>
		</div>
	</div>
</div>

<script>
let is_run = false;

async function get_profile_detail_info(e) {
	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

	let url = e.dataset.url;
	let username = e.dataset.username;

	let label = document.getElementById('chargeDetailsModalLabel');
	let body = document.getElementById('chargeDetailsModalBody');
	label.innerHTML = `${username} Details`;
	body.innerHTML ='<div class="text-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>';
	var modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('chargeDetailsModal'));
	modal.show();

	is_run = true;

	const response = await fetch(url, {
		method: "GET",
	})
	.then(response => response.text())
	.then(data => {
		body.innerHTML = data;
	});

	is_run  = false;
}

function openMemoModal(profit_id) {
	var modal = bootstrap.Modal.getOrCreateInstance(document.getElementById("reasonMemoModal"));	
	document.querySelector("input[name=profit_id]").value = profit_id;
	document.getElementById("message-text").value = '';
	modal.show();
}

async function change_memo_submit() {
	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

	is_run = true;

	let form_data = new FormData(document.querySelector('form[name=change_memo_form]'));
	let issueMemo = document.getElementById("message-text");

	const response = fetch("{% url 'profit:admin_profit_expect_change_memo' %}", {
		method: "POST",
		headers: {
			"X-CSRFToken": getCookie("csrftoken"),
		},
		body: form_data,
	})
	.then(response => response.json())
	.then(data => {	
		if (data.result == '200') {
			bootstrap.Modal.getOrCreateInstance(document.getElementById("reasonMemoModal")).hide()
			openModal("알림", data.result_text);
			document.querySelector(".profit-memo").innerHTML=issueMemo.value;
		} else {
			openModal("알림", data.result_text, "#reasonMemoModal");
		}
	});
	is_run  = false;
};

async function change_status_submit(e, profit_id, status) {
	let transferStatus = e.parentElement.parentElement.parentElement.previousElementSibling;

	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

	is_run = true;

	const form_data = new FormData();

	form_data.append('profit_id', profit_id);
	form_data.append('status', status);

	const response = fetch("{% url 'profit:admin_profit_expect_change_status' %}", { 
		method: "POST",
		headers: {
			"X-CSRFToken": getCookie("csrftoken"),
		},
		body: form_data,
	})
	.then(response => response.json())
	.then(data => {
		if (data.result == '200') {
			transferStatus.innerHTML = data.result_text;
		} else {
			openModal("알림", data.result_text);
		}
	});
	is_run  = false;
};
</script>
{% endblock %}

