<div class="responsiveTable text-center">
	<table class="table table-nowrap  align-middle">
		<thead>
			<tr>
				<th>Date</th>
				<th>Charge Amount</th>
				<th>Charge Fee</th>
				<th>Shipping Fee</th>
				<th>Total Profit</th>
			</tr>
		</thead>
		<tbody>
			{% for profit_detail_obj in profit_detail_objs %}
			<tr>
				<td>{{profit_detail_obj.created_at}}</td>
				<td>{{profit_detail_obj.charge_amount}}</td>
				<td>{{profit_detail_obj.charge_fee}}</td>
				<td>{{profit_detail_obj.shipping_fee}}</td>
				<td>{{profit_detail_obj.profit_amount}}</td>
			</tr>
			{% endfor %}	
		</tbody>
	</table>
</div>