{% extends 'seller/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<style>
.pass-change-area {
	display: none;
}
</style>
<div class="page-content">
	<div class="container-fluid mx-auto">
		<form name="updateUserForm">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">기본 정보</h4>
						</div>
						<div class="card-body">
							<div class="mb-3 row">
								<label for="profile_id" class="col-md-2 col-form-label">ID</label>
								<label class="col-md-10 col-form-label">{{request.user.username}}</label>
							</div>
							<div class="mb-3 row">
								<label class="col-md-2 col-form-label">Password</label>
								<div class="col-md-10">
									<input type="password" class="form-control" id="crt_password" name="password">

									<span class="btn-pass-change btn btn-secondary my-2">변경</span>
									<div class="pass-change-area">
										<div class="mb-3">
											<label for="update_pass_new" class="form-label">New password</label>
											<input type="password" class="form-control" id="update_pass_new" value="" name="new_password">
										</div>
										<div class="mb-3">
											<label for="update_pass_new_confirm" class="form-label">Confirm new password</label>
											<input type="password" class="form-control" id="update_pass_new_confirm" value="" name="new_password2">
										</div>
									</div>

								</div>
							</div>
							<div class="mb-3 row">
								<label for="profile_name" class="col-md-2 col-form-label">판매 담당자명</label>
								<div class="col-md-10">
									<input class="form-control" type="search" value="{{request.user.mb_name}}" name="mb_name" id="profile_name">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="profile_tel" class="col-md-2 col-form-label">판매 담당자 연락처</label>
								<div class="col-md-10">
									<input class="form-control" type="tel" value="{{request.user.mb_phone}}" name="mb_phone" placeholder="Enter Telephone"
										id="profile_tel" oninput="checkNumVal(this)">
								</div>
							</div>
						</div>
						<div class="card-header">
							<h4 class="card-title">정산 정보</h4>
						</div>
						<div class="card-body">
							<div class="mb-3 row">
								<label class="col-md-2 col-form-label">Bank</label>
								<div class="col-md-10">
									<select class="form-select">
										<option>Select</option>
										<option>bank1</option>
										<option>bank2</option>
									</select>
								</div>
							</div>
							<div class="mb-3 row">
								<label for="account-holder" class="col-md-2 col-form-label">Account Holder</label>
								<div class="col-md-10">
									<input class="form-control" type="text" value="11"  placeholder="Enter Number" id="account-holder">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="account-number-input" class="col-md-2 col-form-label">Account Number</label>
								<div class="col-md-10 accountInputArea">
									<input class="form-control" type="text" placeholder="Enter Number" value="123456789" id="account-number-input" oninput="checkNumVal(this)">
								</div>
							</div>
							<div class="text-end">
								<button type="button" class="btn btn-success" id="profileSaveBtn">Save changes</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>



<script>

let is_run = false;

let btnPassChange = document.querySelector(".btn-pass-change");

let currentPass = document.getElementById("crt_password");
let updatePassNew = document.getElementById("update_pass_new");
let updatePassNewConfirm = document.getElementById("update_pass_new_confirm");

let profileSaveBtn = document.getElementById("profileSaveBtn");

btnPassChange.addEventListener("click", ()=>{
	document.querySelector(".pass-change-area").classList.toggle("d-block")
});

updatePassNew.addEventListener("input", ()=>{
	if(updatePassNew.value == ''){
		updatePassNew.style.borderColor = "#e2e5e8";
		return false;
	}
	if(currentPass.value == updatePassNew.value) {
		openModal("알림", "현재 비밀번호와 같습니다.")
		updatePassNew.value= '';
	}

	if(password_check(updatePassNew.value)){
		updatePassNew.style.borderColor = "#51d28c";
	}else {
		updatePassNew.style.borderColor = "#e2e5e8";
	}
})

updatePassNewConfirm.addEventListener("input", ()=>{
	if(updatePassNew.value == updatePassNewConfirm.value){
		updatePassNewConfirm.style.borderColor = "#51d28c";
	}else if(updatePassNewConfirm.value == '') {
		updatePassNewConfirm.style.borderColor = "#e2e5e8";
	}else {
		updatePassNewConfirm.style.borderColor = "#ef6866";
	}
})

function checkNumVal(e){
	if(e.value == '') {
		return false;
	}

	if(!number_check(e.value)){
		openModal("알림", "숫자만 입력해주세요.")
 		e.value = e.value.slice(0, -1);
	}

}

profileSaveBtn.addEventListener("click", function(){
	update_user_submit();
});

async function update_user_submit() {
	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

    is_run = true;

	let form_data = new FormData(document.querySelector('form[name=updateUserForm]'));

    const response = await fetch("{{request.path}}", {
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
        },
        body: form_data
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        is_run  = false;
        if (data.result == '200') {
            openModal("알림", data.result_text, '', 'reload');
        } else {
            openModal("알림", data.result_text, '');
        }
    });
}
</script>
{% endblock %}