{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<link href="{% static 'user/css/style.css' %}" rel="stylesheet">
<style>
	.bg-image {scale: 1.2; transition: all 2s;}
	.bg-image.active {scale: 1;}
</style>
<!--Page header start-->
<section class="position-relative overflow-hidden" style="padding: 0;">
	<div class="py-8 py-lg-11 bg-dark text-white position-relative category_info">
		<img src="{% static 'user/img/shop/banners/home_check.jpg' %}" class="bg-image bg-top-center" alt="">
		<div class="row align-items-center position-relative">
			<div class="col-lg-10 mx-auto text-center">
				<h1 class="mb-0 first_category_name" style="color:white;">Home Check</h1>
			</div>
		</div>
	</div>
</section>

<section class="position-relative" style="padding: 0;">
	<div class="container position-relative">
		<div class="position-relative pt-2 pb-9 pb-lg-11">
			<div class="row">
				<div class="col-lg-12 subs_contents">
							<!-- Page title -->
							<div class="my-5">
								<h4 class="my-4 page-title-box">Home Check Reservation</h4>
							</div>
								<form id="stepByStepForm" class="file-upload">
									<ul class="progress-step">
										<li class="progress-bar__dot full box-md position-relative me-4 me-lg-0">
											<span class="mb-0 position-absolute top-50 start-50 translate-middle fs-6"><i class="far fa-edit"></i></span>
										</li>
										<li class="progress-bar__connector align-items-center d-none d-lg-block">
											<span class="fs-5 mb-0 ms-2 text-dark">Description</span>
										</li>
										
										<li class="progress-bar__dot box-md position-relative me-4 me-lg-0">
											<span class="mb-0 position-absolute top-50 start-50 translate-middle fs65"><i class="fas fa-photo-video"></i></span>
										</li>
										<li class="progress-bar__connector align-items-center d-none d-lg-block">
											<span class="fs-5 mb-0 ms-2 text-dark">Photo Upload</span>
										</li>

										<li class="progress-bar__dot box-md position-relative">
											<span class="mb-0 position-absolute top-50 start-50 translate-middle fs65"><i class="fas fa-bars"></i></span>
										</li>
										<li class="progress-bar__connector align-items-center d-none d-lg-block">
											<span class="fs-5 mb-0 ms-2 text-dark">Check List</span>
										</li>
									</ul>
									
									<!-- Description step -->
									<div class="step step1">
										<!-- Row START -->
										<div class="row gx-5 align-items-center justify-content-center">
											<!-- Property detail -->
											<div class="col-xxl-10 mb-5 mb-xxl-0">
												<div class="row g-3 bg-secondary-soft rounded p-3 p-md-5">
													<h4 class="my-0">Basic Information</h4>
													<div class="col-md-6">
														<label class="form-label">Name *</label>
														<input type="text" class="form-control" aria-label="property id">
													</div>
													<div class="col-md-6">
														<label class="form-label">Contact *</label>
														<input type="text" class="form-control" aria-label="property id">
													</div>
													<div class="col-md-6">
														<label class="form-label">E-mail *</label>
														<input type="text" class="form-control" aria-label="property id">
													</div>
													<div class="col-md-12">
														<label for="homecheck_address" class="form-label">Address *</label>
														<textarea class="form-control" id="homecheck_address" rows="4" spellcheck="false"></textarea>
													</div>
														<!-- Category -->
														<div class="col-md-12">
															<label class="form-label">Service Type*</label>
															<select class="form-select js-choice" aria-label="Default select example">
																<option value="">Select Service</option>
																<option>육안 점검</option>
																<option>장비 점검</option>
																<option>입주 전 점검</option>
																<option>안전 진단</option>
																<option>기타</option>
															</select>
														</div>

														<div class="col-md-12">
															<label class="form-label">Title *</label>
															<input type="text" class="form-control" aria-label="Title">
														</div>
														<!-- Description -->
														<div class="col-md-12">
															<label for="homecheck_contents" class="form-label">Contents *</label>
															<textarea class="form-control" id="homecheck_contents" rows="4" spellcheck="false"></textarea>
														</div>
												</div> <!-- Row END -->
											</div>
										</div> <!-- Row END -->
									</div>
							
									<!-- Media step -->
									<div class="step step2 hidden">
										<div class="row gx-5 align-items-center justify-content-center">
											<div class="col-xxl-10 mb-5 mb-xxl-0">
												<div class="row g-3 bg-secondary-soft p-3 p-md-5 rounded">
													<h4 class="mb-4 mt-0">Upload your house status photo(Optional)</h4>
													<!-- upload file -->
													<div class="col-md-12 mt-0">
														<div class="d-flex justify-content-center align-items-center p-4 bg-primary-soft border-dashed rounded">
															<input type="file" id="thumbnail-upload" name="file" hidden>
															<label for="thumbnail-upload" style="cursor:pointer;">
																<span class="fs-2 text-primary"><i class="fas fa-file-upload me-4"></i></span>
															</label>
															<div>
																<h6 class="mb-1">Click to upload</h6>
																<span>upload up to 8 files</span>
															</div>
														</div>
														<div class="row thumbnail-preview" style="background-color: #fafbfb;"></div>
													</div>
												</div> 
											</div>
										</div>
									</div>

									<!-- Amenities step -->
									<div class="step step3 hidden">
										<!-- Row START -->
										<div class="row mb-4 gx-5">
											<div class="col-xxl-12 mb-xxl-0">
												<div class=" bg-secondary-soft p-5 rounded">
													<div class="row">
														<!-- Info -->
														<div class="col-sm-6 col-md-4 mt-4 mt-sm-0">
															<!-- Title -->
															<h5 class="font-base mb-2">Interior Details</h5>
															<!-- Kitchen -->
															<div class="form-check">
																<input type="checkbox" value="" id="flexCheckDefault1">
																<label for="flexCheckDefault1">
																	Kitchen
																</label>
															</div>
															<!-- Laundary -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault2">
																<label class="form-check-label" for="flexCheckDefault2">
																	Laundary
																</label>
															</div>
															<!-- Gym -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault3">
																<label class="form-check-label" for="flexCheckDefault3">
																	Gym
																</label>
															</div>
															<!-- Projector Room -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault4">
																<label class="form-check-label" for="flexCheckDefault4">
																	Projector Room
																</label>
															</div>
														</div>

														<!-- Info -->
														<div class="col-sm-6 col-md-4 mt-4 mt-sm-0">
															<!-- Title -->
															<h5 class="font-base mb-2">Outdoor Details</h5>
															<!-- Back yard -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault5">
																<label class="form-check-label" for="flexCheckDefault5">
																	Back yard
																</label>
															</div>
															<!-- Front yard -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault6">
																<label class="form-check-label" for="flexCheckDefault6">
																	Front yard
																</label>
															</div>
															<!-- Attached garrage -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault7">
																<label class="form-check-label" for="flexCheckDefault7">
																	Attached garrage
																</label>
															</div>
															<!-- Pool -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault8">
																<label class="form-check-label" for="flexCheckDefault8">
																	Pool
																</label>
															</div>
														</div>

														<!-- Info -->
														<div class="col-sm-6 col-md-4 mt-4 mt-md-0">
															<!-- Title -->
															<h5 class="font-base mb-2">Other Features</h5>
															<!-- Elevator -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault9">
																<label class="form-check-label" for="flexCheckDefault9">
																	Elevator
																</label>
															</div>
															<!-- Wifi -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault10">
																<label class="form-check-label" for="flexCheckDefault10">
																	Wifi
																</label>
															</div>
															<!-- School -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault11">
																<label class="form-check-label" for="flexCheckDefault11">
																	School
																</label>
															</div>
															<!-- Transpotation hub -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault12">
																<label class="form-check-label" for="flexCheckDefault12">
																	Transpotation hub
																</label>
															</div>
															<!-- Super market -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault13">
																<label class="form-check-label" for="flexCheckDefault13">
																	Super market
																</label>
															</div>
															<!-- Clinic -->
															<div class="form-check">
																<input class=" " type="checkbox" value="" id="flexCheckDefault14">
																<label class="form-check-label" for="flexCheckDefault14">
																	Clinic
																</label>
															</div>
														</div>
													</div> <!-- Row END -->
												</div>
											</div>
										</div> <!-- Row END -->
								</div>
							
								<!-- Buttons -->
									<div class="mt-5 d-flex justify-content-between">
										<button id="previous" class="disabled btn btn-md btn-dark-soft" disabled>
												previous
										</button>
										<button id="next" class="btn btn-primary-soft btn-md">
												next
										</button>
										<!-- <button id="validate" type="submit" class="hidden btn btn-success-soft btn-md">
											Submit
										</button> -->
									</div>
									<div class="text-end">
										<button id="validate" type="submit" class="hidden btn btn-success btn-md">
											Submit
										</button>
									</div>
							</form>
			
				</div>
				<!-- Main content END -->
			</div>
		</div>
	</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
window.addEventListener("load", function(){
	document.querySelector(".bg-image").classList.add("active");
});

const previousButton = document.getElementById("previous")
const nextButton = document.getElementById("next")
const submitButton = document.getElementById('validate')
const form = document.getElementById('stepByStepForm')
const dots = document.getElementsByClassName('progress-bar__dot')
const numberOfSteps = 3
let currentStep = 1

for(let i = 0 ; i < dots.length ; ++i){
	 dots[i].addEventListener('click', ()=>{
		 goToStep(i+1) 
	 })
}

previousButton.onclick = goPrevious
nextButton.onclick = goNext


function goNext(e) {
	 e.preventDefault()
	 currentStep += 1
	 goToStep(currentStep)
}

function goPrevious(e) {
	 e.preventDefault()
	 currentStep -= 1
	 goToStep(currentStep)
}

function goToStep(stepNumber){   
	 currentStep = stepNumber
	 
	 let inputsToHide = document.getElementsByClassName('step')
	 let inputs = document.getElementsByClassName(`step${currentStep}`)
	 let indicators = document.getElementsByClassName('progress-bar__dot')
	 
	 for(let i = indicators.length-1; i >= currentStep ; --i){
			indicators[i].classList.remove('full')
	 }
	 
	 for(let i = 0; i < currentStep; ++i){
			indicators[i].classList.add('full')
	 }
	 
	 //hide all input
	 for (let i = 0; i < inputsToHide.length; ++i) {
			hide(inputsToHide[i])
	 }
	 
	 //only show the right one
	 for (let i = 0; i < inputs.length; ++i) {
			show(inputs[i])
	 }
	 
	 //if we reached final step
	 if(currentStep === numberOfSteps){
			enable(previousButton)
			disable(nextButton)
			show(submitButton)
	 }
	 
	 //else if first step
	 else if(currentStep === 1){
		 disable(previousButton)
			enable(next)
			hide(submitButton)
	 }
	 
	 else {
			enable(previousButton)
			enable(next)
			hide(submitButton)
	 }
}

function enable(elem) {
	 elem.classList.remove("disabled");
	 elem.disabled = false;
}

function disable(elem) {
	 elem.classList.add("disabled");
	 elem.disabled = true;
}

function show(elem){
	 elem.classList.remove('hidden')
}

function hide(elem){
	 elem.classList.add('hidden')
}

let fileArr = [];

const dataTransfer = new DataTransfer();
const handler = {
	init() {
		const fileInput = document.querySelector('#thumbnail-upload');
		const preview = document.querySelector('.thumbnail-preview');

		fileInput.addEventListener('change', () => {

			const files = Array.from(fileInput.files);
			const filesExtension = files[0].name.split('.').pop().toLowerCase();

			if(!(filesExtension == 'jpg' || filesExtension == 'jpeg' || filesExtension == 'png' || filesExtension == 'gif')){
				openModal('Notification', 'Invalid image file.');
				return false;
			}	

			files.forEach((file) => {
				fileArr.push(file.lastModified);
				console.log(fileArr)
				if(!isDuplicate(fileArr)){
					var reader = new FileReader();
					reader.onload = function(e) {	
						html = '<div class="position-relative col-3">';
						html += `<button type='button' onclick='thumbnail_remove(this);' data-index='${file.lastModified}' class='border-0 bg-transparent position-absolute top-0 end-0' id='thumbnail-remove-btn'><i class='bx bx-x fs-3 lh-1'></i></button>`;
						html += `<img src="${e.target.result}" class="img-thumbnail">`;
						html += '</div>'

						preview.innerHTML +=  html;
					}
					reader.readAsDataURL(file);
					dataTransfer.items.add(file);

				}else{
					openModal('Notification', 'Already uploaded file.');
					removeArrItem(fileArr, file.lastModified);
				}

			});
			fileInput.files = dataTransfer.files;

		});
	},
}

handler.init();


function removeArrItem(array, item){
    for(var i in array){
        if(array[i]==item){
            array.splice(i,1);
            break;
        }
    }
}

function thumbnail_remove(e) {
	dataTransfer.clearData();
	const lastModified = e.dataset.index;
	const input = document.querySelector('#thumbnail-upload');
	const preview2 = document.querySelector('.thumbnail-preview');
	const { files } = input;

	
	for (let i = 0; i < files.length; i++) {
		const file = files[i]
		if (lastModified != file.lastModified) {
			dataTransfer.items.add(file) // here you exclude the file. thus removing it.
		}
	}
	
	input.files = dataTransfer.files // Assign the updates list
	e.parentElement.remove();
	removeArrItem(fileArr, lastModified);

	for(let i=0; i<preview2.children.length; i++){
		preview2.children[i].style.display="block";
	}
}
</script>

{% endblock %}