{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<!--Page header start-->
<section class="position-relative overflow-hidden">
	<div class="py-8 py-lg-11 bg-dark text-white position-relative">
		<!--background image-->
		<img src="{% static 'user/img/' %}" class="bg-image bg-top-center opacity-75" alt="">
	
		<div class="row align-items-center position-relative">
		<div class="col-lg-10 mx-auto text-center">
			<h1 class="mb-0 display-3">Shop</h1>
		</div>
		</div>
	</div>
</section>

<section class="position-relative bg-white">
	<div class="container position-relative">
		<div class="row justify-content-between">
			<div class="col-md-3">
				<div class="mt-5">
					<h6 class="mb-4">Categories</h6>
					<div class="collapse-group collapse d-flex flex-column">
						<div class="collapse d-block">
							<div class="nav flex-column">
								{% for categoryFirst in category_first_list %}
								<a href="#category{{categoryFirst.id}}" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">{{categoryFirst.name}}</a>
								<div class="collapse" id="category{{categoryFirst.id}}">
								<div class="nav nav-level-2 flex-column">
									{% for categorySecond in categoryFirst.categorysecond_set.all %}
									<a href="?category1={{categoryFirst.id}}&category2={{categorySecond.id}}" class="nav-link small">{{categorySecond.name}}</a>
									{% endfor %}
								</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-9 pt-5">
				<div class="row mb-5 align-items-center">
					<div class="col-md-6 ms-auto">
						<div class="d-flex align-items-center">
							<span class="small text-muted text-end me-3 d-none d-lg-block w-100">Sort by</span>		
							<select name="sort_by" class="form-select" id="sort-by" style="border-color: #ddd; cursor: pointer;">
								<option value="id" selected> Most recent</option>
								<option value="rating_count"> Best selling</option>
								<option value="rating"> Best rated</option>
								<option value="price"> Price - Low to High</option>
								<option value="-price">Price - High to Low</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row mb-5">
					{% for productList in product_list %}
					<div class="col-md-6 col-xl-4 mb-4">
						<!--:card-hover-expand-->
						<div class="card overflow-hidden hover-lift card-product">
						<div class="card-product-header p-3 d-block overflow-hidden position-relative">
							<a href="{% url 'product:user_product_detail' productList.id %}">
								{% for thumbnail in productList.productthumbnail_set.all %}
								<img src="{{thumbnail.thumbnail.url}}" class="img-fluid" alt="Product">
								{% endfor %}
							</a>
						</div>
						<div class="card-product-body p-3 pt-0 text-center">
							<a href="{% url 'product:user_product_detail' productList.id %}" class="h5 text-dark d-block position-relative mb-2">{{productList.name}}</a>
							<div class="card-product-body-overlay">
							<span class="card-product-price">
								<span>₱{{productList.price|intcomma}}</span>
							</span>
							<span class="card-product-view-btn">
								<a href="{% url 'product:user_product_detail' productList.id %}" class="link-underline mb-1 fw-semibold text-dark">View Details</a>
							</span>
							</div>
						</div>
						</div>
						<!--:/card product end-->
					</div>
					{% endfor %}
				</div>

				<div class="row mb-5">
					<ul class="pagination justify-content-center m-0">
						{% if product_list.has_previous %}
						<li class="page-item ">
							<a class="page-link" href="?p={{product_list.previous_page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">이전</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<span class="page-link">이전</span>
						</li>
						{% endif %}

						{% for page_number in product_list.paginator.page_range %}
							{% if page_number >= product_list.number|add:-2 and page_number <= product_list.number|add:2 %}
								{% if page_number == product_list.number %}
								<li class="page-item active">
									<span class="page-link">{{ page_number }}</span>
								</li>
								{% else %}
								<li class="page-item">
										<a class="page-link" href="?p={{page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">{{ page_number }}</a>
								</li>
								{% endif %}
							{% endif %}
						{% endfor %}

						{% if product_list.has_next  %}
						<li class="page-item">
							<a class="page-link" href="?p={{product_list.next_page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">다음</a> 
						</li>
						{% else %}
						<li class="page-item disabled">
							<span class="page-link">다음</span>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function() {
	const urlParams = new URLSearchParams(window.location.search);
	let sort = urlParams.get('sort');
	if (isEmpty(sort)) {
		sort = 'id';
	}
	console.log(sort);

	let element = document.getElementById("sort-by");
    element.value = sort;
});

const sort = document.querySelector('select[name=sort_by]');

sort.addEventListener('change', (event) => {
	var link = `{{request.path}}?sort=${event.target.value}`;
	location.href=link;
});

</script>

{% endblock %}