{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="my_page_main row">
				{% include "user/account/mypage/sidemenu.html" with active_tab="1:1 문의"%}
				<div class="col-lg-9">
					{% include "user/account/mypage/topmenu.html" with active_tab="1:1 문의"%}
	
					<div class="row">
						<div class="col-12">
							<!-- Page title -->
							<h4 class="my-4">1:1 문의게시판 </h4>
							<!-- Ask Content START -->
							<div class="row main_contents">
								<div class="col-md-12">
									<div class="bg-secondary-soft rounded">
										<table class="ask_table table">
											<thead>
											<tr>
												<th scope="col" class="col-1">번호</th>
												<th scope="col" class="col-7">제목</th>
												<th scope="col" class="col-2">상태</th>
												<th scope="col" class="col-2">날짜</th>
											</tr>
											</thead>
											<tbody>
											{% for qna_obj in qna_objs %}
												<tr>
													<th scope="row">{{forloop.counter}}</th>
													<td><a href="{% url 'account:user_my_qna_detail' qna_obj.id %}">{{qna_obj.subject}}</a></td>
													<td>
														{% if qna_obj.answered_at %}
														답변완료
														{% else %}
														답변대기
														{% endif %}
													</td>
													<td>{{qna_obj.questioned_at}}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
									<div class="row mb-1">
										<ul class="pagination justify-content-center m-0">
											{% if qna_objs.has_previous %}
											<li class="page-item ">
												<a class="page-link" href="?p={{qna_objs.previous_page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">이전</a>
											</li>
											{% else %}
											<li class="page-item disabled">
												<span class="page-link">이전</span>
											</li>
											{% endif %}
									
											{% for page_number in qna_objs.paginator.page_range %}
												{% if page_number >= qna_objs.number|add:-2 and page_number <= qna_objs.number|add:2 %}
													{% if page_number == qna_objs.number %}
													<li class="page-item active">
														<span class="page-link">{{ page_number }}</span>
													</li>
													{% else %}
													<li class="page-item">
															<a class="page-link" href="?p={{page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">{{ page_number }}</a>
													</li>
													{% endif %}
												{% endif %}
											{% endfor %}
									
											{% if qna_objs.has_next  %}
											<li class="page-item">
												<a class="page-link" href="?p={{qna_objs.next_page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">다음</a> 
											</li>
											{% else %}
											<li class="page-item disabled">
												<span class="page-link">다음</span>
											</li>
											{% endif %}
										</ul>

										<div class="text-end">
											<a href="{% url 'account:user_my_qna_write' %}" class="px-3 py-2" style="font-size: 13px;">
												<button type="button" class="btn btn-outline-secondary btn-rise">
													<div class="btn-rise-bg bg-secondary"></div>
													<div class="btn-rise-text"  style="font-size: 14px;">
														문의 작성
													</div>
												</button>
											</a>
										</div>
									</div>
									<!-- Details -->
								</div>
							</div>
							<!-- Ask Content END  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}