{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<!-- Sweet Alert-->
<link href="{% static 'user/vendor/node_modules/css/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<style>
@media only screen and (max-width: 767px) {
	.subs-status {
		display: inline-block;
		margin-bottom: 10px;
	}
}
</style>
<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="my_page_main row">
				{% include "user/account/mypage/sidemenu.html" with active_tab="구독관리" %}
				<div class="col-lg-9">
					{% include "user/account/mypage/topmenu.html" with active_tab="구독관리" %}
					<div class="row">
						<div class="col-12">
							<!-- Page title -->
							<h4 class="my-4">구독관리</h4>
							<!-- Service Cancel START -->
							<div class="row main_contents">
								<div class="col-md-12">
									<div class="bg-secondary-soft p-3 p-md-5 rounded">
										<!-- Title -->
										<div class="row d-none d-xxl-block">
											<div class="col-12 align-middle py-3">
												<div class="row border-bottom">
													<div class="col-6 align-middle text-center py-2">
														<h5>Listing</h5>
													</div>
													<div class="col-6">
														<div class="row">
															<div class="col-4 align-middle text-center py-2">
																<h5>Purchase date</h5>
															</div>
															<div class="col-4 align-middle text-center py-2">
																<h5>Status</h5>
															</div>
															<div class="col-4 align-middle text-center py-2">
																<h5>Details</h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- List -->
										<div class="order_info row">
											<div class="col-12 align-middle text-center py-4">
												<div class="row">
													<div class="col-xxl-6">
														<div class="row border-0">
															<!-- Image -->
															<div class="col-xl-3 text-center">
																<img class="rounded mw-100" src="{% static 'user/img/mypage/subs01.jpg' %}" alt="Listing image1">
															</div>
															<!-- Info -->
															<div class="col-xl-9 pt-2 pt-xl-0 text-center">
																<h6 class="mb-1">에어컨청소</h6>
																<p class="mb-1 text-body">스탠드형</p>
																<span class="text-success">₱5,000 / 1개</span>
															</div>
														</div>
													</div>
													<!-- Contents -->
													<div class="col-xxl-6 mt-5">
														<div class="row">
															<!-- Date -->
															<div class="col-md-4">
																08 July 2018
															</div>
															<!-- Status -->
															<div class="col-md-4 pt-2">
																<span class="text-danger border border-danger p-2" style="font-size: 13px;">취소 완료</span>
															</div>		
															<!-- Details -->
															<div class="col-md-4">
																<div class="btn btn-outline-brandGreen btn-rise" data-bs-toggle="modal" data-bs-target="#cancelDetailModal" style="font-size: 14px;">
																	<div class="btn-rise-bg" style="background-color: #90c31f;"></div>
																	<div class="btn-rise-text" style="font-size: 14px;">취소 상세</div>
																</div>
															</div>
														</div>
													</div>
												</div> <!-- Row END -->
											</div>
										</div>
										<hr>
										<div class="order_info row">
											<div class="col-12 align-middle text-center py-4">
												<div class="row">
													<div class="col-xxl-6">	
														<div class="row">
															<div class="col-xl-3 text-center">
																<img class="rounded mw-100" src="{% static 'user/img/mypage/subs01.jpg' %}" alt="Listing image2">
															</div>
															<div class="col-xl-9 pt-2 pt-xl-0 text-center">
																<h6 class="mb-1">Store in Woodside, San Francisco</h6>
																<p class="mb-1 text-body">Chicago HQ Estica Cop. 8573 Livingston </p>
																<span class="text-success">$160,000</span>
															</div>
														</div>
													</div>
													<div class="col-xxl-6 mt-5">
														<div class="row">
															<div class="col-md-4">
																08 July 2018
															</div>
															<div class="col-md-4 pt-2">
																<span class="text-success border border-success p-2" style="font-size: 13px;">구매 완료</span>
															</div>			
															<div class="col-md-4">
																<a href="{% url 'account:user_my_subscribe_cancel' %}" class="btn btn-outline-brandGreen btn-rise">
																	<div class="btn-rise-bg" style="background-color: #90c31f;"></div>
																	<div class="btn-rise-text" style="font-size: 14px;">취소</div>
																</a>
															</div>
														</div>
													</div>
												</div> 
											</div>
										</div>
										<hr> 
										<div class="order_info row">
											<div class="col-12 text-center py-4">
												<div class="row">
													<div class="col-xxl-6">	
														<div class="row">
															<div class="col-xl-3 text-center">
																<img class="rounded mw-100" src="{% static 'user/img/mypage/subs01.jpg' %}" alt="Listing image2">
															</div>
															<div class="col-xl-9 pt-2 pt-xl-0 text-center">
																<h6 class="mb-1">Store in Woodside, San Francisco</h6>
																<p class="mb-1">Chicago HQ Estica Cop. 8573 Livingston </p>
																<span class="text-success">$160,000</span>
															</div>
														</div>
													</div>
													<div class="col-xxl-6 mt-5">
														<div class="row">
															<div class="col-md-4 align-middle">
																08 July 2018
															</div>
															<div class="col-md-4 align-middle pt-2">
																<span class="text-info border border-info p-2" style="font-size: 13px;">취소 신청</span>
															</div>			
															<div class="col-md-4 align-middle">
																<button type="button" class="btn btn-outline-brandGreen btn-rise" id="sa-warning">
																	<div class="btn-rise-bg" style="background-color: #90c31f;"></div>
																	<div class="btn-rise-text"  style="font-size: 14px;">
																		취소 철회
																	</div>
																</button>
															</div>
														</div>
													</div>
												</div> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="cancelDetailModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="cancelDetailLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
		<div class="modal-header p-4">
			<h4 class="mb-0 text-center" id="cancelDetail">취소 상세정보</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body p-4" id="cancelDetailBody">
			<div class="cancelCatalog">
				<div class="cancelphoto">
					<img class="rounded" src="{% static 'user/images/property/grid-list/02.jpg' %}" alt="">
				</div>
				<div class="cancel-list text-start">
					<h6>에어컨 청소</h6>
					<p>스탠드형</p>
					<span>₱5,000 / 1개</span>
				</div>
				<span class="calce-notice">취소완료</span>
			</div>
			<div class="cancelreason">
				<h6>취소사유</h6>
				<div class="reasoninner">
					<ul>
						<li>취소요청사유</li>
						<li>다른 서비스 잘못 주문</li>
					</ul>
					<ul>
						<li>환불방법</li>
						<li>자동 결제취소</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">확인</button>
				<!-- id="" data-before-modal="" onclick="" -->
		</div>
		</div>
	</div>
</div>

<!-- Sweet Alerts js -->
<script src="{% static 'user/vendor/node_modules/js/sweetalert2.min.js' %}"></script>

<script>
	
var cSelect = document.querySelectorAll("[data-choices]");

cSelect.forEach(el => {
   const t = { ...el.dataset.choices ? JSON.parse(el.dataset.choices) : {},
	...{
		classNames: {
		containerInner: el.className,
		input: "form-control",
		inputCloned: "form-control-sm",
		listDropdown: "dropdown-menu",
		itemChoice: "dropdown-item",
		activeState: "show",
		selectedState: "active"
		}
	}
}
new Choices(el, t)
});

document.getElementById("sa-warning").addEventListener("click", function() {
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: !0,
        confirmButtonColor: "#51d28c",
        cancelButtonColor: "#f34e4e",
        confirmButtonText: "Yes"
    }).then(function(e) {
        e.value && Swal.fire("Done!", "취소 철회가 완료되었습니다.", "success")
    })
})

</script>
{% endblock %}