{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<!-- Sweet Alert-->
<link href="{% static 'user/vendor/node_modules/css/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<style>
table { border-collapse: collapse; }
.subs-thead { border: #f9f9f9; border-top: #000; border-bottom: #000;}
.subs-tbody { border: #fff; }
.table-bordered>:not(caption)>*>* { border-width: 0; }
.table>:not(:first-child) { border-top: 1px solid #f9f9f9; }

.table-responsive th, .table-responsive td { border: 1px solid #ddd; }
.table-responsive tr.space {border-bottom: 2px solid #000;}
.check_info { font-size: 12px; }

@media only screen and (max-width: 767px) {
	.responsiveTable { border: 0; }
	.responsiveTable caption { font-size: 1.3em; }
	.responsiveTable thead { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
	.responsiveTable tr:first-child { border-top: 3px solid #ddd; }
	.responsiveTable tr { border-bottom: 3px solid #ddd; display: block; margin-bottom: .625em; }
	.responsiveTable td { border-bottom: 1px solid #ddd; display: block; text-align: right; }
	.responsiveTable td::before { content: attr(data-label); float: left; font-weight: bold; }
	.responsiveTable td:last-child { border-bottom: 0; }
	.responsiveTable img { width: 20% !important; }
}
@media (max-width: 480px) {
	table thead tr th:nth-child(2) {padding: 0 120px;}
}

</style>
<!-- Section -->
<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-9 pb-9 pb-lg-11">
			<div class="my_page_main row justify-content-center">
				{% include "user/account/mypage/sidemenu.html" with active_tab="Subscription Management" %}
				<div class="col-lg-9">
					{% include "user/account/mypage/topmenu.html" with active_tab="Subscription Management" %}
					<!-- Page title -->
					<h4 class="my-4">Subscription Management</h4>
					<!-- Service Cancel START -->
					<div class="responsiveTable mt-2">
						<table class="table table-bordered text-center align-middle table-check">
							<thead class="align-middle table-light subs-thead">
								<tr>
									<th><h6>Product Details</h6></th>
									<th><h6>Purchase Date</h6></th>
									<th><h6>Expiry Date</h6></th>
									<th><h6>Payment Due Date</h6></th>
									<th><h6>Reports</h6></th>
									<th><h6>Status</h6></th>				
								</tr>
							</thead>
							<tbody class="subs-tbody">
								<tr style="border-bottom: 0;">
									<td data-label="Product Details">
										<img class="rounded w-50" src="{% static 'user/img/mypage/subs01.jpg' %}" alt="Listing image1">
										<h6 class="mb-1">Company name</h6>
										<p class="mb-1 text-body">Product name</p>
										<span class="text-secondary">₱5,000</span><br>
										<span class="text-secondary">Option: 6 Months</span>
									</td>
									
									<td data-label="Purchase Date">
										<span>07 June 2023</span>
									</td>
									<td data-label="Expiry Date">
										<span>07 December 2023</span>
									</td>
									<td data-label="Payment Due Date">
										<span>07 July 2023</span>
									</td>
									<td data-label="Payment Due Date">
										<button type="button" class="btn btn-outline-secondary rounded-0 p-1 mb-2" data-bs-toggle="modal" data-bs-target="#checkDetailModal" style="font-size: 13px;">Check Report</button>
										<button type="button" class="btn btn-outline-secondary rounded-0 p-1" data-bs-toggle="modal" data-bs-target="#cleaningDetailModal" style="font-size: 13px;">Cleaning Report</button>
									</td>
									<td data-label="Status">
										<span class="text-success" style="font-size: 13px;">Subscribed</span>
										<!-- 구독 취소되면 Canceled로 상태 변경 및 Go to Cancel display none-->
										<!-- <span class="text-danger" style="font-size: 13px;">Canceled</span> -->
										<a href="{% url 'account:user_my_subscribe_cancel' %}" class="d-block mt-2">
											<span class="btn btn-outline-secondary rounded-0 p-1 text-nowrap" style="font-size: 13px;">Go to Cancel</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table><!-- end table --> 
					</div>	
						<!-- Details -->
						<!-- <div class="col-md-4">
							<div class="btn btn-outline-brandGreen btn-rise" data-bs-toggle="modal" data-bs-target="#cancelDetailModal" style="font-size: 14px;">
								<div class="btn-rise-bg" style="background-color: #90c31f;"></div>
								<div class="btn-rise-text" style="font-size: 14px;">Details</div>
							</div>
						</div> -->
						<div class="row mb-5">
							<ul class="pagination justify-content-center m-0">
								{% if my_order_objs.has_previous %}
									<li class="page-item ">
										<a class="page-link" href="?p={{my_order_objs.previous_page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">이전</a>
									</li>
								{% else %}
									<li class="page-item disabled">
										<span class="page-link">Previous</span>
									</li>
								{% endif %}
						
								{% for page_number in my_order_objs.paginator.page_range %}
									{% if page_number >= my_order_objs.number|add:-2 and page_number <= my_order_objs.number|add:2 %}
										{% if page_number == my_order_objs.number %}
											<li class="page-item active">
												<span class="page-link">{{ page_number }}</span>
											</li>
										{% else %}
											<li class="page-item">
													<a class="page-link" href="?p={{page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">{{ page_number }}</a>
											</li>
										{% endif %}
									{% endif %}
								{% endfor %}
						
								{% if my_order_objs.has_next  %}
									<li class="page-item">
										<a class="page-link" href="?p={{my_order_objs.next_page_number }}{% if 'channel' in request.GET %}&channel={{request.GET.channel}}{% endif %}{% if 'type' in request.GET %}&type={{request.GET.type}}{% endif %}">다음</a> 
									</li>
								{% else %}
									<li class="page-item disabled">
										<span class="page-link">Next</span>
									</li>
								{% endif %}
							</ul>
						</div>
				</div>

			</div>
		</div>
	</div>
</section>

{% include "user/account/mypage/check_report_modal.html" %}
{% include "user/account/mypage/cleaning_report_modal.html" %}

<!-- Sweet Alerts js -->
<script src="{% static 'user/vendor/node_modules/js/sweetalert2.min.js' %}"></script>

<script>
	
var cSelect = document.querySelectorAll("[data-choices]");

cSelect.forEach(el => {
   const t = { ...el.dataset.choices ? JSON.parse(el.dataset.choices) : {},
	...{
		classNames: {
		containerInner: el.className,
		input: "form-control",
		inputCloned: "form-control-sm",
		listDropdown: "dropdown-menu",
		itemChoice: "dropdown-item",
		activeState: "show",
		selectedState: "active"
		}
	}
}
new Choices(el, t)
});

document.getElementById("sa-warning").addEventListener("click", function() {
    Swal.fire({
        title: "Are you sure?",
        icon: "warning",
        showCancelButton: !0,
        confirmButtonColor: "#51d28c",
        cancelButtonColor: "#f34e4e",
        confirmButtonText: "Yes"
    }).then(function(e) {
        e.value && Swal.fire("Done!", "The cancellation withdrawal has been completed.", "success")
    })
})

</script>
{% endblock %}