<style>
.link-hover-decoration:hover {
	text-decoration-line: none;
	color: #2ea7e0 !important;
}
.list-group-item.active {
	z-index:2;
	color:var(--bs-list-group-active-color);
	border: none;
	background-color: #ebf1fc !important;
}
</style>
<div class="mypage_sidebar col-lg-3 mb-5 mb-lg-0">
	<div class="mt-lg-n16 position-relative z-index-1">
		<div class="sidebar_body card shadow p-3">
			<div>
				<h4 class="mb-2 text-gradient">Welcome User</h4>
				<ul class="list-group list-group-flush mt-5 mb-0">
					<li class="list-group-item {% if active_tab == 'Dashboard' %}active{% endif %}">
						<i class="bx bx-layer me-2 text-dark"></i>
						<a href="{% url 'account:user_my_dashboard' %}" class="small link-hover-decoration text-dark">
							<span>Dashboard</span>
						</a>
					</li>

					<li class="list-group-item {% if active_tab == 'Order History' %}active{% endif %}">
						<i class="bx bx-user-circle me-2 text-dark"></i>
						<a href="{% url 'account:user_my_order' %}" class="small link-hover-decoration text-dark">Order History</a>
					</li>
					
					<li class="list-group-item {% if active_tab == 'Subscription Management'%}active{% endif %}">
						<i class="bx bx-cog me-2 text-dark"></i>
						<a href="{% url 'account:user_my_subscribe' %}" class="small link-hover-decoration text-dark">Subscription Management</a>
					</li>
					<li class="list-group-item {% if active_tab == 'My QnA'%}active{% endif %}">
						<i class="bx bx-question-mark me-2 text-dark"></i>
						<a href="{% url 'account:user_my_qna_list' %}" class="small link-hover-decoration text-dark">My QnA</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mt-6">
		<a href="{% url 'account:user_home_check' %}">
			<div class="bg-brandBlue d-flex justify-content-between align-items-center p-3 rounded">
				<span class="display-5 text-white opacity-5"><i class="fas fa-fw fa-home"></i></span>
				<div class="text-center">
					<h5 class="mb-0 text-white">Home Check</h5>
				</div>
			</div>
		</a>
	</div>
</div>