<div class="mypage_top_menu d-flex flex-column">
	<nav class="top_menu nav nav-pills">
		<a href="{% url 'account:user_my_dashboard' %}" class="nav-link {% if active_tab == '대쉬보드' %}active{% endif %}">대쉬보드</a>

		<a href="{% url 'account:user_my_order' %}" class="nav-link {% if active_tab == '주문 조회' %}active{% endif %}">주문 조회</a>
		
		<a href="{% url 'account:user_my_subscribe' %}" class="nav-link {% if active_tab == '구독관리' %}active{% endif %}">구독관리</a>
		<a href="{% url 'account:user_my_qna_list' %}" class="nav-link {% if active_tab == '1:1 문의' %}active{% endif %}">1:1 문의</a>
	</nav>
</div>