@charset "utf-8";

* {
	box-sizing: border-box;
}
::-webkit-input-placeholder { 
	color: #babbbd;
}
:-ms-input-placeholder { 
	color: #babbbd;
}
::placeholder {
	color: #babbbd;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
	border: 0;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
}
.clearfix::after {
	clear: both;
}
body {
	overflow-y: auto;
}
body.fixed {
	overflow-y: hidden;
}
.btn_top {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 28px;
	z-index: 1001;
	width: 50px;
	height: 50px;
	overflow: hidden;
	text-indent: -9999px;
	background: #2ea7e0 url(/static/user/img/subscribe/about/btn_top.png) no-repeat center center;
	cursor: pointer;
	border-radius: 50%;
}

/* header */
#header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 4.375em;
	font-size: 1em;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.4s;
}
#header.fixed {
	background-color: rgba(46,167,224,.4);
}
#header .header_inner {
	margin: 0 auto;
	max-width: 940px; 
}
#header .top {
	height: 4.375em;
}
#header .top .logo {
	float: left;
	margin-left: 20px;
	margin-top: 1.4em;
}
#gnb {
	float: right;
	margin-right: 15px;
	margin-top: 0.5em;
}
#gnb li {
	display: inline-block;
	margin-left: 1.625em;
}
#gnb li:first-child {
	margin-left: 0;
}
#gnb li a {
	display: block;
	position: relative;
	line-height: 3.5em;
	font-size: 1em;
	font-weight: 500;
	color: #fff;
}
#gnb li a::before {
	content: "";
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #2ea7e0;
}
#gnb li.active a {
	color: #2ea7e0;
}
#gnb li.active a::before {
	display: block;
}
#mobile {
	position: fixed;
	right: -300px;
	top: 0;
	z-index: 1002;
	padding: 53px 20px 0;
	width: 240px;
	height: 100vh;
	text-align: left;
	background-color: #fff;
	box-sizing: border-box;
	transition: right 0.4s;
}
#mobile.active {
	right: 0;
}
.main_tab {
	display: none;
	position: fixed;
	right: 20px;
	top: 25px;
	z-index: 100;
	width: 23px;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(/static/user/img/subscribe/about/ico_tab_open.png) no-repeat 0 0;
	background-size: cover;
	transition: right 0.4s;
}
.main_tab.active {
	right: 250px;
	width: 25px;
	height: 25px;
	background: url(/static/user/img/subscribe/about/ico_tab_close.png) no-repeat 0 0;
}
#mobile li {
	border-bottom: 1px solid #f1f1f1;
}
#mobile li a {
	display: block;
	line-height: 3em;
	font-size: 1em;
	font-weight: 400;
	color: #603d99;
}
.dim {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0,0,0,.6);
}
.dim.active {
	display: block;
}

/* main_slider */
#main_slider {
	text-align: center;
	font-size: 1em;
}
#main_slider .container {
	height: 43.75em;
}
#main_slider .container .slide {
	padding-top: 12em;
	height: 43.75em;
}
#main_slider .container .slide:nth-child(1) {
	/* background: url(../images/slider4.jpg) no-repeat center center;
	background-size: cover; */
	background-color: #ddd;
}
#main_slider h2 {
	line-height: 3.125em;
	font-size: 2.188em;
	font-weight: 400;
	color: #fff;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.4s, transform 0.8s;
}
#main_slider p {
	line-height: 1.375em;
	font-size: 2.5em;
	font-weight: 600;
	color: #fff;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.4s, transform 0.8s;
	transition-delay: 0.4s;
}
#main_slider .btn_more {
	padding-top: 3em;
}
#main_slider .btn_more a {
	display: inline-block;
	width: 12em;
	height: 50px;
	line-height: 50px;
	font-size: 1em;
	font-weight: 500;
	color: #fff;
	border: 1px solid #fff;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.4s, transform 0.8s;
	transition-delay: 0.8s;
}
#main_slider .btn_more a:hover {
	background-color: rgba(46,167,224,.4);
	border: none;
}
#main_slider.active h2,
#main_slider.active p,
#main_slider.active .btn_more a {
	opacity: 1;
	transform: translateY(0);
}

/* page1 */
#content {
	font-size: 1em;
}
#content h3 {
	padding-bottom: 0.375em;
	font-size: 1.875em;
	font-weight: 600;
	opacity: 0;
	transition: opacity 0.8s;
}
#content p.sub_title {
	font-size: 1em;
	font-weight: 300;
	color: #777;
	opacity: 0;
	transition: opacity 0.6s;   
}
#page1.active .business h3 {
	opacity: 1;
}
#page1.active .business p.sub_title {
	opacity: 1;
}
#page1 {
	height: 700px;
	margin: 0 auto;
	max-width: 940px;
	text-align: center;
}
#page1 .business {
	padding: 5.625em 0 4.75em;
}
#page1 .business_list {
	padding-bottom: 5.375em;
}
#page1 .business_list li {
	display: inline-block;
	margin-left: 5em; 
	width: 13.75em;
	vertical-align: top;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.4s, transform 1.4s;
}
#page1 .business_list li:nth-child(1) {
	margin-left: 0;
	transition-delay: 0.4s;
}
#page1 .business_list li:nth-child(2) {
	transition-delay: 0.8s;
}
#page1 .business_list li:nth-child(3) {
	transition-delay: 1.2s;
}
#page1.active .business_list li {
	opacity: 1;
	transform: translateY(0);
}
#page1 .business_list li img {
	width: 150px;
}
#page1 .business_list li p.title {
	line-height: 4em;
	font-size: 1em;
	font-weight: 600;
}
#page1 .business_list li p.text {
	line-height: 1.625em;
	font-size: 0.875em;
	font-weight: 300;
	color: #767676;
}

/* page2 */
#page2 {
	height: 700px;
	padding-bottom: 7.5em;
	background: url(../images/portfolio_bg.png) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
#page2 .page2_inner {
	margin: 0 auto;
	max-width: 940px;
	text-align: center;
}
#page2 .portfolio {
	padding: 5.625em 0 4.75em;
}
#page2.active .portfolio h3 {
	opacity: 1;
}
#page2.active .portfolio p.sub_title {
	opacity: 1;
}
#page2 .portfolio_list li {
	float: left;
	margin-left: 34px;
	margin-bottom: 45px;
	width: calc((100% - 68px)/3);
	box-shadow: 2px 16px 20px rgb(0 0 0 / 16%);
	opacity: 0;
	transform: translateY(60px);
	transition: opacity 0.6s, transform 0.8s;
}
#page2.active .portfolio_list li {
	opacity: 1;
	transform: translateY(0);
}
#page2 .portfolio_list li.over {
	transform: translateY(-20px);
}
#page2 .portfolio_list li img {
	width: 100%;
}
#page2 .portfolio_list li:nth-child(3n+1) {
	margin-left: 0;
}
#page2 .portfolio_list li a {
	display: block;
	position: relative;
	width: 100%;
}
#page2 .portfolio_list li a::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.6s;
}
#page2 .portfolio_list li a:hover::before {
	background-color: rgba(0,0,0,.4);
}
#page2 .portfolio_list li .desc {
	padding: 1.063em 0;
	width: 100%;
	height: 5em;
	background-color: #fff;
}
#page2 .portfolio_list li .desc p.name {
	font-size: 1em;
	font-weight: 500;
}
#page2 .portfolio_list li .desc p.cont {
	line-height: 2em;
	font-size: 0.875em;
	font-weight: 300;
}

/* page3 */
#page3 {
	margin: 0 auto;
	max-width: 940px;
	height: 700px;
}
#page3 .process {
	padding: 5.625em 0 4.75em;
	text-align: center;
}
#page3.active .process h3 {
	opacity: 1;
}
#page3.active .process p.sub_title {
	opacity: 1;
}
#page3 .process_list {
	padding-bottom: 11.875em;
	text-align: center;
}
#page3 .process_list li {
	position: relative;
	padding: 3em 0;
}
#page3 .process_list li::before {
	content: "";
	display: block;
	position: absolute;
	left: 468px;
	top: -50px;
	width: 2px;
	height: 0;
	text-align: center;
	background-color: #f1f1f1;
	transition: height 0.2s;
}
#page3 .process_list li:first-child::before {
	display: none;
}
#page3.active .process_list li::before {
	height: 100px;
}
#page3 .process_list li:nth-child(1)::before{
	transition-delay: 0.4s;
}
#page3 .process_list li:nth-child(2)::before {
	transition-delay: 0.8s;
}
#page3 .process_list li:nth-child(3)::before {
	transition-delay: 1.2s;
}
#page3 .process_list li:nth-child(4)::before {
	transition-delay: 1.6s;
}
#page3 .process_list li:nth-child(5)::before {
	transition-delay: 2s;
}
#page3 .process_list li:nth-child(6)::before {
	transition-delay: 2.4s;
}
#page3 .process_list li a {
	display: inline-block;
	position: relative;
	z-index: 8;
	width: 166px;
	height: 166px;
	overflow: hidden;
	opacity: 0;
	border-radius: 50%;
	box-shadow: 0px 8px 14px rgb(0 0 0 / 16%);
	transform: translateY(60px);
	transition: opacity 0.4s, transform 0.6s;
}
#page3.active .process_list li a {
	opacity: 1;
	transform: translateY(0);
}
#page3.active .process_list li:nth-child(2) a {
	transition-delay: 0.4s;
}
#page3.active .process_list li:nth-child(3) a {
	transition-delay: 0.8s;
}
#page3.active .process_list li:nth-child(4) a {
	transition-delay: 1.2s;
}
#page3.active .process_list li:nth-child(5) a {
	transition-delay: 1.6s;
}
#page3 .process_list li a img {
	max-width: 100%;
}
#page3 .process_list li:nth-child(2n+1) .process_cont {
	position: absolute;
	left: 300px;
	top: 68px;
	text-align: right;
	opacity: 0;
	transition: opacity 2.2s, left 0.8s;
}
#page3 .process_list li:nth-child(2n) .process_cont {
	position: absolute;
	right: 300px;
	top: 68px;
	text-align: left;
	opacity: 0;
	transition: opacity 2.2s, right 0.8s;
}
#page3.active .process_list li:nth-child(2n+1) .process_cont {
	left: 80px;
	opacity: 1;
}
#page3.active .process_list li:nth-child(2n) .process_cont {
	right: 80px;
	opacity: 1;
}
#page3.active .process_list li:nth-child(1) .process_cont {
	transition-delay: 0.4s;
}
#page3.active .process_list li:nth-child(2) .process_cont {
	transition-delay: 0.8s;
}
#page3.active .process_list li:nth-child(3) .process_cont {
	transition-delay: 1.2s;
}
#page3.active .process_list li:nth-child(4) .process_cont {
	transition-delay: 1.6s;
}
#page3.active .process_list li:nth-child(5) .process_cont {
	transition-delay: 2s;
}
#page3 .process_list li .process_cont {
	width: 30%;
}
#page3 .process_list li .process_cont p.title {
	font-size: 1em;
	font-weight: 600;
}
#page3 .process_list li .process_cont p.text {
	padding-top: 1em;
	font-size: 0.875em;
	font-weight: 300;
	color: #777;
}

/* page4 */
#page4 {
	height: 700px;
	background-color: #f9f9f9;
}
#page4 .page4_bg {
	/* background: url(../images/review_bg1.png) no-repeat center center; */
	opacity: 0;
	transition: opacity 1.2s;
}
#page4.active .page4_bg {
	opacity: 1;
}
#page4 .page4_inner {
	margin: 0 auto;
	max-width: 940px;
	text-align: center;
}
#page4 .review {
	padding: 5.625em 0 4.75em;
}
#page4.active .review h3 {
	opacity: 1;
}
#page4.active .review p.sub_title {
	opacity: 1;
}
#page4 .review_cont {
	padding-bottom: 6.5em;
	text-align: center;
}
#page4 .review_cont ul {
	display: inline-block;
	opacity: 0;
	transition: opacity 1s;
	transition-delay: 0.4s;
}
#page4.active .review_cont ul {
	opacity: 1;
}
#page4 .review_cont li {
	float: left;
	margin-left: 120px;
	transform: translateY(0);
	transition: transform 0.4s;
}
#page4 .review_cont li:hover {
	transform: translateY(-14px);
}
#page4 .review_cont li:first-child {
	margin-left: 0;
}
#page4 .review_cont li a {
	display: block;
	width: 190px;
	height: 190px;
	overflow: hidden;
	border: 7px solid #fff;
	border-radius: 50%;
}
#page4 .review_cont li a img {
	max-width: 100%;
}
#page4 .review_cont li .brand {
	display: inline-block;
	padding: 1em 0;
}
#page4 .review_cont li .brand p.name {
	font-size: 1em;
	font-weight: 500;
}
#page4 .review_cont li .brand p.cont {
	padding-top: 0.75em;
	width: 11.25em;
	line-height: 1.75em;
	font-size: 0.875em;
	font-weight: 300;
}
#page4 .banner {
	background-color: #fff;
}
#page4 .banner .banner_inner {
	margin: 0 auto;
	padding: 3.125em 0;
	max-width: 940px;
	text-align: center;
}
#page4 .banner li {
	float: left;
	margin-left: 7px;
}
#page4 .banner li:first-child {
	margin-left: 0;
}

/* page5 */
#page5 {
	height: auto;
}
#page5 .page5_inner {
	margin: 0 auto;
	max-width: 940px;
	text-align: center;
}
#page5 .contact {
	padding: 5.625em 0 4.75em;
}
#page5.active .contact h3 {
	opacity: 1;
}
#page5.active .contact p.sub_title {
	opacity: 1;
}
#page5 .contact h3,
#page5 .contact p.sub_title  {
	color: #fff;
} 
#page5 .contact_area input[type=text] {
	padding: 1.25em 0;
	text-transform: uppercase;
	text-indent: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 0.875em;
	background-color: #fff;
	color: #000;
	border: none;
	outline: 0;
	border-radius: 6px;
	box-sizing: border-box;
}
#page5 .contact_area input[type=submit] {
	padding: 1.5em 3em;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 0.875em;
	background-color: #603d99;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	box-sizing: border-box;
}
#page5 .contact_area .left {
	float: left;
	width: 48%;
	opacity: 0;
	transform: translateX(-60px);
	transition: opacity 0.4s, transform 0.6s;
	transition-delay: 0.4s;
}
#page5.active .contact_area .left {
	opacity: 1;
	transform: translateX(0);
}
#page5 .contact_area .left input {
	float: left;
	width: 100%;
}
#page5 .contact_area .left input.email,
#page5 .contact_area .left input.subject {
	margin-top: 1.875em;
}
#page5 .contact_area .right {
	float: left;
	margin-left: 2%;
	width: 48%;
	opacity: 0;
	transform: translateX(60px);
	transition: opacity 0.4s, transform 0.6s;
	transition-delay: 0.4s;
}
#page5.active .contact_area .right {
	opacity: 1;
	transform: translateX(0);
}
#page5 .contact_area .right input {
	display: block;
	width: 100%;
}
#page5 .contact_area .right textarea {
	display: block;
	width: 100%;
	padding: 1.25em 0;
	height: 14.625em;
	text-transform: uppercase;
	text-indent: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 0.875em;
	background-color: #fff;
	color: #babbbd;
	border: none;
	outline: 0;
	border-radius: 6px;
	box-sizing: border-box;
}
#page5 .contact_area .send {
	float: left;
	width: 100%;
	padding: 3.125em 0;
	opacity: 0;
	transform: translateY(60px);
	transition: opacity 0.4s, transform 0.6s;
	transition-delay: 0.4s;
}
#page5.active .contact_area .send {
	opacity: 1;
	transform: translateY(0);
}

/* #footer */
#footer {
	position: relative;
	margin: 0 auto;
	padding: 1.625em 0.75em;
	max-width: 940px;
	font-size: 1em;
}
#footer .foot_info p {
	display: inline-block;
	margin-left: 0.625em;
	line-height: 2em;
	font-size: 0.875em;
	font-weight: 400;
	color: #555557;
}
#footer .foot_info p.address,
#footer .foot_info p.copyright {
	margin-left: 0;
}
#footer .foot_info .br1, 
#footer .foot_info .br2 {
	display: none;
}
#footer .foot_sns {
	position: absolute;
	right: 0;
	z-index: 1000;
	top: 32px;
}
#footer .foot_sns li {
	display: inline-block;
	margin-left: 0.25em;
}
#footer .foot_sns li:first-child {
	margin-left: 0;
}
#footer .foot_sns li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 43px;
	text-align: center;
	font-size: 1.125em;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	border-radius: 50%;
}

/* controller */
.controller {
	position: fixed;
	right: 30px;
	top: 50%;
	z-index: 100;
	margin: 0;
	margin-top: -92px;
	padding: 0;
	width: 8px;
	list-style: none;
}
.controller li {
	margin-top: 20px;
	width: 14px;
	height: 14px;
}
.controller li:first-child {
	margin-top: 0;
}
.controller li a {
	display: block;
	width: 8px;
	height: 8px;
	text-indent: -9999px;
	background-color: rgba(46, 167, 224, .4);
	border-radius: 50%;
}
.controller li.on a {
	background-color: #2ea7e0;
}

@media only screen and (max-width: 940px){
	#gnb {
		margin-right: 0;
	}
	#page1 .business_list li {
		display: block;
		width: auto;
		margin-left: 0;
		margin-top: 3em;
	}
	#page1 .business_list li p.text {
		padding: 0 18em;
	}
	#page1 .business_list li:first-child {
		margin-top: 0;
	}
	#page3 .process_list {
		margin: 0 2.875em;
		text-align: left;
	}
	#page3 .process_list li::before {
		left: 82px;
	}
	#page3 .process_list li:nth-child(2n+1) .process_cont,
	#page3 .process_list li:nth-child(2n) .process_cont {
		left: 0;
		text-align: left;
	}
	#page3 .process_list li:nth-child(2n) .process_cont {
		transition: opacity 1.4s, left 0.6s;
	}
	#page3.active .process_list li:nth-child(2n+1) .process_cont {
		left: 200px;
		opacity: 1;
	}
	#page3.active .process_list li:nth-child(2n) .process_cont {
		left: 200px;
		right: auto;
		opacity: 1;
	}
	#page3 .process_list li .process_cont {
		padding-top: 1em;
		width: auto; 
	}
	#page3 .process_list li:nth-child(2n) .process_cont {
		right: auto;
	}
	#page4 .review_cont li {
		margin-left: 65px;
	}
	#page4 .banner li {
		margin-left: 0;
		width: 25%;
	}
	#page4 .banner li:nth-child(n+5){
		padding-top: 1em;
		width: 33.3%;
	}
	#page5 .contact_area {
		padding: 0 3.125em;
	}
	#page5 .contact_area .left {
		float: none;
		width: 100%;
	}
	#page5 .contact_area .right {
		display: block;
		margin-left: 0;
		margin-top: 1.875em;
		width: 100%;
		transform: translateX(-60px);
	}
	#page5.active .contact_area .right {
		opacity: 1;
		transform: translateX(0);
	}
	#footer .foot_info p.fax {
		margin-left: 0;
	}
	#footer .foot_info .br1 {
		display: none;
	}
	#footer .foot_info .br2 {
		display: block;
	}
}

@media only screen and (max-width: 720px) {
	#main_slider {
		font-size: 0.875em;
	}
	#gnb {
		display: none;
	}
	.main_tab {
		display: block;
	}
	#page1 .business_list li p.text {
		padding: 0 10em;
	}
	#page2 .portfolio_list li {
		width: calc((100% - 34px)/2);
	}
	#page2 .portfolio_list li:nth-child(4),
	#page2 .portfolio_list li:nth-child(5),
	#page2 .portfolio_list li:nth-child(6) {
		transition-delay: 0s;
	}
	#page2.active .portfolio_list li {
		opacity: 1;
		transform: translateY(0);
	}
	#page2 .portfolio_list li:nth-child(3n+1) {
		margin-left: 34px;
	}
	#page2 .portfolio_list li:nth-child(2n+1){
		margin-left: 0;
	}
	#page4 .review_cont li {
		float: none;
		margin-left: 0;
		margin-top: 1.25em;
	}
	#page4 .review_cont li:first-child {
		margin-top: 0;
	}
	#page4 .banner li {
		width: 50%;
	}
	#page4 .banner li:nth-child(n+5){
		width: 50%;
	}
	#footer .foot_info .br1 {
		display: block;
	}
	#footer .foot_info p.address,
	#footer .foot_info p.email {
		margin-left: 0;
	}
	#footer .foot_info .br2 {
		display: none;
	}
	#footer .foot_sns {
		position: static;
		padding: 0.625em 0;
	}
}

@media only screen and (max-width: 460px){
	#main_slider {
		font-size: 0.75em;
	}
	#content p.sub_title {
		padding: 0 1em;
	}
	#page1 .business_list li p.text {
		padding: 0 5em;
	}
	#page2 .portfolio_list ul {
		padding: 0 5em;
	}
	#page2 .portfolio_list li {
		margin-left: 0;
		width: 100%;
	}
	#page2 .portfolio_list li:nth-child(3n+1) {
		margin-left: 0;
	}
	#page3 .process_list li::before {
		display: none;
	}
	#page3 .process_list li .process_cont p.text {
		display: none;
	}
	#page3 .process_list li:nth-child(2n) .process_cont {
		top: 78px;
	}
	#page3 .process_list li:nth-child(2n+1) .process_cont {
		top: 78px;
	}
	#page5 .contact_area .left input.email, #page5 .contact_area .left input.subject {
		margin-top: 1em;
	}
	#page5 .contact_area .right {
		margin-top: 1em;
	}
	#page5 .contact_area .send {
		padding: 1.25em 0 3.125em 0;
	}
	#page4 .banner {
		display: none;
	}
	#footer .foot_info {
		text-align: center;
	}
	#footer .foot_info p {
		font-size: 0.75em;
		margin-left: 0;
	}
	#footer .foot_info .br1 {
		display: none;
	}
	#footer .foot_info .br2 {
		display: block;
	}
	#footer .foot_sns {
		text-align: center;
	}
}