.form-check-input{height:1.5rem}
.form-control.is-valid:focus,.was-validated 
.form-control:valid:focus{box-shadow:0 0 .75rem rgba(96,190,134,.0875)}
.form-control.is-invalid:focus,.was-validated 
.form-control:invalid:focus{box-shadow:0 0 .75rem rgba(249,71,112,.0875)}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}
.clearfix:after {
    clear:both;
}
ul, li, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: #000;
}

/*Product detail*/
.optionAdd {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.optionAdd span {
	font-size: 20px;
}
.product_title {
	display: flex;
	justify-content: space-between;
}
.product_title .option_title,
.product_title a.close {
	font-size: 20px;
}
.totalPrice p.total_price_part {
	font-size: 22px;
	font-weight: bold;
}

.mypage_main_title {
	margin-top: 30px;
	padding: 10px;	
}
.mypage_main_title h3 {
	font-size: 20px;
	font-weight: bold;
}
.mypage_main_title p {
	font-size: 14px;
}
.subs-pills {
	margin-left: 12px;
}
.nav-pills .nav-link, 
.subs-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 5px;
}
.subs-pills .nav-link.active,
.subs-pills .show > .nav-link {
	color: #000;
	background-color: #e3e3e3 !important;
}
.chart-view {
	padding: 20px;
	background-color: #fafbfb;
}
.chart-view h6 {	
	margin-bottom: 20px;
	font-size: 17px;
	font-weight: bold;
}
.subs-table {
	margin-top: 50px;
	text-align: center;
}
.sub-banner {
	margin-bottom: 30px;
}
.subs-view {
	display: none;
}
.subs-view.show {
	display: block;
}
.subs-cancel {
	margin-top: 50px !important;
	padding: 50px;
	text-align: center;
	background-color: #e3e3e3;
	display: none;
}
.subs-cancel.show {
	display: block;
}

@media only screen and (max-width: 1200px) {
	.subs_contents {
		width: 100% !important;
	}
	.sub_menu {
		display: none;
	}
}
@media only screen and (max-width: 766px) {
	.chart-view h6 {
		font-size: 15px;
	}
}
@media only screen and (max-width: 575px) {
	.sub-banner {
		margin-bottom: 10px;
	}
	.chart-view h6 {
		font-size: 13px;
	}
}

/*-------------------------Mypage--------------------------*/
/*top menu*/
.mypage_top_menu {
	padding: 10px 0;
	background-color: #ebf1fc;
}
.nav-pills {
	justify-content: space-around;
}

/* side menu */
.list-group-item {
	margin-bottom: 20px;
}
.side_menu_msg {
	background: transparent !important;
    border: 1px solid #ddd;
}

/* my page - order_search_area */
.table td {
	vertical-align: middle;
}
.order-tb-left {
	white-space: nowrap;
	background-color: #f3f3f3 !important;
	text-align: center;
    font-size: 15px;
}
.order-tb-right {
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
}
.order-tb-search {
	padding-left: 0;
	padding-right: 0;
}
.od-search-btn {
	border-radius: 30px;	
}


.input_group {
	display: flex;
	align-items: center;
}
.order-tb-button {
	padding: 5px 15px;
	border-radius: 10px;
}
button[type="submit"], button[type="button"], select.form-select  {
	font-size: 14px;
}

@media only screen and (max-width: 1200px) {
	.mypage_sidebar {
		display: none;
	}
}
@media only screen and (max-width: 1000px) {
	.mypage_sidebar {
		display: none;
	}
	.order-tb-left {
		font-size: 14px;
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.order-tb-search {
		margin-left: 50px;
	}
	button[type="submit"], button[type="button"], select.form-select {
		font-size: 13px;
	}
	.row {
		font-size: 13px;
	}
}
@media only screen and (max-width: 575px) {
	.order-tb-search {
		margin-left: 0;
	}
	.row {
		font-size: 12px;
	}
	.od-search-btn {
		width: 100%;
	}
}
@media only screen and (max-width: 400px) {
	.row {
		font-size: 13px;
	}
}

input {
    padding: 10px 15px !important;
    border: 1px solid lightgrey !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff !important;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
}
.form-radius {
	border-radius: 40px !important;
}
.input-group {
	display: flex;
	align-items: center;
}
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0;
}
::placeholder {
    color: #BDBDBD;
    opacity: 1;
	font-size: 14px;
}
:-ms-input-placeholder {
    color: #BDBDBD;
}
::-ms-input-placeholder {
    color: #BDBDBD;
}
button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}
.datepicker {
  background-color: #fff;
  border: none;
  border-radius: 0 !important;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
}
.datepicker table tr td.today, span.focused {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFF3E0, #FFE0B2);
}
.datepicker table tr td.today.range {
  background-image: linear-gradient(#eeeeee, #eeeeee) !important;
  border-radius: 0 !important;
}

/*Weekday title*/
thead tr:nth-child(3) th {
  font-weight: bold !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dow, .old-day, .day, .new-day {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
}
.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
  border-radius: 50% !important;
  background-color: #eee;
}
.range-start, .range-end {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFA726, #FFA726) !important;
}
.prev, .next, .datepicker-switch {
  border-radius: 0 !important;
  padding: 10px 10px 10px 10px !important;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}
.prev:hover, .next:hover, .datepicker-switch:hover {
  background-color: inherit !important;
  opacity: 1;
}
.btn-black {
  background-color: #37474F !important;
  color: #fff !important;
  width: 100%;
}
.btn-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.order_view {
	text-align: center;
	font-size: 15px;
}
/*review_modal*/
.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center
} 
.rating>input {
	display: none
}
.rating>label {
	position: relative;
	width: 1em;
	font-size: 30px;
	font-weight: 300;
	color: #FFD600;
	cursor: pointer
}
.rating>label::before {
	content: "\2605";
	position: absolute;
	opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
	opacity: 1 !important
}
.rating>input:checked~label:before {
	opacity: 1
}
.rating:hover>input:checked~label:before {
	opacity: 0.4
}
/*file_upload*/
.file-remove {
	border: none;
	background-color: #fff;
}

/*cancel*/
.order_info {
	display: flex;
	align-items: center;
}
.cancel-btn {
	border-radius: 30px;
}
#cancelDetail {
	font-size: 16px;
	color: #28a7e1;
	font-weight: bold;
}
.cancelCatalog {
	padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	border-bottom: 1px solid #dee2e6;
	font-size: 13px;
}
.cancelCatalog .cancelphoto img{
	width: 100px;
	height: 100px;
}
.cancelreason {
	padding: 25px 15px 0;
}
.cancelreason > h6 {
	margin-bottom: 20px;
	font-size: 13px;
	font-weight: bold;;
} 
.cancelreason ul {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding-left: 0 !important;
}
.cancelreason ul:last-child {
	border-bottom: none;
}
.cancelreason ul li {
	display: inline-block;
	font-size: 13px;
}
.reasoninner {
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}
.form-label {
	font-weight: bold;
	margin-bottom: 20px;
}
.previous_order {
	border: 1px solid #dec48f;
}
.changed_order {
	margin-top: 50px;
	border: 1px solid #dec48f;	
}

/*cancel-form*/
.form-label {
	font-size: 18px;
}
.left_side, .right_side {
	float: left;
	padding: 32px;
}
#message-text {
	min-height: 240px !important;
}
.right_side .select_service {
	margin-bottom: 30px;
}
.right_side .select_service .select_list {
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto !important;
}
.right_side .select_service .cancel_item {
	margin-left: 10px;
}
.right_side .refund_sum, .right_side .execpt_sale {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.right_side .refund_sum h6, 
.right_side .execpt_sale h6, .right_side .execpt_sale span,
.right_side .refund_total h6, .right_side .refund_total span {
	display: flex;
	justify-content: space-between;
	font-size:17px;
}
.right_side .execpt_sale h6, .right_side .execpt_sale span {
	font-size: 14px;
}
@media only screen and (max-width: 991px){
	.left_side, .right_side {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
}
@media only screen and (max-width: 575px){
	.left_side, .right_side {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
}
@media only screen and (max-width: 400px){
	.right_side .refund_sum h6, 
	.right_side .execpt_sale h6, .right_side .execpt_sale span,
	.right_side .refund_total h6, .right_side .refund_total span {
		font-size:15px;
	}
	.right_side .execpt_sale h6, .right_side .execpt_sale span {
		font-size: 12px;
	}
}

/*qna*/
.ask_table {
	text-align: center;
}
.ask_table thead {
	border-bottom: 2px solid #ddd;
	font-size: 15px;
	font-weight: bold;
}
.ask_table tbody {
	font-size: 14px;
}
.ask_btn {
    margin-right: 32px;
    float: right;
}
.ask_btn .btn {        
	border-radius: 30px;
	padding: 5px 20px;	
	font-size: 14px;
	color: #fff;
}

/*qna write*/
.ql-container {
	height: auto !important;
}
.ql-editor {
	min-height: 400px;
	max-height: 400px;
	overflow: hidden;
	overflow-y: scroll !important;
}
.btn_group {
	float: right;
	margin-top: 10px;
}
.btn_group a {
	margin-left: 5px;
	padding: 5px 20px;
	border-radius: 30px;
	font-size: 14px;
}

/*qna detail*/
.previous_content {
	border-bottom: 2px solid #ddd;
}
/*order*/
.od-list-table {
	vertical-align: middle;
}
.od-list-table .pd {
	padding: 20px !important;
}
.fc-button-primary {
	border: none !important;
}
.fc-button-primary:hover {
	background-color: #90c31f !important;
}