{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background d-lg-none" data-overlay-dark="7" data-background="img/bg/bg5.jpg">
            <div class="container">

                <div class="row">
                    <div class="col-md-7">
                        <h1>Shop Product Grid</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="text-md-end text-start mt-2 mt-lg-0 ps-0">
                            <li><a href="home-default.html">Home</a></li>
                            <li><a href="#!">Shop Product Grid</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <!-- SHOP GRID
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">

                    <!-- product grid left panel -->
					<div class="col-lg-3">
						<div class="categories mb-1-9">
							<h3 class="bg-primary text-white m-0 h5 px-3 py-2 font-weight-600 d-none d-lg-block">Categories</h3>
							<h3 class="bg-primary text-white collapse-sm m-0 h5 px-3 py-2 font-weight-600 d-block d-lg-none">Categories</h3>
							<ul class="list-style-5 shop-category">
								{% for categoryFirst in category_first_list %}
								<li><a href="{% url 'product:list' %}?category1={{categoryFirst.id}}">{{categoryFirst.name}}</a></li>
								{% endfor %}
							</ul>
						</div>
						<div class="offer-banner bg-primary text-center d-none d-lg-block">
							<a href="#!"><img src="img/shop/left-panel-banner.png" alt="..."></a>
						</div>
						
						<!--작업 다하고 징루것-->

                        <div id="accordion" class="accordion-style2 mb-4">
							{% for categoryFirst in category_first_list %}
                            <div class="card">
                                <div class="card-header" id="heading{{categoryFirst.id}}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse{{categoryFirst.id}}" aria-expanded="true" aria-controls="collapse{{categoryFirst.id}}">{{categoryFirst.name}}</button>
                                    </h5>
                                </div>

								<!--<div class="card-header">
									<h5 class="mb-0">
										<a class="btn btn-link" href="?category1={{categoryFirst.id}}">{{categoryFirst.name}}</a>
									</h5>
								</div>-->
								
                                <div id="collapse{{categoryFirst.id}}" class="collapse {% if not categoryFirst.categorysecond_set.all is None and request.GET.category1|slugify == categoryFirst.id|slugify %}show{% endif %}" aria-labelledby="heading{{categoryFirst.id}}" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-style-5">
											<li><a href="?category1={{categoryFirst.id}}">전체보기</a></li>
											{% for categorySecond in categoryFirst.categorysecond_set.all %}
                                            <li><a href="?category1={{categoryFirst.id}}&category2={{categorySecond.id}}">{{categorySecond.name}}</a></li>
											{% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
						<!--여기까지-->
                        <div class="offer-banner bg-primary text-center d-none d-lg-block">
                            <a href="#!"><img src="{% static 'img/shop/left-panel-banner.png' %}" alt="..."></a>
                        </div>
                    </div>
                    <!-- end product grid left panel -->

                    <!-- right panel section -->
                    <div class="col-lg-9 ps-lg-1-9">

                        <div class="row g-0 align-items-center bg-light rounded p-3 mb-1-9">

                            <div class="col-12 col-md mb-2 mb-md-0 text-center text-md-start">Showing 1–9 of 27 results</div>

                            <div class="col-12 col-md-auto">

                                <div class="row justify-content-center">

                                    <div class="col-auto my-2 my-md-0">
                                        <label class="m-0">Sort By:</label>
                                        <select class="w-auto d-inline-block bg-white form-control form-select">
                                            <option value="#?sort=p.sort_order&amp;order=ASC">Default</option>
                                            <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                            <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                            <option value="#?sort=p.price&amp;order=ASC" selected="">Price (Low &gt; High)</option>
                                            <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                            <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                                            <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                            <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                            <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                                        </select>
                                    </div>
                                    <div class="col-auto my-2 my-md-0">
                                        <label class="m-0">Show:</label>
                                        <select class="w-auto d-inline-block bg-white form-control form-select">
                                            <option value="#?limit=24" selected="selected">24</option>
                                            <option value="#?limit=25">25</option>
                                            <option value="#?limit=50">50</option>
                                            <option value="#?limit=75">75</option>
                                            <option value="#?limit=100">100</option>
                                        </select>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row product-grid mb-1-9 mb-lg-6 mt-n1-9">
							{% for productList in product_list %}
                            <div class="col-xl-4 col-md-6 mt-1-9">
                                <div class="border">

                                    <a href="#!" class="product-block">
                                        <div class="label-offer bg-red">Sale</div><img src="{% static 'img/shop/product-01.jpg' %}" alt="...">
                                    </a>
                                    <div class="product-info">
                                        <a href="{% url 'product:detail' productList.id %}">{{productList.name}}</a>
                                        <p class="price text-center m-0">
                                            <span class="red line-through me-2">₱{{productList.price}}</span>
                                            <span>₱{{productList.price}}</span>
                                        </p>
                                    </div>
                                    <div class="buttons">
                                        <a href="#!" class="bg-extra-dark-gray text-white"><i class="fas fa-heart me-2"></i>Wishlist</a>
                                        <a href="#!" class="bg-primary text-white"><i class="fas fa-shopping-cart me-2"></i>Add to Cart</a>
                                    </div>

                                </div>
                            </div>
							{% endfor %}
                        </div>

                        <div class="row">
                            <div class="col-12 px-lg-0">
                                <div class="pagination text-small text-uppercase text-extra-dark-gray">
                                    <ul>
										{% if product_list.has_previous %}
                                        <li class="">
											<a href="?p={{page_number }}
													{% if 'category1' in request.GET %}&category1={{request.GET.category1}}{% endif %}
													{% if 'category2' in request.GET %}&category2={{request.GET.category2}}{% endif %}">
												<i class="fas fa-long-arrow-alt-left me-1 d-none d-md-inline-block"></i> Prev
											</a>
										</li>
										{% else %}
										<li>
											<a href="#">
												<i class="fas fa-long-arrow-alt-left me-1 d-none d-md-inline-block"></i> Prev
											</a>
										</li>
										{% endif %}

										{% for page_number in product_list.paginator.page_range %}
											{% if page_number >= product_list.number|add:-2 and page_number <= product_list.number|add:2 %}
												{% if page_number == product_list.number %}
												<li class="active"><a href="#">{{ page_number }}</a></li>
												{% else %}
                                        <li><a href="?p={{page_number }}
													{% if 'category1' in request.GET %}&category1={{request.GET.category1}}{% endif %}
													{% if 'category2' in request.GET %}&category2={{request.GET.category2}}{% endif %}">{{ page_number }}</a></li>
												{% endif %}
											{% endif %}
										{% endfor %}

										{% if product_list.has_previous %}
										<li>
											<a href="?p={{page_number }}
													{% if 'category1' in request.GET %}&category1={{request.GET.category1}}{% endif %}
													{% if 'category2' in request.GET %}&category2={{request.GET.category2}}{% endif %}">
												Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-md-inline-block"></i>
											</a>
										</li>
										{% else %}
										<li>
											<a href="#!">
												Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-md-inline-block"></i>
											</a>
										</li>
										{% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end right panel section -->

                </div>
            </div>
        </section>
{% endblock %}