{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load product_filter %}


<!-- Section -->
<!-- SHOP DETAILS
================================================== -->
<section>
	<div class="container">

		<!-- product section -->
		<div class="row mb-6 mb-md-7 mb-lg-9">
			<div class="col-lg-5 text-center text-lg-start mb-1-9 mb-lg-0">

				<!-- product left start -->
				<div class="xzoom-container">
					<img class="xzoom5 mb-1-9" id="xzoom-magnific" src="img/shop/preview/01_product.jpg" xoriginal="img/shop/original/01_product.jpg" />
					<div class="xzoom-thumbs m-0">
						<a href="img/shop/original/01_product.jpg"><img class="xzoom-gallery5" width="80" src="img/shop/thumbs/01_product.jpg" xpreview="img/shop/preview/01_product.jpg" title="The description goes here"></a>
						<a href="img/shop/original/02_product.jpg"><img class="xzoom-gallery5" width="80" src="img/shop/preview/02_product.jpg" title="The description goes here"></a>
						<a href="img/shop/original/03_product.jpg"><img class="xzoom-gallery5" width="80" src="img/shop/preview/03_product.jpg" title="The description goes here"></a>
						<a href="img/shop/original/04_product.jpg"><img class="xzoom-gallery5" width="80" src="img/shop/preview/04_product.jpg" title="The description goes here"></a>
					</div>
				</div>
				<!-- product left end -->

			</div>
			<div class="col-lg-7 ps-lg-2-7">
				<div class="product-detail">
					<h3 class="mb-2">서비스 제목</h3>
					<div class="bg-primary separator-line-horrizontal-full mb-4"></div>
					<p class="rating-text display-30"><span>지역:</span> <span>더 좋은 아이디어 있으면 그걸로 대체</span></p>
					<p >서비스의 간략한 설명 1~3줄</p>
					<div class="mb-3">
						<span class="me-3 display-26 font-weight-600 offer-price">$499.00</span>
						<span class="display-26 font-weight-700 text-primary">$299.00</span>
					</div>

					<div class="row">
						{% if product_detail.productvariant_set.all %}
						<select id="optionFirst" class="form-select form-select-lg mb-3" onchange="set_variant_value(this)">
							<option selected>옵션1</option>
							{% for variant in product_detail.productvariant_set.all %}
							<option value="{{variant}}" data-value="{{variant}}">{{variant}}</option>
							{% endfor %}
						</select>
						<select id="optionSecond" onchange="add_item(this)" class="form-select form-select-lg mb-3">
							<option selected>옵션2</option>
						</select>
						{% endif %}
					</div>
					<div class="selectedList">
						{% if not product_detail.productvariant_set.all %}
						<div id="productDom" class="optionTotal">
							<div class="title" id="optionTitle">
								<h6>Qty:</h6>
							</div>

							
							<div class="optionAdd">
								<input type="number" onchange="cal_item_price(this);" data-option-price="{{product_detail.price}}" class="order_num form-control text-center" value="1" min="1"><span class="price" data-id="" id="itemPrice">₱{{product_detail.price|intcomma}}</span>
							</div>
						</div>

						{% endif %}
					</div>

					<div class="totalPrice">
						{% if product_detail.productvariant_set.all %}
						<p>총 상품금액(<span id="totalQty">0개</span>)</p> <span id="totalPrice">₱0</span>
						{% else %}
						<p>총 상품금액(<span id="totalQty">1개</span>)</p> <span id="totalPrice">₱{{product_detail.price|intcomma}}</span>
						{% endif %}
					</div>

					
					<div class="buy_area">
						<div class="btn_row">
							<div class="btn_area col-lg-12">					
								<div class="bd-example mb-2">
									<input type="hidden" name="obj_data" value='[{"product_id":"{{product_detail.pk}}","variant_value_id":"","qty":"1"}]'>
									<a href="#!" onclick="add_cart_submit('{{product_detail.id}}');" class="cart_btn butn-style3"><span><i class="fas fa-shopping-cart me-1"></i> Add to Cart</span></a>
									<a href="#!" class="buy_btn butn-style3"><span><i class="fas fa-shopping-cart me-1"></i> Buy Now!</span></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- end product section -->

		<!-- product description -->
		<div class="row mb-6 mb-lg-8">
			<div class="col-12">
				<div class="horizontaltab tab-style5">
					<ul class="resp-tabs-list hor_1 text-start">
						<li>Description</li>
						<li>Service Info</li>
						<li>Q&A</li>
					</ul>
					<div class="resp-tabs-container hor_1">
						<div class="text-start">
							{{product_detail.content|safe}}
						</div>
						<div class="row align-items-center">
							<div class="col-lg-12 mb-4 mb-lg-0">
								<ul class="service_info list-style-5">	
									<li><strong>업체명 :</strong> <span>유토빌홈케어</span></li>
									<li><strong>이용조건 :</strong> <span>홈케어 서비스 가능 지역 - 출장서비스 운영시간 (월~토 09시 ~ 18시) *서비스 가능지역은 상세페이지를 참고해주시기 바랍니다. *품목이 상이한 경우 추가금액이 발생할 수 있습니다.</span></li>
									<li><strong>취소, 중도해약/해지 조건 및 환불 기준 :</strong> <span>홈케어 서비스를 받으시기 전 취소가 가능하며 콜 센터로 연락해주시기 바랍니다. 사정에 의해 희망예약일자가 변경되거나 홈케어 서비스가 불가능한 상품일 수 있습니다. 신청하신 품목과 실제 서비스대상 품목이 상이한 경우 서비스가 불가할 수 있습니다.</span></li>
									<li><strong>취소 및 환불 방법(필수) :</strong> <span>홈케어 서비스를 받으시기 전 취소가 가능하며 콜 센터로 연락해주시기 바랍니다. 사정에 의해 희망예약일자가 변경되거나 홈케어 서비스가 불가능한 상품일 수 있습니다. 신청하신 품목과 실제 서비스대상 품목이 상이한 경우 서비스가 불가할 수 있습니다.</span></li>
									<li><strong>소비자상담관련 전화번호 :</strong> <span>xxxx-xxxx</span></li>
								</ul>
							</div>
						</div>
						<div class="row align-items-center" style="overflow-x:auto;">	
							<table class="table text-center">
								<thead class="ques_title">
									<tr>
										<th class="col-1">번호</th>
										<th class="col-9">문의/답변</th>
										<th class="col-1">작성자</th>
										<th class="col-1">작성일</th>
									</tr>
								</thead>
								<tbody class="ques_list">
									<tr>
										<td>1</td>
										<td>질문입니다.</td>
										<td>작성자입니다.</td>
										<td>2022.mm.dd 00:24</td>
									</tr>
								</tbody>
							</table>				
							<div class="bd-example mb-2">
								<ul class="ques_btn_area">
									<li><a href="#!" class="btn-style2">고객센터 문의하기</a></li>
									<li><a href="#!" class="btn-style2">상품 문의하기</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end product description -->

		<!-- related product -->
		<div class="row">
			<div class="col-12">
				<div class="section-heading title-style3">
					<h3 class="h4">Related Products</h3>
				</div>
			</div>

			<div class="carousel-style4 col-12">
				<div class="product-grid control-top owl-carousel owl-theme">

					<div class="border">
						<div class="product-info">
							<a href="#!">Party Dresses</a>
							<p class="price text-center m-0">
								<span class="red line-through me-2">$600</span>
								<span>$599</span>
							</p>
						</div>
						<div class="buttons">
							<a href="#!" class="bg-primary text-white"><i class="fas fa-shopping-cart me-2"></i>Add to Cart</a>
						</div>

					</div>
					<div class="border">

						<a href="#!" class="product-block"><img src="img/shop/product-11.jpg" alt="..."></a>
						<div class="product-info">
							<a href="#!">Women Bandage</a>
							<p class="price text-center m-0">
								<span class="red line-through me-2">$500</span>
								<span>$300</span>
							</p>
						</div>
						<div class="buttons">
							<a href="#!" class="list_cart_btn bg-primary text-white"><i class="fas fa-shopping-cart me-2"></i>Add to Cart</a>
						</div>

					</div>
					<div class="border">

						<a href="#!" class="product-block">
							<div class="label-offer bg-primary">New</div><img src="img/shop/product-12.jpg" alt="...">
						</a>
						<div class="product-info">
							<a href="#!">Short Red Dress</a>
							<p class="price text-center m-0">
								<span class="red line-through me-2">$200</span>
								<span>$100</span>
							</p>
						</div>
						<div class="buttons">
							<a href="#!" class="list_cart_btn bg-primary text-white"><i class="fas fa-shopping-cart me-2"></i>Add to Cart</a>
						</div>

					</div>
					<div class="border">

						<a href="#!" class="product-block">
							<div class="label-offer bg-red">Sale</div><img src="img/shop/product-13.jpg" alt="...">
						</a>
						<div class="product-info">
							<a href="#!">Short Flower Print</a>
							<p class="price text-center m-0">
								<span class="red line-through me-2">$1200</span>
								<span>$900</span>
							</p>
						</div>
						<div class="buttons">
							<a href="#!" class="list_cart_btn bg-primary text-white"><i class="fas fa-shopping-cart me-2"></i>Add to Cart</a>
						</div>

					</div>
					<div class="border">

						<a href="#!" class="product-block"><img src="img/shop/product-14.jpg" alt="..."></a>
						<div class="product-info">
							<a href="#!">Black fly Design</a>
							<p class="price text-center m-0">
								<span class="red line-through me-2">$399</span>
								<span>$199</span>
							</p>
						</div>
						<div class="buttons">
							<a href="#!" class="list_cart_btn bg-primary text-white"><i class="fas fa-shopping-cart me-2"></i>Add to Cart</a>
						</div>

					</div>
					<div class="border">
						<a href="#!" class="product-block">
							<div class="label-offer bg-primary">New</div><img src="img/shop/product-15.jpg" alt="...">
						</a>
						<div class="product-info">
							<a href="#!">Black Flower Print</a>
							<p class="price text-center m-0">
								<span class="red line-through me-2">$800</span>
								<span>$699</span>
							</p>
						</div>
						<div class="buttons">
							<a href="#!" class="list_cart_btn bg-primary text-white"><i class="fas fa-shopping-cart me-2"></i>Add to Cart</a>
						</div>

					</div>
				</div>
			</div>

		</div>
		<!-- end related product -->

	</div>
</section>

<script>
is_run = false;

function add_cart_submit(product_id) {
	is_run = true;

	let data = document.querySelector("input[name=obj_data]").value;

	if (isEmpty(data)) {
		openModal('알림','옵션을 선택해주세요.');
		return false;
	}

    $.ajax({
        type : 'POST',
        url : "{% url 'cart:add' %}",
		headers: { "X-CSRFToken": '{{csrf_token}}' },
        data : {
			data: data,
		},
        dataType : 'json',
        success: function(data){
			if(data.result==200){
				openModal("알림", data.result_text,'', 'reload');
			}else{
				openModal("알림", data.result_text);
			}
			is_run  = false;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
			    msg +=  + "내용 : " + request.responseText + "<br>" + error;
			    console.log(msg);
        }
    });
}

function set_variant_value(e) {
	let key = e.options[e.selectedIndex].value;
	let json_data = JSON.parse("{{variant_data|escapejs}}");
	let html='<option selected>옵션2</optimPriceon>';
	
	for (idx in json_data[key]) {
		value = json_data[key][idx];
		html+=`<option value="${value['value']}" data-id="${value['id']}" data-value="${value['value']}" data-price="${value['price']}">${value['value']} + ${value['price']}원</option>`;
	}
	document.getElementById("optionSecond").innerHTML = html;
}


function cal_total_value() {
	let total_price = document.getElementById("totalPrice");
 	let item_list = document.querySelectorAll("span[id=itemPrice]");
 	let arr = [];

 	let total = 0;
 	let count = 0;

 	for (i=0; i<item_list.length; i++) {
 		let item = item_list[i];

 		total += Number(item.innerHTML.replace(/[^0-9]/g, ""));
 		count += Number(item.previousSibling.value);
		
 		let objData = new Object();
 		objData.product_id = "{{product_detail.id}}";
 		objData.variant_value_id = item.dataset.id;
 		objData.qty = item.previousSibling.value;

 		arr.push(objData);
	}

	document.querySelector("input[name=obj_data]").value=JSON.stringify(arr);

	document.getElementById("totalQty").innerHTML = String(count)+'개';
	total_price.innerHTML = '₱'+total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}

function cal_item_price(e) {
	let qty = Number(e.value);
	let ori_price = Number(e.dataset.optionPrice.replace(/[^0-9]/g, ""));

	let total_price_span = e.nextSibling;

	let total_price = qty * ori_price;
	total_price = total_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

	total_price_span.innerHTML = `₱${total_price}`;
	cal_total_value();
}

function add_item(e) {
	let option_first = document.getElementById("optionFirst");
	let option_first_value = option_first.options[option_first.selectedIndex].dataset.value;

	let option_second_value = e.options[e.selectedIndex].dataset.value;
	let option_second_id = e.options[e.selectedIndex].dataset.id;
	let option_second_price = '{{product_detail.price}}' + e.options[e.selectedIndex].dataset.price;
	option_second_price = option_second_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

	let my_item_id = document.querySelector(`span[data-id="${option_second_id}"]`);
	if (my_item_id == null) {
		html = '<div id="productDom" class="optionTotal">';
		html += '<div class="product_title" id="optionTitle">';
		html += `<h6>{{product_detail.name}}</h6>`;
		html += '<a class="close" href="#test" onclick="remove_item(this)">X</a>';
		html += '</div>';
		html += `<div>${option_first_value} / ${option_second_value}</div>`;
		html += '<div class="optionAdd">';
		html += `<input type="number" onchange="cal_item_price(this);" data-option-price='${option_second_price}' class="order_num form-control text-center" value="1" min="1">`;
		html += `<span class="price" data-id="${option_second_id}" id="itemPrice">₱${option_second_price}</span>`;
		html += '</div>';
		html += '</div>';

		var newstuff = document.createElement('div');
		newstuff.innerHTML = html
		let parent = document.querySelector(".selectedList");

		while (newstuff.firstChild) {
			parent.appendChild(newstuff.firstChild);
		}
	} else {
		let sibling = my_item_id.previousSibling
		sibling.value = Number(sibling.value) + 1
		cal_item_price(sibling)
	}
	

	reset_variant(e, '옵션2');
	cal_total_value();
}

function remove_item(e) {
	e.parentNode.parentNode.remove();
	cal_total_value();
}

function reset_variant(e, val) {
	for( i=0,j=e.length; i<j; i++ ){
		if( e.options[i].value == val ) {
			e.options[i].selected = true;
			break;
		}
	}
}

function review_write_submit() {
      var reviewWriteForm = document.reviewWriteForm;
      var review = reviewWriteForm.review.value;
      var rating = reviewWriteForm.rating.value;
      let this_modal = "#reviewWriteModal";
            
      if (isEmpty(rating)) {
         openPopup('알림','평점을 선택해주세요.',this_modal);
         return false;
      }

      if (isEmpty(review)) {
         openPopup('알림','리뷰를 입력해주세요.',this_modal);
         return false;
      }

      var queryString = $("form[name=reviewWriteForm]").serialize();

    $.ajax({
        type : 'POST',
        url : "",
        data : queryString,
        dataType : 'json',
        success: function(data){
          if(data.result==200){
            openPopup("알림", data.result_text,'',"reload");
          }else{
            openPopup("알림", data.result_text);
          }
          return;
        },
        error: function (request, status, error){
          var msg = "ERROR : " + request.status + "<br>"
             msg +=  + "내용 : " + request.responseText + "<br>" + error;
        }
    });
}
</script>

{% endblock %}