{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<link href="{% static 'user/css/style.css' %}" rel="stylesheet">

<section class="position-relative">
	<div class="container position-relative">
		<div class="position-relative pt-2 pb-9 pb-lg-11">
			<div class="row">
				{% include "user/account/mypage/sidemenu.html" %}
				<div class="col-lg-9 subs_contents">
					{% include "user/account/mypage/topmenu.html" %}	
							<!-- Page title -->
							<div class="my-5">
								<h4 class="my-4 page-title-box">Home Check</h4>
							</div>
								<form id="stepByStepForm" class="file-upload">
									<ul class="progress-step">
										<li class="progress-bar__dot full box-md position-relative me-4 me-lg-0">
											<span class="mb-0 position-absolute top-50 start-50 translate-middle fs-6"><i class="far fa-edit"></i></span>
										</li>
										<li class="progress-bar__connector align-items-center d-none d-lg-block">
											<span class="fs-5 mb-0 ms-2 text-dark">Description</span>
										</li>
										
										<li class="progress-bar__dot box-md position-relative me-4 me-lg-0">
											<span class="mb-0 position-absolute top-50 start-50 translate-middle fs65"><i class="fas fa-photo-video"></i></span>
										</li>
										<li class="progress-bar__connector align-items-center d-none d-lg-block">
											<span class="fs-5 mb-0 ms-2 text-dark">Media</span>
										</li>

										<li class="progress-bar__dot box-md position-relative me-4 me-lg-0">
											<span class="mb-0 position-absolute top-50 start-50 translate-middle fs65"><i class="fas fa-map-marker-alt"></i></span>
										</li>
										<li class="progress-bar__connector align-items-center d-none d-lg-block">
											<span class="fs-5 mb-0 ms-2 text-dark">Location</span>
										</li>

										<li class="progress-bar__dot box-md position-relative">
											<span class="mb-0 position-absolute top-50 start-50 translate-middle fs65"><i class="fas fa-bars"></i></span>
										</li>
										<li class="progress-bar__connector align-items-center d-none d-lg-block">
											<span class="fs-5 mb-0 ms-2 text-dark">Amenities</span>
										</li>
									</ul>
									
									<!-- Description step -->
									<div class="step step1">
										<!-- Row START -->
										<div class="row gx-5 align-items-center justify-content-center">
											<!-- Property detail -->
											<div class="col-xxl-10 mb-5 mb-xxl-0">
												<div class="row g-3 bg-secondary-soft rounded p-3 p-md-5">
													<h4 class="my-0">Property Status</h4>
													<!-- Title -->
													<div class="col-md-12">
														<label class="form-label">Title *</label>
														<input type="text" class="form-control" aria-label="Title">
													</div>
													<!-- Description -->
													<div class="col-md-12">
														<label for="exampleFormControlTextarea1" class="form-label">Description *</label>
														<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" spellcheck="false"></textarea>
													</div>

													<h4 class="mt-5 mb-0">Property Categories</h4>
													<!-- Property id -->
													<div class="col-md-6">
														<label class="form-label">Property ID *</label>
														<input type="text" class="form-control" aria-label="property id">
													</div>
													<!-- Type -->
													<div class="col-md-6">
														<label class="form-label">Type *</label>
														<select class="form-select js-choice" aria-label="Default select example">
															<option value="">Select item</option>
															<option>For Rent</option>
															<option>For Sale</option>
														</select>
													</div>
													<!-- Category -->
													<div class="col-md-6">
														<label class="form-label">Category *</label>
														<select class="form-select js-choice" aria-label="Default select example">
															<option value="">Select item</option>
															<option>Aparement</option>
															<option>Land</option>
															<option>Houses</option>
															<option>Villas</option>
															<option>Retails</option>
															<option>Shop</option>
															<option>Office</option>
														</select>
													</div>
													<!-- Status -->
													<div class="col-md-6">
														<label class="form-label">Status *</label>
														<select class="form-select js-choice" aria-label="Default select example">
															<option value="">Select item</option>
															<option>Active</option>
															<option>Hot offer</option>
															<option>New offer</option>
															<option>Sold</option>
															<option>Not active</option>
														</select>
													</div>
													<!-- Bathroom -->
													<div class="col-md-6">
														<label class="form-label">Bathroom *</label>
														<select class="form-select js-choice" aria-label="Default select example">
															<option value="">Select item</option>
															<option>1</option>
															<option>2</option>
															<option>3</option>
														</select>
													</div>
													<!-- Bedroom -->
													<div class="col-md-6">
														<label class="form-label">Bedroom *</label>
														<select class="form-select js-choice" aria-label="Default select example">
															<option value="">Select item</option>
															<option>1</option>
															<option>2</option>
															<option>3</option>
														</select>
													</div>
														
													<h4 class="mt-5 mb-0">Property price</h4>
													<!-- Enter price -->
													<div class="col-md-6">
														<label class="form-label">Enter price *</label>
														<input type="text" class="form-control" aria-label="price">
													</div>
													<!-- Tax rate -->
													<div class="col-md-6 ">
														<label class="form-label">Tax rate *</label>
														<input type="text" class="form-control" aria-label="t	ax rate">
													</div>
													<!-- After Price Label -->
													<div class="col-md-6">
														<label class="form-label">After Price Label *</label>
														<input type="text" class="form-control" aria-label="after price label">
													</div>
													<!-- Before Price Label -->
													<div class="col-md-6 ">
														<label class="form-label">Before Price Label *</label>
														<input type="text" class="form-control" aria-label="before price label">
													</div>
												</div> <!-- Row END -->
											</div>
										</div> <!-- Row END -->
									</div>
							
									<!-- Media step -->
									<div class="step step2 hidden">
										<!-- Row START -->
										<div class="row gx-5 align-items-center justify-content-center">
											<!-- Property detail -->
											<div class="col-xxl-10 mb-5 mb-xxl-0">
												<div class="row g-3 bg-secondary-soft p-3 p-md-5 rounded">
													<h4 class="mb-4 mt-0">Upload your property photo</h4>
													<!-- upload file -->
													<div class="col-md-12 mt-0">
														<div class="d-flex justify-content-center align-items-center p-4 bg-primary-soft border-dashed rounded">
															<input type="file" id="customFile" name="file" hidden>
															<label for="customFile" style="cursor:pointer;">
																<span class="fs-2 text-primary"><i class="fas fa-file-upload me-4"></i></span>
															</label>
															<div>
																<h6 class="mb-1">Drag file here or click to upload</h6>
																<span>upload up to 8 files</span>
															</div>
														</div>
													</div>

													<h4 class="mt-5 mb-0">Video option</h4>
													<!-- Video from -->
													<div class="col-md-6">
														<label class="form-label">Video from *</label>
														<select class="form-select js-choice" aria-label="Default select example">
															<option value="">Select item</option>
															<option>Youtube</option>
															<option>Vimeo</option>
														</select>
													</div>
													<!-- Video link -->
													<div class="col-md-6">
														<label class="form-label">Video link *</label>
														<input type="text" class="form-control" aria-label="property id">
													</div>
												</div> <!-- Row END -->
											</div>
										</div> <!-- Row END -->
									</div>
							
									<!-- Location step -->
									<div class="step step3 hidden">
										<!-- Row START -->
										<div class="row gx-5">
											<!-- Location detail -->
											<div class="col-xxl-6 mb-5 mb-xxl-0">
												<div class="bg-secondary-soft p-3 p-sm-5 rounded">
													<div class="row g-3">
														<h4 class="my-4">Location Detail</h4>
														<!-- Country -->
														<div class="col-md-6">
															<label class="form-label">Country *</label>
															<input type="text" class="form-control" aria-label="Country">
														</div>
														<!-- State -->
														<div class="col-md-6">
															<label class="form-label">State *</label>
															<input type="text" class="form-control" aria-label="State">
														</div>
														<!-- City -->
														<div class="col-md-6">
															<label class="form-label">City *</label>
															<input type="text" class="form-control" aria-label="City">
														</div>
														<!-- Zip -->
														<div class="col-md-6">
															<label class="form-label">Zip *</label>
															<input type="text" class="form-control" aria-label="Zip">
														</div>
														<!-- Address -->
														<div class="col-md-12">
															<label for="exampleFormControlTextarea2" class="form-label">Address *</label>
															<textarea class="form-control" id="exampleFormControlTextarea2" rows="4" spellcheck="false"></textarea>
														</div>
													</div> <!-- Row END -->
												</div>
											</div>
											<!-- Google map -->
											<div class="col-xxl-6">
												<div class="row g-3 bg-secondary-soft p-3 p-md-5 rounded">
													<div class="position-md-absolute end-0 top-0 w-100 h-400 mb-4">
														<iframe class="w-100 h-100 grayscale" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" style="border:0;" aria-hidden="false" tabindex="0"></iframe>	
													</div>
													<!-- Latitude -->
													<div class="col-md-6">
														<label class="form-label">Latitude *</label>
														<input type="text" class="form-control" aria-label="Latitude">
													</div>
													<!-- Longitude -->
													<div class="col-md-6">
														<label class="form-label">Longitude *</label>
														<input type="text" class="form-control" aria-label="Longitude">
													</div>
												</div>
											</div>
										</div> <!-- Row END -->
									</div>

									<!-- Amenities step -->
									<div class="step step4 hidden">
										<!-- Row START -->
										<div class="row mb-4 gx-5">
											<div class="col-xxl-12 mb-xxl-0">
												<div class=" bg-secondary-soft p-5 rounded">
													<div class="row">
														<!-- Info -->
														<div class="col-sm-6 col-md-4 mt-4 mt-sm-0">
															<!-- Title -->
															<h5 class="font-base mb-2">Interior Details</h5>
															<!-- Kitchen -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
																<label class="form-check-label" for="flexCheckDefault1">
																	Kitchen
																</label>
															</div>
															<!-- Laundary -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
																<label class="form-check-label" for="flexCheckDefault2">
																	Laundary
																</label>
															</div>
															<!-- Gym -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
																<label class="form-check-label" for="flexCheckDefault3">
																	Gym
																</label>
															</div>
															<!-- Projector Room -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
																<label class="form-check-label" for="flexCheckDefault4">
																	Projector Room
																</label>
															</div>
														</div>

														<!-- Info -->
														<div class="col-sm-6 col-md-4 mt-4 mt-sm-0">
															<!-- Title -->
															<h5 class="font-base mb-2">Outdoor Details</h5>
															<!-- Back yard -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
																<label class="form-check-label" for="flexCheckDefault5">
																	Back yard
																</label>
															</div>
															<!-- Front yard -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
																<label class="form-check-label" for="flexCheckDefault6">
																	Front yard
																</label>
															</div>
															<!-- Attached garrage -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7">
																<label class="form-check-label" for="flexCheckDefault7">
																	Attached garrage
																</label>
															</div>
															<!-- Pool -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
																<label class="form-check-label" for="flexCheckDefault8">
																	Pool
																</label>
															</div>
														</div>

														<!-- Info -->
														<div class="col-sm-6 col-md-4 mt-4 mt-md-0">
															<!-- Title -->
															<h5 class="font-base mb-2">Other Features</h5>
															<!-- Elevator -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault9">
																<label class="form-check-label" for="flexCheckDefault9">
																	Elevator
																</label>
															</div>
															<!-- Wifi -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault10">
																<label class="form-check-label" for="flexCheckDefault10">
																	Wifi
																</label>
															</div>
															<!-- School -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11">
																<label class="form-check-label" for="flexCheckDefault11">
																	School
																</label>
															</div>
															<!-- Transpotation hub -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12">
																<label class="form-check-label" for="flexCheckDefault12">
																	Transpotation hub
																</label>
															</div>
															<!-- Super market -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault13">
																<label class="form-check-label" for="flexCheckDefault13">
																	Super market
																</label>
															</div>
															<!-- Clinic -->
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault14">
																<label class="form-check-label" for="flexCheckDefault14">
																	Clinic
																</label>
															</div>
														</div>
													</div> <!-- Row END -->
												</div>
											</div>
										</div> <!-- Row END -->
								</div>
							
								<!-- Buttons -->
									<div class="mt-5 d-flex justify-content-between">
										<button id="previous" class="disabled btn btn-md btn-dark-soft" disabled>
												previous
										</button>
										<button id="next" class="btn btn-primary-soft btn-md">
												next
										</button>
										<!-- <button id="validate" type="submit" class="hidden btn btn-success-soft btn-md">
											Submit
										</button> -->
									</div>
									<div class="text-end">
										<button id="validate" type="submit" class="hidden btn btn-success btn-md">
											Submit
										</button>
									</div>
							</form>
			
				</div>
				<!-- Main content END -->
			</div>
		</div>
	</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
const previousButton = document.getElementById("previous")
const nextButton = document.getElementById("next")
const submitButton = document.getElementById('validate')
const form = document.getElementById('stepByStepForm')
const dots = document.getElementsByClassName('progress-bar__dot')
const numberOfSteps = 4
let currentStep = 1

for(let i = 0 ; i < dots.length ; ++i){
	 dots[i].addEventListener('click', ()=>{
		 goToStep(i+1) 
	 })
}

previousButton.onclick = goPrevious
nextButton.onclick = goNext


function goNext(e) {
	 e.preventDefault()
	 currentStep += 1
	 goToStep(currentStep)
}

function goPrevious(e) {
	 e.preventDefault()
	 currentStep -= 1
	 goToStep(currentStep)
}

function goToStep(stepNumber){   
	 currentStep = stepNumber
	 
	 let inputsToHide = document.getElementsByClassName('step')
	 let inputs = document.getElementsByClassName(`step${currentStep}`)
	 let indicators = document.getElementsByClassName('progress-bar__dot')
	 
	 for(let i = indicators.length-1; i >= currentStep ; --i){
			indicators[i].classList.remove('full')
	 }
	 
	 for(let i = 0; i < currentStep; ++i){
			indicators[i].classList.add('full')
	 }
	 
	 //hide all input
	 for (let i = 0; i < inputsToHide.length; ++i) {
			hide(inputsToHide[i])
	 }
	 
	 //only show the right one
	 for (let i = 0; i < inputs.length; ++i) {
			show(inputs[i])
	 }
	 
	 //if we reached final step
	 if(currentStep === numberOfSteps){
			enable(previousButton)
			disable(nextButton)
			show(submitButton)
	 }
	 
	 //else if first step
	 else if(currentStep === 1){
		 disable(previousButton)
			enable(next)
			hide(submitButton)
	 }
	 
	 else {
			enable(previousButton)
			enable(next)
			hide(submitButton)
	 }
}

function enable(elem) {
	 elem.classList.remove("disabled");
	 elem.disabled = false;
}

function disable(elem) {
	 elem.classList.add("disabled");
	 elem.disabled = true;
}

function show(elem){
	 elem.classList.remove('hidden')
}

function hide(elem){
	 elem.classList.add('hidden')
}
</script>
{% endblock %}