{% load static %}

<div class="modal fade" id="globalModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="globalModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
		<div class="modal-header p-4">
			<h4 class="mb-0 text-center" id="modal_subject">Notification</h4>
			<button type="button" class="btn-close" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body p-4" id="modal_content">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary btn-md" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal">Ok</button>
		</div>
		</div>
	</div>
</div>

<!-- JAVASCRIPT -->
<script src="{% static 'seller/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'seller/libs/metismenujs/dist/metismenujs.min.js' %}"></script>
<script src="{% static 'seller/libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'seller/libs/feather-icons/dist/feather.min.js' %}"></script>

<!-- Vector map-->
<script src="{% static 'seller/libs/jsvectormap/dist/js/jsvectormap.min.js' %}"></script>
<script src="{% static 'seller/libs/jsvectormap/dist/maps/world-merc.js' %}"></script>

<script src="{% static 'seller/js/app.js' %}"></script>
<script src="{% static 'seller/libs/fullcalendar/main.min.js' %}"></script>

</body>
</html>
