{% extends 'user/base.html' %}
{% block content %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<link rel="stylesheet" href="{% static 'user/css/theme.min.css' %}">
<link rel="stylesheet" href="{% static 'user/css/about_style.css' %}">

<style>

</style>
<div class="wrapper">
	<a class="btn_top">top</a>
	
	<div id="main_slider">
		<div class="container">
			<div class="slide">
				<h2>Menu1</h2>
				<p></p>
				<div class="btn_more"><a href="">MORE</a></div>
			</div>
		</div>
	</div>
	<section id="content">
		<div id="page1">
			<div class="business">
				<h3>Menu2</h3>
				<p class="sub_title">Enjoy a comfortable residential life with Utoville Homecare Service.</p>
			</div>
		</div>
		<div id="page2" class="clearfix">
			<div class="page2_inner">
				<div class="portfolio">
					<h3>Menu3</h3>
					<p class="sub_title">Enjoy a comfortable residential life with Utoville Homecare Service.</p>
				</div>
			</div>
		</div>
		<div id="page3">
			<div class="process">
				<h3>Menu4</h3>
				<p class="sub_title">Enjoy a comfortable residential life with Utoville Homecare Service.</p>
			</div>
		</div>
		<div id="page4" class="clearfix">
			<div class="page4_bg">
				<div class="page4_inner">
					<div class="review">
							<h3>Menu5</h3>
							<p class="sub_title">Enjoy a comfortable residential life with Utoville Homecare Service.</p>
						</div>
				</div>
			</div>
		</div>

		<div id="page5">
			<div class="position-relative bg-gradient-blur overflow-hidden">
				<div class="container z-1 position-relative pt-8 pt-lg-10">
					<div class="row">
						<div class="col-xl-9 mx-auto text-center">
							<h1 class="display-2 mb-3">Are you considering a home inspection?</h1>
							<p class="mb-7 lead">We inspect homes like we're BUYING TEAM OURSELVES!</p>
						</div>
					</div>
				
					<div class="mb-9 mb-lg-11 position-relative">
						<div class="row g-md-2 align-items-end justify-content-center position-relative z-1">
							<div class="col-md-6 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="100">
								<div class="card rounded-4 z-1 bg-transparent shadow-lg card-body py-5 py-lg-6 px-4 overflow-hidden position-relative hover-lift hover-shadow-lg">
									<div class="position-relative overflow-hidden text-center mb-5">
										<div class="mb-4">
											<h4 class="mb-0">Home Inspection + Basic Services</h4>
										</div>
										<div class="d-flex align-items-center justify-content-center mb-2">
											<span class="fs-4 me-1 fw-bold">₱</span>
											<h2 class="price text-center display-4 mb-0">499 <span class="fs-6 fw-light">per month</span></h2>
										</div>
									</div>
									
									<!--Action button-->
									<div class="grid mb-5">
										<a href="{% url 'product:user_home_check' %}"></a>
										<a href="{% url 'subscribe:user_subscription_book_now' %}" class="btn btn-lg hover-lift w-100 btn-primary">Register Now</a>
									</div>
									<!--Features-->
									<div class="inspection_desc">
										<span class="badge py-2 px-3 rounded-pill bg-success mb-3 w-100">Home Inspection</span>
										<ul class="list-unstyled mb-0">
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Buyers Checklist
											</li>
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Seller Checklist
											</li>
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Renter Checklist
											</li>
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												New Home Checklist
											</li>
										</ul>
									</div>
									<div class="basic_service_desc">
										<span class="badge py-2 px-3 rounded-pill bg-success mb-3 w-100">Basic Services</span>
										<ul class="list-unstyled mb-0">
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Kitchen Drain
											</li>
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Bathroom Drain
											</li>
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Bed
											</li>
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Aircon Filter
											</li>
											<li class="mb-4 d-flex flex-wrap align-items-center">
												<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
												Sofa (1 seater/3 seater)
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!--/.pricing row-->
					</div>
					<!--/.Plans-container-->
				</div>
				<!--/.content-->
			</div>
		</div>
	</section>
	
	<div class="controller">
		<ul>
			<li><a href="">button1</a></li>
			<li><a href="">button2</a></li>
			<li><a href="">button3</a></li>
			<li><a href="">button4</a></li>
			<li><a href="">button5</a></li>
			<li><a href="">button6</a></li>
		</ul>
	</div>
</div>

<script src="{% static 'user/vendor/node_modules/js/jquery.min.js' %}"></script>
<script src="{% static 'user/js/about.main.js' %}"></script>

{% endblock %}