{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load product_filter %}

<link href="{% static 'user/css/theme.min.css' %}" rel="stylesheet">

<section class="position-relative bg-gradient-blur overflow-hidden">
	<div class="container z-1 position-relative pt-12 pt-lg-15 pb-9 pb-lg-12">
		<div class="row">
			<div class="col-xl-9 mx-auto text-center">
				<h1 class="display-2 mb-3">
				   Plans for every team
				</h1>
				<p class="mb-7 lead">Simple plans that grow with your business. No setup fees.
				</p>
			</div>
		</div>
		<!--/.row-->
		 <!-- Plans--Switch -->
		 <div class="d-flex align-items-center justify-content-center mb-5 mb-lg-7">
			<select class="form-select form-select-md mb-3" style="border-color : #ddd;">
				<option selected>Select subscription period</option>
			</select>
		</div>

		<div class="mb-9 mb-lg-11 position-relative">
			<div class="row g-md-2 align-items-end justify-content-center position-relative z-1">
				<div class="col-md-4 mb-5 mb-md-0" data-aos="fade-up">
					<div
						class="card rounded-4 card-body bg-transparent py-5 py-lg-6 px-4 overflow-hidden position-relative hover-lift hover-shadow-lg">
						<div class="position-relative mb-5 overflow-hidden">
							<h4>Basic</h4>
							<div class="d-flex align-items-center mb-2">
								<span class="d-block fs-4 me-1 fw-bold">USD$</span>
								<h2 class="price display-4 mb-0" data-as-annual="6"
									data-as-monthly="9">6
								</h2>
							</div>
							<span class="text-body-secondary">Monthly(Billed annually)</span>
						</div>
						<!--/.price-card-header-->
						
						<!--Action button-->
						<div class="flex mb-5">
							<a href="#!" class="btn w-100 hover-lift btn-lg text-center btn-outline-primary">
								Purchase Basic
							</a>
						</div>
						<!--Features-->
						<ul class="list-unstyled mb-0">
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All components & pages
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All premium plugins
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All Components & Pages
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								5 Downloads per day
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								Custom layouts
							</li>
							<li class="mb-0 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								Lifetime free updates
							</li>
						</ul>
					</div>
				</div>
				<!--/.col-->
				<div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="100">
					<div
						class="card rounded-4 z-1 bg-transparent shadow-lg card-body py-5 py-lg-6 px-4 overflow-hidden position-relative hover-lift hover-shadow-lg">

						<div class="position-relative overflow-hidden mb-5">
							<div class="mb-4 align-items-center">

								<span class="badge py-2 px-3 rounded-pill bg-success small mb-3">
									Most popular</span>
								<h4 class="mb-0">Freelancer</h4>
								<div>
								</div>
							</div>
							<div class="d-flex align-items-center mb-2">
								<span class="fs-4 me-1 fw-bold">USD$</span>
								<h2 class="price text-center display-4 mb-0" data-as-annual="19"
									data-as-monthly="29">19
								</h2>
							</div>
							<span class="text-body-secondary">Monthly(Billed annually)</span>
						</div>
						<!--/.price-card-header-->
						
						<!--Action button-->
						<div class="grid mb-5">
							<a href="#!" class="btn btn-lg hover-lift w-100 btn-primary">
								Purchase Freelancer
							</a>
						</div>
						<!--Features-->
						<ul class="list-unstyled mb-0">
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All components & pages
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All premium plugins
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All Components & Pages
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								5 Downloads per day
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								Custom layouts
							</li>
							<li class="mb-0 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								Lifetime free updates
							</li>
						</ul>
					</div>
				</div>
				<!--/.col-->
				<div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
					<div
						class="card rounded-4 bg-transparent card-body py-5 py-lg-6 px-4 overflow-hidden position-relative hover-lift hover-shadow-lg">
						<div class="position-relative mb-5 overflow-hidden">
							<h4 class="mb-4">Team</h4>
							<div class="d-flex align-items-center mb-2">
								<span class="fs-4 me-1 fw-bold">USD$</span>
								<h2 class="price text-center display-4 mb-0" data-as-annual="49"
									data-as-monthly="79">49
								</h2>
							</div>
							<span class="text-body-secondary">Monthly(Billed annually)</span>
						</div>
						<!--/.price-card-header-->
						
						<!--Action button-->
						<div class="flex mb-5">
							<a href="#!" class="btn btn-lg hover-lift w-100 text-center btn-outline-primary">
								Purchase Team
							</a>
						</div>
						<!--Features-->
						<ul class="list-unstyled mb-0">
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All components & pages
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All premium plugins
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								All Components & Pages
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								5 Downloads per day
							</li>
							<li class="mb-4 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								Custom layouts
							</li>
							<li class="mb-0 d-flex flex-wrap align-items-center">
								<i class="me-2 opacity-50 fs-5 bx bx-check-circle"></i>
								Lifetime free updates
							</li>
						</ul>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.pricing row-->
		</div>
		<!--/.Plans-container-->


		<div class="px-4 px-lg-7 py-9 rounded-4 overflow-hidden position-relative bg-gradient-primary text-white shadow-lg"
			data-aos="fade-up" data-aos-delay="150">
			<!--Decoration-->
			<svg class="position-absolute end-0 bottom-0 text-white" width="200" height="200"
				viewBox="0 0 146 146" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path opacity=".25"
					d="M146 6.93582e-07C126.827 1.53166e-06 107.842 3.77641 90.1282 11.1136C72.4147 18.4508 56.3198 29.2051 42.7624 42.7624C29.205 56.3198 18.4508 72.4147 11.1136 90.1282C3.7764 107.842 -1.67616e-06 126.827 0 146L146 146L146 6.93582e-07Z"
					fill="currentColor" />
			</svg>
			<div class="row align-items-center position-relative">
				<div class="col-md-8 mb-4 mb-md-0">
					<h2 class="mb-3 h1">
						Looking for enterprise plans?
					</h2>
					<p class="mb-0 opacity-75 lead">
						Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua. Viverra nam libero justo laoreet.
					</p>
				</div>
				<div class="col-md-4 text-md-end">
					<a href="#" class="btn btn-white btn-lg"><span>Check Reservation</span></a>
				</div>
			</div>
		</div>
	</div>
	<!--/.content-->
</section>

{% endblock %}