{% load static %}
<!-- CLIENTS
        ================================================== -->
        <div class="section-clients bg-light">
            <div class="container">
                <div class="owl-carousel owl-theme clients" id="clients">
                    <div class="item"><img alt="..." src="img/partners/client-01.png"></div>
                    <div class="item"><img alt="..." src="img/partners/client-02.png"></div>
                    <div class="item"><img alt="..." src="img/partners/client-03.png"></div>
                    <div class="item"><img alt="..." src="img/partners/client-04.png"></div>
                    <div class="item"><img alt="..." src="img/partners/client-05.png"></div>
                    <div class="item"><img alt="..." src="img/partners/client-06.png"></div>
                </div>
            </div>
        </div>

        <!-- FOOTER
        ================================================== -->
        <footer class="pt-0">

            <div class="footer-top-bar mb-6 mb-lg-8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="py-4 px-0 p-lg-4 border-white-opacity2 borders-bottom border-lg-bottom-0 border-lg-end">
                                <span class="d-inline-block line-height-1 display-19 text-light-gray vertical-align-top w-40px"><i class="fas fa-exchange-alt vertical-align-top"></i></span>
                                <div class="d-inline-block vertical-align-top ps-2 w-75">
                                    <h5 class="m-0 text-white text-uppercase display-30">Return &amp; Exchange</h5>
                                    <p class="m-0 line-height-normal display-30">Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="py-4 px-0 p-lg-4 border-white-opacity2 borders-bottom border-lg-bottom-0 border-lg-end">
                                <span class="d-inline-block line-height-1 display-19 text-light-gray vertical-align-top w-40px"><i class="fas fa-gift vertical-align-top"></i></span>
                                <div class="d-inline-block vertical-align-top ps-2 w-75">
                                    <h5 class="m-0 text-white text-uppercase display-30">Receive Gift</h5>
                                    <p class="m-0 line-height-normal display-30">Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="py-4 px-0 p-lg-4">
                                <span class="d-inline-block line-height-1 display-19 text-light-gray vertical-align-top w-40px"><i class="far fa-life-ring vertical-align-top"></i></span>
                                <div class="d-inline-block vertical-align-top ps-2 w-75">
                                    <h5 class="m-0 text-white text-uppercase display-30">Fast Support</h5>
                                    <p class="m-0 line-height-normal display-30">Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row mt-n1-9">

                    <div class="col-lg-4 col-md-6 mt-1-9">

                        <a href="index.html" class="d-inline-block">
                            <img alt="footer-logo" src="img/logos/logo-footer.png">
                        </a>
                        <p class="mt-4 mb-4 display-30">Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequr magni dolores eos qui ratione voluptatem.</p>
                        <ul class="footer-list mb-0 ps-0">
                            <li>
                                <span class="d-inline-block vertical-align-top"><i class="fas fa-map-marker-alt text-primary"></i></span>
                                <span class="d-inline-block w-85 vertical-align-top ps-2 display-30">74 Guild Street 542B, Great North Town MT.</span>
                            </li>
                            <li>
                                <span class="d-inline-block vertical-align-top"><i class="fas fa-mobile-alt text-primary"></i></span>
                                <span class="d-inline-block w-85 vertical-align-top ps-2 display-30">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <span class="d-inline-block vertical-align-top"><i class="far fa-envelope text-primary"></i></span>
                                <span class="d-inline-block w-85 vertical-align-top ps-2 display-30">addyour@emailhere</span>
                            </li>
                        </ul>

                    </div>

                    <div class="col-lg-4 col-md-6 mt-1-9">
                        <h3 class="footer-title-style2 text-white">Quick Links</h3>
                        <div class="row">
                            <div class="col-md-6 pe-md-0">
                                <ul class="footer-list mb-2 mb-md-0 ps-0">
                                    <li><a href="#!">News</a></li>
                                    <li><a href="#!">History</a></li>
                                    <li><a href="#!">Community</a></li>
                                    <li><a href="#!">Portfolio</a></li>
                                    <li><a href="#!">Safety</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 pe-md-0">
                                <ul class="footer-list mb-0 ps-0">
                                    <li><a href="#!">Gifts</a></li>
                                    <li><a href="#!">Vourchers</a></li>
                                    <li><a href="#!">Our shop</a></li>
                                    <li><a href="#!">Secure shopping</a></li>
                                    <li><a href="#!">Privacy policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-1-9">
                        <div class="ps-lg-1-9">
                            <h3 class="footer-title-style2 text-white">Newsletter</h3>
                            <p class="mb-4">Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequr.</p>
                            <form class="quform newsletter-form3" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                                <div class="quform-elements text-center">

                                    <div class="row">

                                        <!-- Begin Text input element -->
                                        <div class="col-md-12">
                                            <div class="quform-element form-group mb-0">
                                                <div class="quform-input">
                                                    <input class="form-control" id="email_address" type="email" name="email_address" placeholder="Subscribe with us">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="butn primary" type="submit"><span>Join</span></button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                        <!-- End Submit button -->

                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                            <div class="footer-social-icons small">
                                <ul class="ps-0 mb-0">
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <p class="mb-0">&copy; <span class="current-year"></span> Fabrex is Powered by <a href="https://www.chitrakootweb.com/" target="_blank" class="text-light-gray">Chitrakoot Web</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/fabrex-multipurpose-business-admin-WB0C89H44" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- core.min.js -->
    <script src="{% static 'js/core.min.js' %}"></script>

    <!-- search -->
    <script src="{% static 'search/search.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- form plugins js -->
    <script src="{% static 'quform/js/plugins.js' %}"></script>

    <!-- form scripts js -->
    <script src="{% static 'quform/js/scripts.js' %}"></script>

    <!-- all js include end -->

</body>

</html>
