{% load static %}

</main>
<!--begin:footer-->
<footer class="position-relative bg-dark text-white overflow-hidden">
	<div class="container pt-9 pt-lg-11 pb-6 position-relative">
		<div class="row">
			<!-- logo -->
			<div class="col-lg-3 col-md-6 order-lg-1 mb-6">
				<div class="d-flex align-items-md-stretch flex-column h-100">
					<div class="flex-grow-1 d-flex flex-column">
						<div class="mb-4">
							<a href="#!" class="btn btn-outline-white btn-rise">
								<div class="btn-rise-bg bg-white"></div>
								<div class="btn-rise-text">
									<i class="bx bxl-instagram me-1 align-middle fs-5"></i> Follow us on IG
								</div>
							</a>
						</div>
					</div>

					<!-- Copyright -->
					<p class="small text-muted mb-0">COPYRIGHT © UTOVILLE ALL RIGHTS RESERVED.</p>
					<!-- End Copyright -->
				</div>
			</div>
			<!-- logo end -->
			<div class="col-6 col-lg-3 col-xl-2 order-lg-2 ms-lg-auto mb-6">
				<h6 class="mb-4">Account</h6>
				<!-- nav -->
				<ul class="nav flex-column mb-0">
					<li class="nav-item"><a class="nav-link" href="#!">대쉬 보드</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">주문 조회</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">구독 관리</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">1:1 문의</a></li>
				</ul>
				<!-- /.nav -->
			</div>

			<div class="col-6 col-lg-3 col-xl-2 order-lg-3 ms-lg-auto mb-6">
				<h6 class="mb-4">Company</h6>

				<ul class="nav flex-column mb-0">
					<li class="nav-item"><a class="nav-link" href="#!">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">Become a seller</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">News &amp; Media</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
					<li class="nav-item d-flex justify-content-between align-items-center">
						<a class="nav-link" href="#!">Help center
						</a>
					</li>
				</ul>
				<!-- /.nav -->
			</div>

			<div class="col-md-6 col-lg-3 col-xl-2 ms-lg-auto order-lg-4 mb-6">
				<h6 class="mb-4">Services</h6>
				<ul class="nav flex-column mb-0">
					<li class="nav-item"><a class="nav-link" href="#!">청소</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">소독</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">수리</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">가전케어</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">이사</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">차 서비스</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">생수 배달</a></li>
				</ul>
			</div>
		</div>
		<hr class="bg-transparent border-top border-white opacity-25 mb-6 mt-0">
		<div class="col-md-12 text-start">
			<!-- Links -->
			<ul class="list-inline small mb-0">				
				<li class="list-inline-item me-3">
					<a class="d-block" href="#!">Terms &amp; Conditions</a>
				</li>
				<li class="list-inline-item me-3">
					<a class="d-block" href="#!">Privacy &amp; Policy</a>
				</li>
				<li class="list-inline-item">
					<a class="d-block" href="#!">Contact us</a>
				</li>
				<li class="list-inline-item">
					<a class="d-block" href="#!">Service Registration</a>
				</li>
			</ul>
			<!-- End Links -->
		</div>
	</div>
</footer>
<!--/end:footer-->


 <!-- scripts -->
<script src="{% static 'js/theme.bundle.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!--scripts-->
<script src="{% static 'vendor/node_modules/js/choices.min.js' %}"></script>
<script src="{% static 'vendor/node_modules/js/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/node_modules/js/simplebar.min.js' %}"></script>

<!-- datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

<script>
  //Swiper thumbnail demo
var swiperThumbnails = new Swiper(".swiper-thumbnails", {
	spaceBetween: 8,
	slidesPerView: 4,
	freeMode: true,
	watchSlidesProgress: true,
});
var swiperThumbnailsMain = new Swiper(".swiper-thumbnails-main", {
	spaceBetween: 0,
	navigation: {
	  nextEl: ".swiperThumb-next",
	  prevEl: ".swiperThumb-prev"
	},
	thumbs: {
	  swiper: swiperThumbnails
	}
});
var el = document.querySelectorAll("[data-choices]");
	el.forEach(e => {
	const t = {
		...e.dataset.choices ? JSON.parse(e.dataset.choices) : {},
		...{
			classNames: {
			containerInner: e.className,
			input: "form-control",
			inputCloned: "form-control-xs",
			listDropdown: "dropdown-menu",
			itemChoice: "dropdown-item",
			activeState: "show",
			selectedState: "active"
			}
		}
	}
	new Choices(e, t)
});
</script>



<div class="modal fade" id="globalModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="globalModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
		<div class="modal-header p-4">
			<h4 class="mb-0 text-center" id="modal_subject">알림</h4>
			<button type="button" class="btn-close" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body p-4" id="modal_content">
		</div>
		<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-md" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal">확인</button>
		</div>
		</div>
	</div>
</div>


<div class="modal" style="background: none !important;" id="loading" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" style="background: none !important;">
	  <div class="modal-content" style="background: none !important; border: none;">
		<div class="modal-body" style="background: none !important; text-align: center;">
		  <div class="spinner-border text-primary" role="status">
			  <span class="visually-hidden">Loading...</span>
		  </div>
		</div>
	  </div>
	</div>
  </div>

</body>

</html>
