{% load static %}
	

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer id="footer">
	<div class="inner">
		<h2 class="footer_logo">UTOVILLE</h2>
		<div class="footer_info">
			<p>
				<span>UTOVILLE</span>
				<span>CEO: YOUN JI HYUN</span>
				<span>Business License Number: 810-06-01806</span>
			</p>
			<address>Address: 61, Yonsei-ro 2na-gil, Seodaemun-gu, Seoul, Republic of Korea</address>
			<p>
				<span>Customer Care: +82)10-5619-1931</span>
				<span>FAX: 0504-467-1931</span>
				<span>E-mail: manager@utoville.com</span>
			</p>
		</div>
		<div class="footer_info mobile">
			<p class="info_ico">
				<span class="contact">+82)10-5619-1931</span>
				<span class="mail">manager@utoville.com</span>
			</p>
			<p class="info_ico">
				<span class="address">61, Yonsei-ro 2na-gil, Seodaemun-gu, Seoul, Republic of Korea</span>
			</p>
			<p>Customer Care : AM 10 ~ PM 6 (Excluding weekends and holidays)</p>
			<p>UTOVILLE / Business License Number: 810-06-01806</p>
			<p>Business License Number: 810-06-01806</p>
		</div>
		<div class="footer_top">
			<div class="inner">
				<div class="footer_list">
					<a href="/member/about_us.php">About Us</a>
					<a href="/member/terms.php">Terms and Conditions</a>
					<a href="/member/policy.php">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
<!-- Back to top -->

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'vendor/tiny-slider/tiny-slider.js' %}"></script>
<script src="{% static 'vendor/purecounterjs/dist/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/choices/js/choices.min.js' %}"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/sticky-js/sticky.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.js' %}"></script>
<script src="{% static 'vendor/splide-master/dist/js/splide.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="{% static 'vendor/chart/chart.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'js/functions.js' %}"></script>

<!-- JS-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script> -->

<!-- timepicker CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

<!-- Modal -->
<div class="modal fade" id="globalModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="globalModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
		<div class="modal-header p-4">
			<h4 class="mb-0 text-center" id="modal_subject">알림</h4>
			<button type="button" class="btn-close" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body p-4" id="modal_content">
		</div>
		<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-md" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal">확인</button>
		</div>
		</div>
	</div>
</div>
  
</body>
</html>