{% load static %}
{% load humanize %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/ico">

	<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>

	<!-- Node_Modules -->
	<link rel="stylesheet" href="{% static 'vendor/node_modules/css/choices.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/node_modules/css/simplebar.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/node_modules/css/swiper-bundle.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/node_modules/css/theme-teal.min.css' %}">
	
    <!--Icons-->
    <link href="{% static 'fonts/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
	<!-- Assan Select css -->

	<!-- Main CSS -->
    <link href="{% static 'css/theme-shop.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>	

    <!--:Simplebar css ()-->
    <style type="text/css">
    .simplebar-track.simplebar-vertical {
    	width: 7px;
    }

    .simplebar-scrollbar:before {
    	background: currentColor;
    }

    </style>
    <title>Utoville Housecare</title>
  </head>

  <body>
	<!--:Preloader Spinner-->
       <!--begin:message-->
       <div class="position-relative px-4 text-center py-2 bg-dark text-white">
        <small>Worldwide shipping available</small>
      </div>
      <!--/end:message-->
     <!--begin:Header shop-->
     <nav class="navbar position-sticky top-0 z-index-fixed navbar-expand-lg navbar-light bg-white">
        <div class="container position-relative">
            <a href="{% url 'main:index' %}">
                <img src="{% static 'img/logo/logo.png' %}" alt="" class="img-fluid">
            </a>
            <div class="d-flex align-items-center navbar-no-collapse-items navbar-nav flex-row order-lg-last">
                <button class="navbar-toggler order-last" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mainNavbarTheme" aria-controls="mainNavbarTheme" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i></i>
                    </span>
                </button>

				<!--Search collapse trigger(hidden in desktop laptop)-->
				<div class="nav-item ms-0 me-4 d-lg-none">
					<a href="#searchCollapse" data-bs-target="#" data-bs-toggle="collapse" class="nav-link search-link lh-1">
						<i class="bx bx-search-alt-2 fs-4"></i>
					</a>
				</div>
				<!-- Search collapse END -->

				<!-- cart -->
                <div class="nav-item me-4 me-lg-2 ms-0">
                    <a href="{% url 'cart:detail' %}" class="nav-link lh-1 position-relative p-0">
                        <i class="bx bx-shopping-bag fs-4"></i>
                        <!--card badge-->
                        <span class="badge d-none d-lg-flex p-0 position-absolute end-0 top-0 me-n2 mt-n1 lh-1 fw-semibold width-1x height-1x bg-white shadow-sm rounded-circle flex-center text-dark">{{counter_cart_items}}</span>
                    </a>
                </div>         
				
				<!-- my page -->
                <div class="nav-item me-4 me-lg-2">
					{% if not user.is_authenticated %}
                    <a href="{% url 'account:login' %}" class="nav-link p-0">
                        <i class="bx bx-user fs-4"></i>
                    </a>
					{% else %}
					<a href="{% url 'account:my_dashboard' %}" class="nav-link p-0">
                        <i class="bx bx-user fs-4"></i>
                    </a>
					{% endif %}
                </div>

				<!-- login & logout -->
				<div class="nav-item me-4">
					{% if user.is_authenticated %}                
  					<a href="{% url 'account:logout' %}" class="nav-link lh-1 position-relative p-0">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
							<path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
						</svg>
                    </a>
					{% endif %}
                </div>     							
            </div>
            <div class="collapse navbar-collapse" id="mainNavbarTheme">
                <ul class="navbar-nav me-lg-auto ms-xl-5 ms-lg-2">
				{% for categoryFirst in category_first_list %}
					{% if categoryFirst.categorysecond_set.all.count > 0 %}
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'product:list' %}?category1={{categoryFirst.id}}">
                            {{categoryFirst.name}}
                        </a>

                        <div class="dropdown-menu">
							{% for categorySecond in categoryFirst.categorysecond_set.all %}
                            <a href="{% url 'product:list' %}?category1={{categoryFirst.id}}&category2={{categorySecond.id}}" class="dropdown-item">{{categorySecond.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'product:list' %}?category1={{categoryFirst.id}}">
							{{categoryFirst.name}}
						</a>
					</li>
					{% endif %}
				{% endfor %}
					
                </ul>
            </div>
        
            <div class="collapse collapse-search ms-xl-auto ms-lg-3 me-lg-1 d-lg-block" style="--navbar-search-width:280px;" id="searchCollapse">
                <form class="mb-0" action="{% url 'product:list' %}" method="GET">
                    <div class="position-relative mt-3 mt-lg-0 me-3">
                        <span class="position-absolute start-0 top-50 translate-middle-y ms-3 opacity-50 pt-1" style="z-index:999;">
							<i class="bx bx-search-alt-2"></i>
                        </span>
                        <input type="text" placeholder="Search Products..." name="keyword" class="form-control ps-6 rounded-pill">
                        <!--With Submit button-->
                        <!-- <button class="btn position-absolute end-0 top-0 flex-center p-0 width-4x h-100 rounded-pill btn-white">
                            <i class="bx bx-search-alt-2"></i>
                        </button> 
                        <input type="text" placeholder="Search here..." class="form-control border-0 shadow-none ps-4 pe-6 rounded-pill">
                   -->
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!--/end:Header shop-->

    
    <!--Main content-->
    <main>
