{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
<style>
.video_area {
	height: 100vh;
	overflow: hidden;
}
.video_area video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media only screen and (max-width: 767px){
	.supportText {
		font-size: 1.5em !important;
	}
	.supportImg {
		width: 150px;
		height: 150px;
	}
}
@media only screen and (max-width: 400px){
	.supportText {
		font-size: 1.3em !important;
	}
	.supportImg {
		width: 100px;
		height: 100px;
	}
}
</style>

<!-- Section -->
<section>
	<div class="container-fluid position-relative z-index-1 mt-3">
		<div class="position-relative rounded-4 overflow-hidden bg-dark">
			<div class="video_area">
				<video id="my_video" src="{% static 'user/video/video1.mp4' %}"></video>
				<div class="position-absolute top-50 start-50 translate-middle text-white w-md-75 px-4 w-lg-60 mx-auto text-center z-index-1 py-12 py-lg-15">
				<!--Hero title-->
					<h1 class="display-1 mb-3 mb-md-4 position-relative">Welcome to<br><span class="text-gradient">Utoville House Care</span></h1>

					<!--Hero text-->
					<p class="lead w-lg-60 mx-auto mb-5">Enjoy a comfortable residential life with Utoville Homecare Service.</p>

					<!--Hero buttons-->
					<div class="d-inline-block">
						<a href="{% url 'product:user_product_list' %}" class="btn btn-outline-white btn-rise">
							<div class="btn-rise-bg bg-white"></div>
							<div class="btn-rise-text">
								Shop Now
							</div>
						</a>
					</div>
				</div>
			</div>
			
		</div>
		<!--/.row-->
	</div>
</section>
<section class="position-relative" id="section">
	<div class="container py-9 py-lg-11 position-relative">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6 col-xl-5 order-lg-last mb-7 mb-lg-0">
				<!--Heading-->
				<h2 class="position-relative mb-5 display-5" data-aos="fade-up">
					We make UTOPIA LIFE with Utoville homecare service.
				</h2>
				<!--text-->
				<p class="mb-0 lead" data-aos="fade-up" data-aos-delay="100">
					Enjoy a comfortable residential life with Utoville Homecare Service.
				</p>
			</div>
			<div class="col-lg-6 col-xl-5 order-lg-1">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5" data-aos="fade-up">
						<!--Numbers card-->
						<div class="position-relative pb-2 rounded-4 overflow-hidden bg-white">
							<!--Numbers card bg-->
							<div
								class="position-absolute start-50 translate-middle-x bottom-0 bg-primary rounded-4 w-75 h-75">
							</div>
							<div class="position-relative bg-light p-4 rounded-4">
								<h2 class="display-5" data-aos
									data-countup='{"startVal":0,"suffix":"+","duration":"5"}' data-to="6750"
									data-aos-id="countup:in">0</h2>
								<h6 class="mb-0">서비스 이용자 수</h6>
							</div>
						</div>
					</div>
					<div class="col-md-6 text-center mb-5" data-aos="fade-up" data-aos-delay="100">
						<!--Numbers card-->
						<div class="position-relative pb-2 rounded-4 overflow-hidden bg-white">
							<!--Numbers card bg-->
							<div
								class="position-absolute start-50 translate-middle-x bottom-0 bg-danger rounded-4 w-75 h-75">
							</div>
							<div class="position-relative bg-light p-4 rounded-4">
								<h2 class="display-5" data-aos
									data-countup='{"startVal":0,"suffix":"+","duration":"5"}' data-to="500"
									data-aos-id="countup:in">0</h2>
								<h6 class="mb-0">입점한 판매자 수</h6>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb-5 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="150">
						<!--Numbers card-->
						<div class="position-relative pb-2 rounded-4 overflow-hidden bg-white">
							<!--Numbers card bg-->
							<div
								class="position-absolute start-50 translate-middle-x bottom-0 bg-warning rounded-4 w-75 h-75">
							</div>
							<div class="position-relative bg-light p-4 rounded-4">
								<h2 class="display-5" data-aos
									data-countup='{"startVal":0,"suffix":"+","duration":"5"}' data-to="250"
									data-aos-id="countup:in">0</h2>
								<h6 class="mb-0">계약된 공동주택 수</h6>
							</div>
						</div>
					</div>
					<div class="col-md-6 text-center" data-aos="fade-up">
						<!--Numbers card-->
						<div class="position-relative pb-2 rounded-4 overflow-hidden bg-white"
							data-aos-delay="200">
							<!--Numbers card bg-->
							<div
								class="position-absolute start-50 translate-middle-x bottom-0 bg-success rounded-4 w-75 h-75">
							</div>
							<div class="position-relative bg-light p-4 rounded-4">
								<h2 class="display-5" data-aos
									data-countup='{"startVal":0,"suffix":"+","duration":"5"}' data-to="15"
									data-aos-id="countup:in">0</h2>
								<h6 class="mb-0">이용가능한 서비스 수</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-9 py-lg-11">
			<div class="row pt-5 pt-lg-9">
				<div class="col-md-5 col-lg-4 mb-5 mb-lg-0">
					<div class="sticky-top pt-lg-3">
						<div class="ms-xl-auto ms-lg-3 me-lg-1 mt-12" style="--navbar-search-width:280px;" id="searchCollapse">
							<h6 class="mb-3 text-muted">HIGH-QUALITY SERVICE</h6>
							<h2 class="mb-4 display-4">유토빌 홈케어 베스트 상품</h2>
							<form class="mb-0" action="{% url 'product:user_product_list' %}" method="GET">
								<div class="position-relative mt-3 mt-lg-0 me-3">
									<span class="position-absolute start-0 top-50 translate-middle-y ms-3 opacity-50 pt-1" style="z-index:999;">
										<i class="bx bx-search-alt-2"></i>
									</span>
									<input type="text" placeholder="Search Services..." name="keyword" class="form-control ps-6 rounded-pill">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-7 ms-auto">
					<img src="{% static 'user/img/main/services/case6.jpg' %}" class="img-fluid mb-3" alt="" data-aos="fade-up" data-aos-once="false" style="width: 732px;">
					<img src="{% static 'user/img/main/services/case2.jpg' %}" class="img-fluid mb-3" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-once="false" style="width: 732px;">
					<img src="{% static 'user/img/main/services/case3.jpg' %}" class="img-fluid mb-3" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-once="false">
					<img src="{% static 'user/img/main/services/case4.jpg' %}" class="img-fluid mb-3" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-once="false" style="width: 732px;">
					<img src="{% static 'user/img/main/services/case5.jpg' %}" class="img-fluid mb-3" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-once="false" style="width: 732px;">
					<img src="{% static 'user/img/main/services/case1.jpg' %}" class="img-fluid" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-once="false" style="width: 732px;">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="position-relative bg-white overflow-hidden">
	<div class="container position-relative py-9 py-lg-11">
		<div class="row mb-4 mb-lg-5 align-items-end justify-content-between">
			<div class="col-md-8 mb-4 mb-md-0">
				<h6 class="mb-3 text-muted">Testimonials</h6>
				<h2 class="mb-4 display-4">Clients who love
					<span class="d-block">our
						<span class="d-inline-block" style="color: #90c31f;"
							data-typed='{"strings": ["Ideas...", "Creativity...", "passion...", "innovation..."]}'></span>
					</span>
				</h2>
			</div>
			<div class="col-md-4 text-md-end">
				<div class="position-relative d-flex justify-content-md-end align-items-center">
					<!--Buttons navigation-->
					<div
						class="swiper-testimonials-button-prev start-0 swiper-button-prev mt-0 rounded-end-0 rounded-4 position-relative width-5x height-5x me-1 rounded-circle bg-transparent text-dark border">
					</div>
					<div
						class="swiper-testimonials-button-next swiper-button-next mt-0 position-relative rounded-start-0 rounded-4 end-0 width-5x height-5x rounded-circle bg-transparent text-dark border">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<!--Swiper slider testimonials-->
				<div class="swiper-container swiper-testimonials">
					<div class="swiper-wrapper">
						<!--Slide-->
						<div class="swiper-slide">
							<div class="position-relative">
								<div class="mb-4 flex-grow-1 px-3 px-4 py-5 shadow rounded-4">
									<div class="mb-3 text-warning">
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
									</div>
									<p class="fw-semibold fs-5 mb-0">
										“ Loved working with the beautiful theme. Everything clean and
										professional,
										also very helpful throughout the customisation. Looking forward to
										buy more
										license of Assan again in the future.”
									</p>
								</div>
								<div class="d-flex align-items-center justify-content-start">

									<div class="position-relative me-3">
										<!--Avatar Image-->
										<img class="position-relative avatar lg rounded-circle p-1"
											src="assets/img/avatar/4.jpg" alt="">
									</div>
									<div>
										<h5 class="mb-0">Nala Goins</h5>
										<small class="text-muted">UI UX Designer, Paris</small>
									</div>
								</div>
							</div>
						</div>
						<!--Slide-->
						<div class="swiper-slide">
							<div class="position-relative">
								<div class="mb-4 flex-grow-1 px-3 px-4 py-5 shadow rounded-4">
									<div class="mb-3 text-warning">
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
									</div>
									<p class="fw-semibold fs-5 mb-0">
										“ Their design delivery framework is fantastic and it really helped
										us all get
										on the same page from day one. The team has delivered a strong brand
										identity and a seamless UI
										which we can’t wait to put live and begin testing. ”
									</p>
								</div>
								<div class="d-flex align-items-center justify-content-start">

									<div class="position-relative me-3">
										<img class="position-relative avatar lg rounded-circle p-1"
											src="assets/img/avatar/5.jpg" alt="">
									</div>
									<div>
										<h5 class="mb-0">Lilja Peltola</h5>
										<small class="text-muted">Full stack developer,
											Toronto</small>
									</div>
								</div>
							</div>
						</div>

						<!--Slide-->
						<div class="swiper-slide">
							<div class="position-relative">
								<div class="mb-4 flex-grow-1 px-3 px-4 py-5 shadow rounded-4">
									<div class="mb-3 text-warning">
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
									</div>
									<p class="fw-semibold fs-5 mb-0">
										“ Their design delivery framework is fantastic and it really helped
										us all get
										on the same page from day one. The team has delivered a strong brand
										identity and a seamless UI
										which we can’t wait to put live and begin testing. ”
									</p>
								</div>
								<div class="d-flex align-items-center justify-content-start">

									<div class="position-relative me-3">
										<!--Avatar Image-->
										<img class="position-relative avatar lg rounded-circle p-1"
											src="assets/img/avatar/6.jpg" alt="">
									</div>
									<div>
										<h5 class="mb-0">Adam Macofey</h5>
										<small class="text-muted">CEO, Physics, Stockholm</small>
									</div>
								</div>
							</div>
						</div>
						<!--Slide-->
						<div class="swiper-slide">
							<div class="position-relative">
								<div class="mb-4 flex-grow-1 px-3 px-4 py-5 shadow rounded-4">
									<div class="mb-3 text-warning">
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
									</div>
									<p class="fw-semibold fs-5 mb-0">
										“ Loved working with the beautiful theme. Everything clean and
										professional,
										also very helpful throughout the customisation. Looking forward to
										buy more
										license of Assan again in the future.”
									</p>
								</div>
								<div class="d-flex align-items-center justify-content-start">

									<div class="position-relative me-3">
										<!--Avatar Image-->
										<img class="position-relative avatar lg rounded-circle p-1"
											src="assets/img/avatar/7.jpg" alt="">
									</div>
									<div>
										<h5 class="mb-0">Alex Lee</h5>
										<small class="text-muted">Developer, Barcelona</small>
									</div>
								</div>
							</div>
						</div>
						<!--Slide-->
						<div class="swiper-slide">
							<div class="position-relative">
								<div class="mb-4 flex-grow-1 px-3 px-4 py-5 shadow rounded-4">
									<div class="mb-3 text-warning">
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
									</div>
									<p class="fw-semibold fs-5 mb-0">
										“ Their design delivery framework is fantastic and it really helped
										us all get
										on the same page from day one. The team has delivered a strong brand
										identity and a seamless UI
										which we can’t wait to put live and begin testing. ”
									</p>
								</div>
								<div class="d-flex align-items-center justify-content-start">

									<div class="position-relative me-3">
										<!--Avatar Image-->
										<img class="position-relative avatar lg rounded-circle p-1"
											src="assets/img/avatar/8.jpg" alt="">
									</div>
									<div>
										<h5 class="mb-0">Jayden Massey</h5>
										<small class="text-muted">UI UX master, Warsaw</small>
									</div>
								</div>
							</div>
						</div>

						<!--Slide-->
						<div class="swiper-slide">
							<div class="position-relative">
								<div class="mb-4 flex-grow-1 px-3 px-4 py-5 shadow rounded-4">
									<div class="mb-3 text-warning">
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
										<i class="bx bx-star small"></i>
									</div>
									<p class="fw-semibold fs-5 mb-0">
										“ Their design delivery framework is fantastic and it really helped
										us all get
										on the same page from day one. The team has delivered a strong brand
										identity and a seamless UI
										which we can’t wait to put live and begin testing. ”
									</p>
								</div>
								<div class="d-flex align-items-center justify-content-start">

									<div class="position-relative me-3">
										<img class="position-relative avatar lg rounded-circle p-1"
											src="assets/img/avatar/9.jpg" alt="">
									</div>
									<div>
										<h5 class="mb-0">Raymond Atkins</h5>
										<small class="text-muted">Entrepreneur, Los
											Angeles</small>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row w-100 h-25 bg-light align-items-center">
		<div class="col-6 text-end">
			<span class="fs-3 supportText">평일 9:00 - 18:00</span>
			<p class="fs-2 fw-bold supportText">유토빌 홈케어 전화 상담 1111-1111</p>
		</div>
		<div class="col-6 text-center">
			<img class="supportImg" src="{% static 'user/img/main/customer_service.jpg' %}" alt="">
		</div>
	</div>
</section>
<!--/end: Testimonials section-->

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{% static 'user/vendor/node_modules/js/swiper-bundle.min.js' %}"></script> 
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 

<script>
/*Main Swiper*/
const swiper = new Swiper('.swiper-main', {
	spaceBetween: 0,
	effect: "fade",
	autoplay: true,
	loop: true,
});	

let swiperTestimonails = new Swiper(".swiper-testimonials", {
	autoHeight: true,
	spaceBetween: 16,
	breakpoints: {
		640: {
			slidesPerView: 1,
			spaceBetween: 16
		},
		768: {
			slidesPerView: 2,
			spaceBetween: 16
		},
		1024: {
			slidesPerView: 3,
			spaceBetween: 30
		}
	},
	pagination: {
		el: ".swiper-testimonials-pagination",
		clickable: true
	},
	navigation: {
		nextEl: ".swiper-testimonials-button-next",
		prevEl: ".swiper-testimonials-button-prev"
	}
});

/*Main Video*/
let videoUrl=["video1", "video2"];
let videoTotal=videoUrl.length;
let videoN = 0;
let videoPath="";
let video=document.getElementById("my_video");
video.muted=true;
video.play();

video.addEventListener("ended", function(){
	if(videoN < (videoTotal-1)){
		videoN+=1;
	}
	else{
		videoN=0;
	}

	video.pause();
	
	videoPath="{% static 'user/video/' %}"+videoUrl[videoN]+".mp4";
	$("#my_video").attr({src:videoPath});
	video.play();

});


</script>

{% endblock %}