{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load util_filter %}

<!-- Begin page -->

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="page-title-box d-flex align-items-center justify-content-between">
					<h4 class="mb-0">문의내용</h4>

					<div class="page-title-right">
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item"><a href="javascript: void(0);">Contacts</a></li>
							<li class="breadcrumb-item active">User List</li>
						</ol>
					</div>

				</div>
			</div>
		</div>
		<!-- end page title -->

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="mt-0 mb-4 font-size-16">{{qna_obj.subject}}</h5>

						<div>
							{{qna_obj.question|safe}}
						</div>
						<hr/>
						
						<form name="qnaForm">
							{% csrf_token %}
							<div class="py-3">
								<h6>답변</h6>
								<textarea class="form-control" name="answer" placeholder="Leave a comment here" style="height: 300px">{{qna_obj.answer}}</textarea>
							</div>

							<div class="text-end">
								<a href="{% url 'qna:list' %}" class="btn btn-light mt-4">목록</a>
								<a href="#!" onclick="qna_submit();" class="btn btn-primary mt-4">답변완료</a>
							</div>
						</form>
					</div>

				</div>
			</div><!-- end col -->
		</div><!-- end row -->
	</div>
</div>


<div class="modal fade" data-bs-backdrop="static" id="qnaDeleteModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-header p-4">
			<h4 class="mb-0 text-center">알림</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body p-4">
				정말로 답변을 거부하시겠습니까?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary ms-1" onclick="qna_delete_submit();">확인</button>
				<button type="button" class="btn btn-primary btn-md" data-bs-dismiss="modal">취소</button>
			</div>

		</div>
	</div>
</div>

<script>
var is_run = false;

	
async function qna_submit() {
	var qnaForm = document.qnaForm;
	var answer = qnaForm.answer.value;
	
	if (isEmpty(answer)) {
			openModal('알림','답변을 입력해주세요.');
		return false;
	}

	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

	is_run = true;
	
	const response = await fetch("{{request.path}}", {
		method: "POST",
		headers: {
			"X-CSRFToken": getCookie("csrftoken"),
		},
		body: JSON.stringify({
			'answer': answer,
		}),
	})
	.then(response => response.json())
	.then(data => {
		is_run  = false;
		if (data.result == '200') {
			openModal("알림", data.result_text, '#qnaDeleteModal', `location.href="{% url 'qna:list' %}";`);
		} else {
			openModal("알림", data.result_text, '#qnaDeleteModal');
		}
	});
}


</script>

{% endblock %}
