{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
<!--Form billing information-->
<section class="position-relative bg-white" id="order-view-section">
	<div class="container pb-7 pb-lg-12 pt-7 position-relative">
		<div class="row">
			<div class="col-12 mx-auto">
				<div class="table-responsive">
					<h4 class="mb-4 pt-5">Order list</h4>
					<table class="table table-striped align-middle">
						<thead>
							<tr>
								<th style="width:15%"></th>
								<th class="small text-muted">
									<div style="min-width:280px">Product</div>
								</th>
								<th class="small text-muted" style="width:15%">Price</th>
								<th class="small text-muted" style="width:20%">Quantity</th>
								<th class="small text-muted" style="width:15%">Subtotal</th>
							</tr>
						</thead>
						<tbody>
							{% if not order_items %}
							<tr>
								<td class="border-bottom-0 text-center p-5" colspan="6">상품이 없습니다.</td>
							</tr>
							{% endif%}

							{% for order_item in order_items %}
							
							<tr>
								<td>
									<img src="{% static 'img/shop/backpack2.jpg' %}" class="width-7x rounded-3">
								</td>
								<td>
									<span class="text-dark h5">
										{{order_item.product_name}}
									</span>
									{% if order_item.variant_value is not None %}
									<span class="text-uppercase d-block">
										{{order_item.variant}}: {{order_item.variant_value}}
									</span>
									
									<span class="text-uppercase d-block">+₱{{order_item.variant_price}}</span>
									{% endif %}
								</td>
								<td>
									{% if order_item.variant is not None %}
									₱{{order_item.product_price|add:order_item.variant_price|intcomma}}
									{% else %}
									₱{{order_item.product_price|intcomma}}
									{% endif %}
								</td>
								<td>
									<span class="text-uppercase d-block">{{order_item.quantity}}</span>
								</td>
								<td>
									{% if order_item.variant is not None %}
									₱{{order_item.product_price|add:order_item.variant_price|mul:order_item.quantity|intcomma}}
									{% else %}
									₱{{order_item.product_price|mul:order_item.quantity|intcomma}}
									{% endif %}
								</td>
							</tr>

							{% endfor %}
							
						</tbody>
					</table>


					<!--Checkout product info table-->
					<table class="table mb-5 table-bordered">
						<tr class="bg-light">
							<th>상품금액</th>
							<td class="fw-bold fs-5 text-dark">Free Shipping</td>
						</tr>
						<tr>
							<th>포인트사용</th>
							<td class="fw-bold fs-5 text-dark">
								<input type="text" class="use-point">
							</td>
						</tr>
						<tr class="bg-light">
							<th>총금액</th>
							<td class="fw-bold fs-5 text-dark">Free Shipping</td>
						</tr>
					</table>
				</div>
				<div class="payment-area col">
					<h4 class="mb-4">Method of payment</h4>
					<div class="mb-4 form-check">
						<input type="checkbox" class="" id="conditions_before_order" name="">
						<label class="form-check-label" for="conditions_before_order"> 
							I accept the <a href="#" class="text-dark link-decoration">Terms</a> and
							<a href="#" class="text-dark link-decoration">conditions</a> and the
							<a href="#" class="text-dark link-decoration">data protection guidelines.</a>
						</label>
					</div>
					<div class="d-grid">
						<button type="submit" class="btn btn-lg hover-lift btn-hover-text btn-primary">
							<span class="btn-hover-label label-default">Place your order</span>
							<span class="btn-hover-label label-hover">Place your order</span>
						</button>
					</div>
				</div>	
			</div>		
		</div>
	</div>
</section>

<script>
let usePoint = document.querySelector(".use-point");
console.log(usePoint);
</script>
{% endblock %}