{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

<link href="{% static 'css/borex.app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

<style>
.point-btn {
	border: 1px solid #232323 !important;
    color: #232323;
    background: #fff;
	margin-left: 10px;
	padding: 8px 10px;
	font-size: 14px;
}
.point-btn:hover {
	background-color: #232323 !important;
	color: #fff !important;
}
.order-product-name {
	display: block;
	width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.order-option-name {
	display: block;
	width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 442px) {
	.point-btn {
		margin-left: 0;
		margin-top: 10px;
	}
} 
@media only screen and (max-width: 400px) {
	.order-item-list {
		flex-direction: column;
		text-align: center !important;
	}
	.order-item-details, .order-item-price {
		width: 100% !important;
		margin-left:  0 !important;
	}
	.order-item-price {
		margin-top: 5px;
		text-align: center !important;
		font-size: 16px;
		font-weight: bold;
	}
	.order-product-name, .order-option-name {
		width: 100%;
	}
	.avatar-lg {
		width: 50%;
		height: auto;
	}
	.use-point {
		width: 100%;
	}
}
</style>
<!--Form billing information-->
<section class="position-relative overflow-hidden">    
	<div class="container-fluid">
	   <div class="py-8 py-lg-11 bg-dark text-white position-relative">
			<img src="assets/img/shop/banners/06.jpg" class="bg-image bg-top-center opacity-75" alt="">
			<div class="col-lg-10 mx-auto text-center">
			<h1 class="mb-0 display-3">Order View</h1>
			</div>
	   </div>
	</div>
 </section>
<section class="position-relative bg-white" id="order-view-section">
	<div class="container pb-7 pb-lg-12 pt-7 position-relative">
		<div class="row">
			<div class="col-xl-8">
				<div class="card">
					<div class="card-body">
						<ol class="activity-checkout mb-0 px-4 mt-3">
							<li class="checkout-item">
								<div class="avatar checkout-icon p-1">
									<div class="avatar-title rounded-circle bg-brandBlue">
										<i class="bx bxs-receipt text-white font-size-20"></i>
									</div>
								</div>
								<div class="feed-item-list">
									<div>
										<h5 class="font-size-16 mb-1">Billing Info</h5>
										<p class="text-muted text-truncate mb-4">Sed ut perspiciatis unde omnis iste</p>
										<div class="mb-3">
											<form>
												<div>
													<div class="row">
														<div class="col-lg-4">
															<div class="mb-3">
																<label class="form-label" for="billing-name">Name</label>
																<input type="text" class="form-control" id="billing-name" placeholder="Enter name">
															</div>
														</div>
														<div class="col-lg-4">
															<div class="mb-3">
																<label class="form-label" for="billing-email-address">Email Address</label>
																<input type="email" class="form-control" id="billing-email-address" placeholder="Enter email">
															</div>
														</div>
														<div class="col-lg-4">
															<div class="mb-3">
																<label class="form-label" for="billing-phone">Phone</label>
																<input type="text" class="form-control" id="billing-phone" placeholder="Enter Phone no.">
															</div>
														</div>
													</div>

													<div class="mb-3">
														<label class="form-label" for="billing-address">Address</label>
														<textarea class="form-control" style="border-color: #ddd;" id="billing-address" rows="3" placeholder="Enter full address"></textarea>
													</div>

													<div class="row">
														<div class="col-lg-4">
															<div class="mb-4 mb-lg-0">
																<label class="form-label">City</label>
																<select class="form-control form-select" title="City">
																	<option value="0">Select City</option>
																</select>
															</div>
														</div>

														<div class="col-lg-4">
															<div class="mb-4 mb-lg-0">
																<label class="form-label" for="billing-state">State</label>
																<input type="text" class="form-control" id="billing-state" placeholder="Enter State">
															</div>
														</div>

														<div class="col-lg-4">
															<div class="mb-0">
																<label class="form-label" for="zip-code">Zip / Postal code</label>
																<input type="text" class="form-control" id="zip-code" placeholder="Enter Postal code">
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</li>
							<li class="checkout-item">
								<div class="avatar checkout-icon p-1">
									<div class="avatar-title rounded-circle bg-brandBlue">
										<i class="bx bxs-truck text-white font-size-20"></i>
									</div>
								</div>
								<div class="feed-item-list">
									<div>
										<h5 class="font-size-16 mb-1">Shipping Info</h5>
										<p class="text-muted text-truncate mb-4">Neque porro quisquam est</p>
										<div class="mb-3">
											<div class="row">
												<div class="col-lg-4 col-sm-6 position-relative">
													<div data-bs-toggle="collapse">
														<label class="card-radio-label mb-0">
															<input type="radio" name="address" id="info-address1" class="card-radio-input" checked>
															<div class="card-radio text-truncate p-3">
																<span class="fs-14 mb-4 d-block">Address 1</span>
																<span class="fs-14 mb-2 d-block">Bradley McMillian</span>
																<span class="text-muted fw-normal text-wrap mb-1 d-block">109 Clarksburg Park Road Show Low, AZ 85901</span>	   
																<span class="text-muted fw-normal d-block">Mo. 012-345-6789</span>
															</div>
														</label>
														<div class="edit-btn bg-light rounded">
															<a href="#"  data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Edit">
																<i class="bx bx-pencil font-size-16"></i>
															</a>
														</div>
													</div>
												</div>

												<div class="col-lg-4 col-sm-6 position-relative">
													<div>
														<label class="card-radio-label mb-0">
															<input type="radio" name="address" id="info-address2" class="card-radio-input">
															<div class="card-radio text-truncate p-3">
																<span class="fs-14 mb-4 d-block">Address 2</span>
																<span class="fs-14 mb-2 d-block">Bradley McMillian</span>
																<span class="text-muted fw-normal text-wrap mb-1 d-block">109 Clarksburg Park Road Show Low, AZ 85901</span>
																<span class="text-muted fw-normal d-block">Mo. 012-345-6789</span>
															</div>
														</label>
														<div class="edit-btn bg-light rounded">
															<a href="#"  data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Edit">
																<i class="bx bx-pencil font-size-16"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="checkout-item">
								<div class="avatar checkout-icon p-1">
									<div class="avatar-title rounded-circle bg-brandBlue">
										<i class="bx bxs-wallet-alt text-white font-size-20"></i>
									</div>
								</div>
								<div class="feed-item-list">
									<div>
										<h5 class="font-size-16 mb-1">Payment Info</h5>
										<p class="text-muted text-truncate mb-4">Duis arcu tortor, suscipit eget</p>
									</div>
									<div class="mb-4">
										<h5 class="font-size-14 mb-3">Use Point :</h5>
										<div class="point-input text-start">
											<input type="text" name="points" min="0" value="0" class="use-point">
											<button class="btn point-btn">전액사용</button>									
										</div>	
									</div>
									<div>
										<h5 class="font-size-14 mb-3">Payment method :</h5>
										<div class="row">
											<div class="col-lg-3 col-sm-6">
												<div data-bs-toggle="collapse">
													<label class="card-radio-label">
														<input type="radio" name="pay-method" id="pay-methodoption1" class="card-radio-input">
														<span class="card-radio py-3 text-center text-truncate">
															<i class="bx bx-credit-card d-block h2 mb-3"></i>
															Credit / Debit Card
														</span>
													</label>
												</div>
											</div>
											
											<div class="col-lg-3 col-sm-6">
												<div>
													<label class="card-radio-label">
														<input type="radio" name="pay-method" id="pay-methodoption2" class="card-radio-input">
														<span class="card-radio py-3 text-center text-truncate">
															<i class="bx bxl-paypal d-block h2 mb-3"></i>
															Paypal
														</span>
													</label>
												</div>
											</div>

											<div class="col-lg-3 col-sm-6">
												<div>
													<label class="card-radio-label">
														<input type="radio" name="pay-method" id="pay-methodoption3" class="card-radio-input" checked>

														<span class="card-radio py-3 text-center text-truncate">
															<i class="bx bx-money d-block h2 mb-3"></i>
															<span>Cash on Delivery</span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ol>
					</div>
				</div>	
			</div>
			<div class="col-xl-4">
				<div class="mt-5 mt-lg-0 position-sticky" style="top: 75px;">
					<div class="card-header bg-transparent border-bottom py-3 px-4">
						<h5 class="font-size-16 mb-0">Order Summary <span class="float-end ms-2">#MN0124</span></h5>
					</div>
					<div class="card-body p-4 pt-2">
						<div class="contents">
							{% for order_item in order_items %}
							<div class="d-flex justify-content-between order-item-list">
								<div class="item-image">
									<img src="{% static 'img/shop/backpack2.jpg' %}" alt="product-img" title="product-img" class="avatar-lg rounded">
								</div>
								<div class="ms-3 w-75 order-item-details">
									<h5 class="font-size-16 text-truncate"><a href="{% url 'product:list' %}" class="text-dark order-product-name">{{order_item.product_name}}</a></h5>
									{% if order_item.variant_value is not None %}
									<span class="text-uppercase order-option-name">
										{{order_item.variant}}: {{order_item.variant_value}}
									</span>
									<span class="text-uppercase d-block">+₱{{order_item.variant_price}}</span>
									{% endif %}
									<p class="text-muted mb-0 mt-1">
										₱{{order_item.sub_price|intcomma}} X {{order_item.ordered_quantity}}
									</p>
								</div>
								<span class="w-25 text-end order-item-price">
									₱{{order_item.sub_total_price |intcomma}}
								</span>
							</div>
							<hr>
							{% endfor %}
							<div class="d-flex justify-content-between p-2 mb-2">
								<h5 class="font-size-14 m-0">Sub Total :</h5>
								<span class="total-price">₱{{total_price|intcomma}}</span>
							</div>
							<div class="d-flex justify-content-between p-2 mb-2">  
								<h5 class="font-size-14 m-0">Discount :</h5>
								<span>0</span>
							</div>
							<div class="d-flex justify-content-between p-2 mb-2">  
								<h5 class="font-size-14 m-0">Point :</h5>
								<span class="total-point">0</span>
							</div>
							<div class="d-flex justify-content-between p-2 mb-2">
								<h5 class="font-size-14 m-0">Shipping Charge :</h5>
								<span>0</span>
							</div>                     	
							<div class="d-flex justify-content-between align-items-center p-2 mb-5 bg-light">
								<h5 class="font-size-14 m-0">Total:</h5>
								<span class="pd fw-bold fs-5 text-dark">
									<span class="payment">₱{{total_price|intcomma}}</span>
								</span>
							</div>
						</div>
					</div>
					<div class="row my-4">
						<div class="col">
							<a href="{% url 'product:list' %}" class="link-hover-underline text-body"><i
								class="bx bx-left-arrow-alt fs-6 align-middle me-1"></i>Continue shopping
						</a>
						</div> <!-- end col -->
						<div class="col">
							<div class="text-end mt-2 mt-sm-0">
								<a href="#!" onclick="order_create_submit();" class="btn btn-outline-brandGreen btn-rise">
									<div class="btn-rise-bg" style="background-color: #90c31f;"></div>
									<div class="btn-rise-text">Procced</div>
								</a>
								<input type="hidden" name="obj_data" value=''>
							</div>
						</div> <!-- end col -->
					</div> <!-- end row-->
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
</section>

<script>
let is_run = false;

let pointForm = document.querySelector(".use-point");
let totalPrice = document.querySelector(".total-price");
let pointBtn = document.querySelector(".point-btn");
let payment = document.querySelector(".payment");
let usingPoint = document.querySelector(".using-point");


const regex = /[^0-9.]/g;
const result = totalPrice.innerHTML.replace(regex, "");

"propertychange change keyup paste input".split(" ").forEach(function(e){ 
	  pointForm.addEventListener(e, function(){
		let check = /^[0-9.]+$/;
		pointForm.value = Number(pointForm.value).toFixed(2);

		if(!check.test(pointForm.value) && pointForm.value != ''){
			pointForm.value = 0;
			payment.innerHTML = "₱" + "{{total_price|intcomma}}";
			return false;	
		}
		
		if(parseFloat(pointForm.value) > parseFloat('{{request.user.point}}')){ 
			pointForm.value = '{{request.user.point}}';
			return false;
		}

		if(parseFloat(pointForm.value) > parseFloat('{{total_price}}')){ 
			pointForm.value = '{{total_price}}';
			return false;
		}

		let calcPrice = (result - pointForm.value).toFixed(2);
		let sumPrice= numberWithCommas(calcPrice);
		payment.innerHTML = "₱" + sumPrice;				
		
	});

});

pointBtn.addEventListener("click", function(){
	pointForm.value = '{{request.user.point}}';

	let calcPrice = (result - pointForm.value).toFixed(2);
	let sumPrice= numberWithCommas(calcPrice);
	let totalPoint = document.querySelector(".total-point");

	payment.innerHTML = "₱" + sumPrice;
	totalPoint.innerHTML = "-₱" + pointForm.value;
});


async function order_submit() {
	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

	is_run = true;

	let form_data = new FormData();
	form_data.append('order_id', '{{request.GET.id}}')
	form_data.append('used_point', pointForm.value)

    const response = await fetch("{% url 'charge:payment' %}", {
		method: "POST",
		headers: {
			"X-CSRFToken": getCookie("csrftoken"),
		},
		body: form_data,
	})
	.then(response => response.json())
	.then(data => {
		console.log(data);
		is_run  = false;
		if (data.result == '200') {
			temp_call_back();
		} else {
			openModal("알림", data.result_text);
		}
	});
}


async function temp_call_back() {
	if(is_run == true) {
		openModal('알림','잠시후에 다시시도 해주세요.');
		return false;
	}

	is_run = true;

	let form_data = new FormData();
	form_data.append('order_id', '1')
	form_data.append('used_point', pointForm.value)

    const response = await fetch("{% url 'charge:call_back' %}", {
		method: "POST",
		headers: {
			"X-CSRFToken": getCookie("csrftoken"),
		},
		body: form_data,
	})
	.then(response => response.json())
	.then(data => {
		console.log(data);
		is_run  = false;
		if (data.result == '200') {
			openModal("알림", data.result_text);
		} else {
			openModal("알림", data.result_text);
		}
	});
}

</script>
{% endblock %}