{% load static %}

</main>
<!--begin:footer-->
<footer class="position-relative bg-dark text-white overflow-hidden">
	<div class="container pt-9 pt-lg-9 pb-6 position-relative">
		<div class="row">
			<!-- logo -->
			<div class="col-lg-3 col-md-6 mb-3">
				<div class="d-flex align-items-md-stretch flex-column h-100">
					<div class="flex-grow-1 d-flex flex-column">
						<div class="mb-4">
							<a href="{% url 'main:user_index' %}">
								<img src="{% static 'user/img/logo/logo.png' %}" alt="">
							</a>
						</div>
					</div>
					<p class="small text-muted mb-0">COPYRIGHT © UTOVILLE ALL RIGHTS RESERVED.</p>
				</div>
			</div>
			<div class="col-6 col-lg-3 col-xl-2 ms-lg-auto mb-3">
				<h6 class="mb-4">Company</h6>
				<ul class="nav flex-column mb-0">
					<li class="nav-item"><a class="nav-link" href="#!">About</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'main:user_contact' %}">Contact</a></li>

					<li class="nav-item"><a class="nav-link" href="{% url 'main:partnership_inquiry' %}">Partnership Inquiry</a></li>

					<li class="nav-item"><a class="nav-link" href="{% url 'main:user_faq' %}">FAQ</a>
					</li>
				</ul>
			</div>	
			<div class="col-6 col-lg-3 col-xl-2 ms-lg-auto mb36">
				<h6 class="mb-4">Account</h6>
				<ul class="nav flex-column mb-0">
					<li class="nav-item"><a class="nav-link" href="{% url 'account:user_my_dashboard' %}">대쉬 보드</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'account:user_my_order' %}">주문 조회</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'account:user_my_subscribe' %}">구독 관리</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'account:user_my_qna_list' %}">1:1 문의</a></li>
				</ul>
			</div>
			<div class="col-md-6 col-lg-3 col-xl-2 ms-lg-auto mb-3">
				<h6 class="mb-4">Services</h6>
				<ul class="nav flex-column mb-0">
					<li class="nav-item"><a class="nav-link" href="#!">청소</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">소독</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">수리</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">가전케어</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">이사</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">차 서비스</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">생수 배달</a></li>
				</ul>
			</div>
		</div>
		<hr class="bg-transparent border-top border-white opacity-25 mt-0">
		<div class="col-md-12 text-start">
			<!-- Links -->
			<ul class="list-inline small mb-0">				
				<li class="list-inline-item me-3">
					<a class="d-block" href="#!">Terms &amp; Conditions</a>
				</li>
				<li class="list-inline-item me-3">
					<a class="d-block" href="#!">Privacy &amp; Policy</a>
				</li>
			</ul>
			<!-- End Links -->
		</div>
	</div>
</footer>
<!--/end:footer-->


 <!-- scripts -->
<script src="{% static 'user/js/theme.bundle.js' %}"></script>
<script src="{% static 'user/js/custom.js' %}"></script>

<!--scripts-->
<script src="{% static 'user/vendor/node_modules/js/choices.min.js' %}"></script>
<script src="{% static 'user/vendor/node_modules/js/nouislider.min.js' %}"></script>
<script src="{% static 'user/vendor/node_modules/js/simplebar.min.js' %}"></script>


<div class="modal fade" id="globalModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="globalModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
		<div class="modal-header p-4">
			<h4 class="mb-0 text-center" id="modal_subject">알림</h4>
			<button type="button" class="btn-close" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body p-4" id="modal_content">
		</div>
		<div class="modal-footer">
				<button type="button" class="btn btn-outline-brandGreen hover-lift" id="closeModalBtn" data-before-modal="" onclick="closeModal()" data-bs-dismiss="modal">확인</button>
		</div>
		</div>
	</div>
</div>


<div class="modal" style="background: none !important;" id="loading" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" style="background: none !important;">
		<div class="modal-content" style="background: none !important; border: none;">
			<div class="modal-body" style="background: none !important; text-align: center;">
				<div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
			</div>
		</div>
	</div>
</div>

</body>

</html>
